<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pcbz_bq_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,116}</string>
                <key>spriteSourceSize</key>
                <string>{162,116}</string>
                <key>textureRect</key>
                <string>{{552,38},{162,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pcbz_bqy_bt_1a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{356,34}</string>
                <key>spriteSourceSize</key>
                <string>{356,34}</string>
                <key>textureRect</key>
                <string>{{336,2},{356,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pcbz_bqy_bt_1b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,34}</string>
                <key>spriteSourceSize</key>
                <string>{178,34}</string>
                <key>textureRect</key>
                <string>{{694,2},{178,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pcbz_bqy_bt_1c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,34}</string>
                <key>spriteSourceSize</key>
                <string>{178,34}</string>
                <key>textureRect</key>
                <string>{{626,178},{178,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pcbz_bqy_bt_2a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,46}</string>
                <key>spriteSourceSize</key>
                <string>{82,46}</string>
                <key>textureRect</key>
                <string>{{716,102},{82,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pcbz_bqy_bt_2b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,46}</string>
                <key>spriteSourceSize</key>
                <string>{82,46}</string>
                <key>textureRect</key>
                <string>{{828,38},{82,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pcbz_bsx_bt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,20}</string>
                <key>spriteSourceSize</key>
                <string>{240,20}</string>
                <key>textureRect</key>
                <string>{{552,156},{240,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pcbz_bzfw_bt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,52}</string>
                <key>spriteSourceSize</key>
                <string>{288,52}</string>
                <key>textureRect</key>
                <string>{{336,180},{288,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pcbz_bzlw_bt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,18}</string>
                <key>spriteSourceSize</key>
                <string>{308,18}</string>
                <key>textureRect</key>
                <string>{{336,234},{308,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pcbz_db.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,214}</string>
                <key>spriteSourceSize</key>
                <string>{140,214}</string>
                <key>textureRect</key>
                <string>{{336,38},{140,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pcbz_db_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,30}</string>
                <key>spriteSourceSize</key>
                <string>{80,30}</string>
                <key>textureRect</key>
                <string>{{800,122},{80,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pcbz_db_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,30}</string>
                <key>spriteSourceSize</key>
                <string>{188,30}</string>
                <key>textureRect</key>
                <string>{{646,214},{188,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pcbz_db_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,30}</string>
                <key>spriteSourceSize</key>
                <string>{110,30}</string>
                <key>textureRect</key>
                <string>{{716,38},{110,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pcbz_db_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,30}</string>
                <key>spriteSourceSize</key>
                <string>{110,30}</string>
                <key>textureRect</key>
                <string>{{716,70},{110,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pcbz_gz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,24}</string>
                <key>spriteSourceSize</key>
                <string>{70,24}</string>
                <key>textureRect</key>
                <string>{{806,154},{70,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pcbz_jb_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{836,206},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pcbz_jbz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,24}</string>
                <key>spriteSourceSize</key>
                <string>{70,24}</string>
                <key>textureRect</key>
                <string>{{806,180},{70,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pcbz_ljj_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,243}</string>
                <key>spriteSourceSize</key>
                <string>{332,243}</string>
                <key>textureRect</key>
                <string>{{2,2},{332,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pcbz_num_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,26}</string>
                <key>spriteSourceSize</key>
                <string>{10,26}</string>
                <key>textureRect</key>
                <string>{{878,154},{10,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pcbz_num_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,26}</string>
                <key>spriteSourceSize</key>
                <string>{16,26}</string>
                <key>textureRect</key>
                <string>{{800,102},{16,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bankrupt_new_texture.png</string>
            <key>size</key>
            <string>{890,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ee39b001240c227b5d973e1805e8591:8f73af44a07d3b6eedf1c79e6e86e94c:e634145c6eb561fbfab7fbf59072d6b0$</string>
            <key>textureFileName</key>
            <string>bankrupt_new_texture.png</string>
        </dict>
    </dict>
</plist>
