<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bcs_bt_1a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,77}</string>
                <key>spriteSourceSize</key>
                <string>{176,77}</string>
                <key>textureRect</key>
                <string>{{257,259},{176,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bcs_bt_1a_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,77}</string>
                <key>spriteSourceSize</key>
                <string>{125,77}</string>
                <key>textureRect</key>
                <string>{{647,1},{125,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bcs_bt_1a_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,77}</string>
                <key>spriteSourceSize</key>
                <string>{125,77}</string>
                <key>textureRect</key>
                <string>{{886,312},{125,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bcs_bt_1a_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,77}</string>
                <key>spriteSourceSize</key>
                <string>{125,77}</string>
                <key>textureRect</key>
                <string>{{878,391},{125,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bcs_bt_1b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,77}</string>
                <key>spriteSourceSize</key>
                <string>{176,77}</string>
                <key>textureRect</key>
                <string>{{435,259},{176,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bcs_bt_2a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,77}</string>
                <key>spriteSourceSize</key>
                <string>{176,77}</string>
                <key>textureRect</key>
                <string>{{549,338},{176,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bcs_bt_2b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,77}</string>
                <key>spriteSourceSize</key>
                <string>{176,77}</string>
                <key>textureRect</key>
                <string>{{613,259},{176,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bcs_bt_3a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,77}</string>
                <key>spriteSourceSize</key>
                <string>{176,77}</string>
                <key>textureRect</key>
                <string>{{791,1},{176,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bcs_bt_3b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,77}</string>
                <key>spriteSourceSize</key>
                <string>{176,77}</string>
                <key>textureRect</key>
                <string>{{647,80},{176,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bcs_bt_4a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,68}</string>
                <key>spriteSourceSize</key>
                <string>{183,68}</string>
                <key>textureRect</key>
                <string>{{309,338},{183,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bcs_bt_4a_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,92}</string>
                <key>spriteSourceSize</key>
                <string>{249,92}</string>
                <key>textureRect</key>
                <string>{{215,339},{249,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bcs_bt_4b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,68}</string>
                <key>spriteSourceSize</key>
                <string>{183,68}</string>
                <key>textureRect</key>
                <string>{{309,523},{183,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bcs_cj_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,54}</string>
                <key>spriteSourceSize</key>
                <string>{68,54}</string>
                <key>textureRect</key>
                <string>{{494,520},{68,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bcs_cj_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,22}</string>
                <key>spriteSourceSize</key>
                <string>{81,22}</string>
                <key>textureRect</key>
                <string>{{131,259},{81,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bcs_cj_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{628,470},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bcs_cj_06_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{114,114}</string>
                <key>textureRect</key>
                <string>{{890,80},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bcs_cj_lz_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{114,114}</string>
                <key>textureRect</key>
                <string>{{890,196},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bcs_g01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,212}</string>
                <key>spriteSourceSize</key>
                <string>{238,212}</string>
                <key>textureRect</key>
                <string>{{1,343},{238,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bcs_g02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,168}</string>
                <key>spriteSourceSize</key>
                <string>{180,168}</string>
                <key>textureRect</key>
                <string>{{379,338},{180,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bcs_g04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,162}</string>
                <key>spriteSourceSize</key>
                <string>{162,162}</string>
                <key>textureRect</key>
                <string>{{726,80},{162,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bcs_g06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,93}</string>
                <key>spriteSourceSize</key>
                <string>{93,93}</string>
                <key>textureRect</key>
                <string>{{791,244},{93,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bcs_g08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,93}</string>
                <key>spriteSourceSize</key>
                <string>{93,93}</string>
                <key>textureRect</key>
                <string>{{783,339},{93,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bcs_g09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{131,1},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bcs_g10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{389,1},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bcs_jd_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,128}</string>
                <key>spriteSourceSize</key>
                <string>{340,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{340,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bcs_jd_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,23}</string>
                <key>spriteSourceSize</key>
                <string>{153,23}</string>
                <key>textureRect</key>
                <string>{{628,338},{153,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bcs_jd_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,33}</string>
                <key>spriteSourceSize</key>
                <string>{37,33}</string>
                <key>textureRect</key>
                <string>{{969,1},{37,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bcs_jd_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,23}</string>
                <key>spriteSourceSize</key>
                <string>{153,23}</string>
                <key>textureRect</key>
                <string>{{628,363},{153,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bcs_jd_szbfb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{969,36},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bcs_talk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,100}</string>
                <key>spriteSourceSize</key>
                <string>{78,100}</string>
                <key>textureRect</key>
                <string>{{155,259},{78,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bcs_tb_01_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,76}</string>
                <key>spriteSourceSize</key>
                <string>{75,76}</string>
                <key>textureRect</key>
                <string>{{550,516},{75,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bcs_tb_02_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,76}</string>
                <key>spriteSourceSize</key>
                <string>{75,76}</string>
                <key>textureRect</key>
                <string>{{628,388},{75,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bcs_tb_03_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,76}</string>
                <key>spriteSourceSize</key>
                <string>{75,76}</string>
                <key>textureRect</key>
                <string>{{705,388},{75,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bcs_tb_04_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,76}</string>
                <key>spriteSourceSize</key>
                <string>{75,76}</string>
                <key>textureRect</key>
                <string>{{783,434},{75,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bcs_tb_05_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,76}</string>
                <key>spriteSourceSize</key>
                <string>{75,76}</string>
                <key>textureRect</key>
                <string>{{714,511},{75,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bcs_tb_06_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,76}</string>
                <key>spriteSourceSize</key>
                <string>{75,76}</string>
                <key>textureRect</key>
                <string>{{791,511},{75,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bcs_tb_07_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,76}</string>
                <key>spriteSourceSize</key>
                <string>{75,76}</string>
                <key>textureRect</key>
                <string>{{868,470},{75,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>BCS_Layer.png</string>
            <key>size</key>
            <string>{1012,592}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a2856780afe230c6bcb3ddc5091ff06:f1ce9f6f6deac6cd5dee22605e263e10:d736ac0d17bbfa9eb08266e6d51c6d1b$</string>
            <key>textureFileName</key>
            <string>BCS_Layer.png</string>
        </dict>
    </dict>
</plist>
