<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bcs_cj_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{414,433}</string>
                <key>spriteSourceSize</key>
                <string>{414,433}</string>
                <key>textureRect</key>
                <string>{{1,1},{414,433}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bcs_cj_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{417,1},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bcs_cj_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{417,85},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>BCS_bg.png</string>
            <key>size</key>
            <string>{500,435}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38917a8be6603c646d902a0d873cac72:82fcf1ccfa261d00c18eaee581a7e6cb:5e505f6c098fafd7078742d92f6944aa$</string>
            <key>textureFileName</key>
            <string>BCS_bg.png</string>
        </dict>
    </dict>
</plist>
