<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sgj_ls_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,47}</string>
                <key>spriteSourceSize</key>
                <string>{46,47}</string>
                <key>textureRect</key>
                <string>{{2,2},{46,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sgj_sm_z_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,17}</string>
                <key>spriteSourceSize</key>
                <string>{49,17}</string>
                <key>textureRect</key>
                <string>{{2,51},{49,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sgj_sm_z_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,17}</string>
                <key>spriteSourceSize</key>
                <string>{49,17}</string>
                <key>textureRect</key>
                <string>{{2,70},{49,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sgj_sm_z_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,17}</string>
                <key>spriteSourceSize</key>
                <string>{49,17}</string>
                <key>textureRect</key>
                <string>{{2,89},{49,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>benz_sub.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63e461dec7a2d39cf1b6fd3702dc3632:ad3a6068d873897a2109f3c35cf4fddd:c69cfd4dd9c91decd8b3e3ec75e972d1$</string>
            <key>textureFileName</key>
            <string>benz_sub.png</string>
        </dict>
    </dict>
</plist>
