<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chat_emoji_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,403},{72,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{72,70}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>chat_emoji_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,263},{70,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{70,66}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>chat_emoji_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{58,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{58,68}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>chat_emoji_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,195},{70,66}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{70,66}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>chat_emoji_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,331},{70,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{70,68}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>chat_emoji_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,61},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{68,66}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>chat_emoji_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,473},{70,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>chat_emoji_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,401},{70,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{70,70}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>chat_emoji_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,475},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>chat_emoji_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,129},{70,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{70,64}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>chat_emoji_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,331},{72,68}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,68}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>chat_emoji_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,65},{70,62}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{70,62}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>chat_emoji_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,65},{70,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{70,62}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>chat_emoji_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,129},{70,64}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{70,64}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>chat_emoji_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,195},{70,66}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,66}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>chat_emoji_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,263},{66,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{66,70}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>chat_emoji_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,263},{66,70}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,70}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>chat_emoji_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,1},{70,62}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{70,62}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>chat_emoji_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,401},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{70,70}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>chat_emoji_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,129},{70,64}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{70,64}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>chat_emoji_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,195},{70,66}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{70,66}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>chat_emoji_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,475},{70,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>chat_emoji_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,1},{70,62}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{70,62}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>chat_emoji_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,331},{72,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,70}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chatEmojiRes.png</string>
            <key>size</key>
            <string>{220,546}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5db8ac57c93caa9e4ea594b23a536360$</string>
            <key>textureFileName</key>
            <string>chatEmojiRes.png</string>
        </dict>
    </dict>
</plist>
