<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>com_toast_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{940,319},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dl_editor_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,20}</string>
                <key>spriteSourceSize</key>
                <string>{21,20}</string>
                <key>textureRect</key>
                <string>{{967,444},{21,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dt_grxx_bt_2a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{896,370},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt_grxx_bt_2b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{943,369},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt_mrth_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,35}</string>
                <key>spriteSourceSize</key>
                <string>{140,35}</string>
                <key>textureRect</key>
                <string>{{721,255},{140,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dt_mrth_bt_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,70}</string>
                <key>spriteSourceSize</key>
                <string>{215,70}</string>
                <key>textureRect</key>
                <string>{{242,343},{215,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt_mrth_bt_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,70}</string>
                <key>spriteSourceSize</key>
                <string>{215,70}</string>
                <key>textureRect</key>
                <string>{{649,255},{215,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dt_mrth_off_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{877,132},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt_mrth_off_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{877,184},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fall_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,124}</string>
                <key>spriteSourceSize</key>
                <string>{380,124}</string>
                <key>textureRect</key>
                <string>{{373,129},{380,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>falltxt_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,60}</string>
                <key>spriteSourceSize</key>
                <string>{192,60}</string>
                <key>textureRect</key>
                <string>{{775,2},{192,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>falltxt_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,62}</string>
                <key>spriteSourceSize</key>
                <string>{94,62}</string>
                <key>textureRect</key>
                <string>{{459,343},{94,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>falltxt_jb_cion.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,26}</string>
                <key>spriteSourceSize</key>
                <string>{37,26}</string>
                <key>textureRect</key>
                <string>{{945,416},{37,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_com_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{895,417},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_com_tip_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,125}</string>
                <key>spriteSourceSize</key>
                <string>{400,125}</string>
                <key>textureRect</key>
                <string>{{373,2},{400,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_laba_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,28}</string>
                <key>spriteSourceSize</key>
                <string>{24,28}</string>
                <key>textureRect</key>
                <string>{{529,407},{24,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_op_l_txt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,19}</string>
                <key>spriteSourceSize</key>
                <string>{99,19}</string>
                <key>textureRect</key>
                <string>{{970,2},{99,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_op_l_txt1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,19}</string>
                <key>spriteSourceSize</key>
                <string>{4,19}</string>
                <key>textureRect</key>
                <string>{{970,103},{4,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_phb_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,51}</string>
                <key>spriteSourceSize</key>
                <string>{47,51}</string>
                <key>textureRect</key>
                <string>{{929,132},{47,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gg_tt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,28}</string>
                <key>spriteSourceSize</key>
                <string>{50,28}</string>
                <key>textureRect</key>
                <string>{{739,430},{50,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gx_btn_wz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,26}</string>
                <key>spriteSourceSize</key>
                <string>{50,26}</string>
                <key>textureRect</key>
                <string>{{791,430},{50,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gx_btn_wz02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,26}</string>
                <key>spriteSourceSize</key>
                <string>{50,26}</string>
                <key>textureRect</key>
                <string>{{843,430},{50,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gx_gxjd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,16}</string>
                <key>spriteSourceSize</key>
                <string>{70,16}</string>
                <key>textureRect</key>
                <string>{{721,397},{70,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gx_jdt_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{405,44}</string>
                <key>spriteSourceSize</key>
                <string>{405,44}</string>
                <key>textureRect</key>
                <string>{{242,255},{405,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gx_jdt_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,19}</string>
                <key>spriteSourceSize</key>
                <string>{296,19}</string>
                <key>textureRect</key>
                <string>{{242,301},{296,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gx_jdt_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,41}</string>
                <key>spriteSourceSize</key>
                <string>{34,41}</string>
                <key>textureRect</key>
                <string>{{326,217},{34,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gx_jdt_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,19}</string>
                <key>spriteSourceSize</key>
                <string>{296,19}</string>
                <key>textureRect</key>
                <string>{{242,322},{296,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gx_xzz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,16}</string>
                <key>spriteSourceSize</key>
                <string>{82,16}</string>
                <key>textureRect</key>
                <string>{{242,217},{82,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{755,130},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_ksks_anim_6_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,64}</string>
                <key>spriteSourceSize</key>
                <string>{121,64}</string>
                <key>textureRect</key>
                <string>{{775,64},{121,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_lb_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,20}</string>
                <key>spriteSourceSize</key>
                <string>{26,20}</string>
                <key>textureRect</key>
                <string>{{945,444},{26,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lobby_profile_bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,66}</string>
                <key>spriteSourceSize</key>
                <string>{70,66}</string>
                <key>textureRect</key>
                <string>{{898,64},{70,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mz_zd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,44}</string>
                <key>spriteSourceSize</key>
                <string>{57,44}</string>
                <key>textureRect</key>
                <string>{{470,407},{57,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_yb_bt_1a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,48}</string>
                <key>spriteSourceSize</key>
                <string>{132,48}</string>
                <key>textureRect</key>
                <string>{{242,415},{132,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_yb_bt_1b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,48}</string>
                <key>spriteSourceSize</key>
                <string>{132,48}</string>
                <key>textureRect</key>
                <string>{{758,252},{132,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ty_ch_1a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,42}</string>
                <key>spriteSourceSize</key>
                <string>{132,42}</string>
                <key>textureRect</key>
                <string>{{808,252},{132,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ty_ch_1b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,42}</string>
                <key>spriteSourceSize</key>
                <string>{132,42}</string>
                <key>textureRect</key>
                <string>{{852,252},{132,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ty_cl_1a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,42}</string>
                <key>spriteSourceSize</key>
                <string>{132,42}</string>
                <key>textureRect</key>
                <string>{{758,386},{132,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ty_cl_1b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,42}</string>
                <key>spriteSourceSize</key>
                <string>{132,42}</string>
                <key>textureRect</key>
                <string>{{896,236},{132,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ty_cl_2a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,42}</string>
                <key>spriteSourceSize</key>
                <string>{132,42}</string>
                <key>textureRect</key>
                <string>{{940,185},{132,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ty_dh_1a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,48}</string>
                <key>spriteSourceSize</key>
                <string>{92,48}</string>
                <key>textureRect</key>
                <string>{{555,301},{92,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ty_dh_1b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,48}</string>
                <key>spriteSourceSize</key>
                <string>{92,48}</string>
                <key>textureRect</key>
                <string>{{555,351},{92,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ty_dl_1a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,48}</string>
                <key>spriteSourceSize</key>
                <string>{92,48}</string>
                <key>textureRect</key>
                <string>{{555,401},{92,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ty_dl_1b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,48}</string>
                <key>spriteSourceSize</key>
                <string>{92,48}</string>
                <key>textureRect</key>
                <string>{{376,415},{92,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ty_tyk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,238}</string>
                <key>spriteSourceSize</key>
                <string>{253,238}</string>
                <key>textureRect</key>
                <string>{{2,217},{253,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xyqp_logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{369,213}</string>
                <key>spriteSourceSize</key>
                <string>{369,213}</string>
                <key>textureRect</key>
                <string>{{2,2},{369,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>com_dialog_new_texture.png</string>
            <key>size</key>
            <string>{991,472}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8081037776e6a3be3f9ea5467103c955:4357e62ad68fd136b5b9ac107fa2fa0b:06004ddf8219c1880253360454911e90$</string>
            <key>textureFileName</key>
            <string>com_dialog_new_texture.png</string>
        </dict>
    </dict>
</plist>
