<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dt_mrth_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,168}</string>
                <key>spriteSourceSize</key>
                <string>{168,168}</string>
                <key>textureRect</key>
                <string>{{1,1},{168,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt_mrth_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{171,1},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt_mrth_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,17}</string>
                <key>spriteSourceSize</key>
                <string>{35,17}</string>
                <key>textureRect</key>
                <string>{{227,213},{35,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt_mrth_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,17}</string>
                <key>spriteSourceSize</key>
                <string>{17,17}</string>
                <key>textureRect</key>
                <string>{{279,200},{17,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt_mrth_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,17}</string>
                <key>spriteSourceSize</key>
                <string>{35,17}</string>
                <key>textureRect</key>
                <string>{{242,232},{35,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt_mrth_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,17}</string>
                <key>spriteSourceSize</key>
                <string>{52,17}</string>
                <key>textureRect</key>
                <string>{{279,146},{52,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dt_mrth_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,17}</string>
                <key>spriteSourceSize</key>
                <string>{71,17}</string>
                <key>textureRect</key>
                <string>{{277,1},{71,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dt_mrth_bt_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,32}</string>
                <key>spriteSourceSize</key>
                <string>{62,32}</string>
                <key>textureRect</key>
                <string>{{1,218},{62,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt_mrth_bt_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,18}</string>
                <key>spriteSourceSize</key>
                <string>{13,18}</string>
                <key>textureRect</key>
                <string>{{279,219},{13,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt_mrth_bt_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,13}</string>
                <key>spriteSourceSize</key>
                <string>{9,13}</string>
                <key>textureRect</key>
                <string>{{268,165},{9,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt_mrth_bt_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,3}</string>
                <key>spriteSourceSize</key>
                <string>{51,3}</string>
                <key>textureRect</key>
                <string>{{65,242},{51,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt_mrth_txt_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,45}</string>
                <key>spriteSourceSize</key>
                <string>{152,45}</string>
                <key>textureRect</key>
                <string>{{1,171},{152,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt_mrth_txt_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{171,107},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt_mrth_txt_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,17}</string>
                <key>spriteSourceSize</key>
                <string>{70,17}</string>
                <key>textureRect</key>
                <string>{{279,74},{70,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dt_mrth_txt_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,49}</string>
                <key>spriteSourceSize</key>
                <string>{56,49}</string>
                <key>textureRect</key>
                <string>{{228,107},{56,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dt_mrth_txt_5a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,22}</string>
                <key>spriteSourceSize</key>
                <string>{57,22}</string>
                <key>textureRect</key>
                <string>{{65,218},{57,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt_mrth_txt_5b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,22}</string>
                <key>spriteSourceSize</key>
                <string>{57,22}</string>
                <key>textureRect</key>
                <string>{{155,171},{57,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dt_mrth_txt_5c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,22}</string>
                <key>spriteSourceSize</key>
                <string>{57,22}</string>
                <key>textureRect</key>
                <string>{{124,230},{57,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt_mrth_txt_5d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,22}</string>
                <key>spriteSourceSize</key>
                <string>{57,22}</string>
                <key>textureRect</key>
                <string>{{179,164},{57,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dt_mrth_txt_5e.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,22}</string>
                <key>spriteSourceSize</key>
                <string>{57,22}</string>
                <key>textureRect</key>
                <string>{{203,164},{57,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dt_mrth_txt_6a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,22}</string>
                <key>spriteSourceSize</key>
                <string>{38,22}</string>
                <key>textureRect</key>
                <string>{{227,189},{38,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt_mrth_txt_6b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,22}</string>
                <key>spriteSourceSize</key>
                <string>{39,22}</string>
                <key>textureRect</key>
                <string>{{227,165},{39,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt_mrth_txt_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,28}</string>
                <key>spriteSourceSize</key>
                <string>{27,28}</string>
                <key>textureRect</key>
                <string>{{183,223},{27,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt_mrth_txt_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,28}</string>
                <key>spriteSourceSize</key>
                <string>{20,28}</string>
                <key>textureRect</key>
                <string>{{212,232},{20,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>discount_texture.png</string>
            <key>size</key>
            <string>{297,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf1f31f49a7f5af5e18c5dcb57e4e66b:b4f0421e9ceb465b67da3d2c8e04c338:cff2ce280470d3cf604959ce2d4ac1a2$</string>
            <key>textureFileName</key>
            <string>discount_texture.png</string>
        </dict>
    </dict>
</plist>
