<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cq_dq_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,46}</string>
                <key>spriteSourceSize</key>
                <string>{73,46}</string>
                <key>textureRect</key>
                <string>{{925,181},{73,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cq_dq_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,46}</string>
                <key>spriteSourceSize</key>
                <string>{73,46}</string>
                <key>textureRect</key>
                <string>{{925,229},{73,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cq_dq_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,46}</string>
                <key>spriteSourceSize</key>
                <string>{73,46}</string>
                <key>textureRect</key>
                <string>{{925,277},{73,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cq_dq_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,410}</string>
                <key>spriteSourceSize</key>
                <string>{153,410}</string>
                <key>textureRect</key>
                <string>{{770,68},{153,410}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cq_dt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{766,446}</string>
                <key>spriteSourceSize</key>
                <string>{766,446}</string>
                <key>textureRect</key>
                <string>{{2,2},{766,446}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cq_dt_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,41}</string>
                <key>spriteSourceSize</key>
                <string>{40,41}</string>
                <key>textureRect</key>
                <string>{{2,450},{40,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cq_dt_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,41}</string>
                <key>spriteSourceSize</key>
                <string>{40,41}</string>
                <key>textureRect</key>
                <string>{{44,450},{40,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cq_dt_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,41}</string>
                <key>spriteSourceSize</key>
                <string>{40,41}</string>
                <key>textureRect</key>
                <string>{{2,974},{40,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cq_dt_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{86,150}</string>
                <key>spriteSourceSize</key>
                <string>{90,150}</string>
                <key>textureRect</key>
                <string>{{936,2},{86,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cq_dt_bt_2a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,64}</string>
                <key>spriteSourceSize</key>
                <string>{164,64}</string>
                <key>textureRect</key>
                <string>{{770,2},{164,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cq_mf_bt_1a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{477,51}</string>
                <key>spriteSourceSize</key>
                <string>{477,51}</string>
                <key>textureRect</key>
                <string>{{2,495},{477,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cq_mf_bt_1b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{477,51}</string>
                <key>spriteSourceSize</key>
                <string>{477,51}</string>
                <key>textureRect</key>
                <string>{{55,495},{477,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cq_qszh_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,53}</string>
                <key>spriteSourceSize</key>
                <string>{58,53}</string>
                <key>textureRect</key>
                <string>{{925,386},{58,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cq_reward_gold_wan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,20}</string>
                <key>spriteSourceSize</key>
                <string>{19,20}</string>
                <key>textureRect</key>
                <string>{{1000,181},{19,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cq_xxsg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,56}</string>
                <key>spriteSourceSize</key>
                <string>{52,56}</string>
                <key>textureRect</key>
                <string>{{925,441},{52,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dh_jb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,60}</string>
                <key>spriteSourceSize</key>
                <string>{59,60}</string>
                <key>textureRect</key>
                <string>{{925,325},{59,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>draw_lots_yun2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,30}</string>
                <key>spriteSourceSize</key>
                <string>{111,30}</string>
                <key>textureRect</key>
                <string>{{987,325},{111,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>draw_lots_yun2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,25}</string>
                <key>spriteSourceSize</key>
                <string>{90,25}</string>
                <key>textureRect</key>
                <string>{{925,154},{90,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>DrawLots.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29ac36beef5d755a40b687da58fec341:b0f58303a6db0d069ebc6194ae5e8990:9ecab23af635e0f30e659927c09014d7$</string>
            <key>textureFileName</key>
            <string>DrawLots.png</string>
        </dict>
    </dict>
</plist>
