<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dt_dhhf_1_txt_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,18}</string>
                <key>spriteSourceSize</key>
                <string>{400,18}</string>
                <key>textureRect</key>
                <string>{{2,2},{400,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt_dhhf_1_txt_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,20}</string>
                <key>spriteSourceSize</key>
                <string>{88,20}</string>
                <key>textureRect</key>
                <string>{{264,802},{88,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt_dhhf_1_txt_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,20}</string>
                <key>spriteSourceSize</key>
                <string>{88,20}</string>
                <key>textureRect</key>
                <string>{{354,820},{88,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt_dhhf_1_txt_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,16}</string>
                <key>spriteSourceSize</key>
                <string>{106,16}</string>
                <key>textureRect</key>
                <string>{{428,666},{106,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dt_dhhf_1_txt_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,16}</string>
                <key>spriteSourceSize</key>
                <string>{110,16}</string>
                <key>textureRect</key>
                <string>{{288,22},{110,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt_dhhf_1_txt_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,16}</string>
                <key>spriteSourceSize</key>
                <string>{108,16}</string>
                <key>textureRect</key>
                <string>{{428,556},{108,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dt_dhhf_1_txt_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,16}</string>
                <key>spriteSourceSize</key>
                <string>{89,16}</string>
                <key>textureRect</key>
                <string>{{354,802},{89,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt_dhhf_bt_1a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,38}</string>
                <key>spriteSourceSize</key>
                <string>{66,38}</string>
                <key>textureRect</key>
                <string>{{248,190},{66,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dt_dhhf_bt_1b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,38}</string>
                <key>spriteSourceSize</key>
                <string>{66,38}</string>
                <key>textureRect</key>
                <string>{{248,258},{66,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dt_dhhf_db1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{404,2},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt_dhhf_db2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{398,44},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt_dhhf_dhhf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,30}</string>
                <key>spriteSourceSize</key>
                <string>{102,30}</string>
                <key>textureRect</key>
                <string>{{248,442},{102,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dt_dhhf_hqhf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,30}</string>
                <key>spriteSourceSize</key>
                <string>{102,30}</string>
                <key>textureRect</key>
                <string>{{248,546},{102,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dt_dhhf_ka.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,284}</string>
                <key>spriteSourceSize</key>
                <string>{166,284}</string>
                <key>textureRect</key>
                <string>{{2,22},{166,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dt_dhhf_ka1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,244}</string>
                <key>spriteSourceSize</key>
                <string>{146,244}</string>
                <key>textureRect</key>
                <string>{{2,190},{146,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dt_dhhf_ka1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,244}</string>
                <key>spriteSourceSize</key>
                <string>{146,244}</string>
                <key>textureRect</key>
                <string>{{288,310},{146,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt_dhhf_ka2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,244}</string>
                <key>spriteSourceSize</key>
                <string>{146,244}</string>
                <key>textureRect</key>
                <string>{{2,338},{146,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dt_dhhf_ka2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,244}</string>
                <key>spriteSourceSize</key>
                <string>{146,244}</string>
                <key>textureRect</key>
                <string>{{2,486},{146,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dt_dhhf_ka3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,244}</string>
                <key>spriteSourceSize</key>
                <string>{146,244}</string>
                <key>textureRect</key>
                <string>{{2,634},{146,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dt_dhhf_ka3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,244}</string>
                <key>spriteSourceSize</key>
                <string>{146,244}</string>
                <key>textureRect</key>
                <string>{{280,556},{146,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt_dhhf_lq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,32}</string>
                <key>spriteSourceSize</key>
                <string>{56,32}</string>
                <key>textureRect</key>
                <string>{{248,350},{56,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dt_dhhf_lqdt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,22}</string>
                <key>spriteSourceSize</key>
                <string>{80,22}</string>
                <key>textureRect</key>
                <string>{{248,650},{80,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dt_dhhf_t1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,88}</string>
                <key>spriteSourceSize</key>
                <string>{108,88}</string>
                <key>textureRect</key>
                <string>{{288,40},{108,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt_dhhf_t1a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{166,782},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt_dhhf_t2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,88}</string>
                <key>spriteSourceSize</key>
                <string>{108,88}</string>
                <key>textureRect</key>
                <string>{{288,130},{108,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt_dhhf_t2a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{2,782},{80,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt_dhhf_t3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,88}</string>
                <key>spriteSourceSize</key>
                <string>{108,88}</string>
                <key>textureRect</key>
                <string>{{288,220},{108,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt_dhhf_t3a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{84,782},{80,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt_dhhf_tb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{248,408},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt_dhhf_tt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,38}</string>
                <key>spriteSourceSize</key>
                <string>{172,38}</string>
                <key>textureRect</key>
                <string>{{398,86},{172,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dt_dhhf_z1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,24}</string>
                <key>spriteSourceSize</key>
                <string>{60,24}</string>
                <key>textureRect</key>
                <string>{{238,782},{60,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dt_dhhf_z2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,22}</string>
                <key>spriteSourceSize</key>
                <string>{36,22}</string>
                <key>textureRect</key>
                <string>{{248,326},{36,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>exchange_new_texture.png</string>
            <key>size</key>
            <string>{446,844}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff3178553ba62bd6eaed453ed5379922:d014a017c4c4ec07eee0b373ad3c00cd:816bd7fe9fe2f72de0efaf7479afc287$</string>
            <key>textureFileName</key>
            <string>exchange_new_texture.png</string>
        </dict>
    </dict>
</plist>
