<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_mjd__01.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,41},{37,50}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{37,50}}</string>
                <key>sourceSize</key>
                <string>{45,56}</string>
            </dict>
            <key>game_mjd__02.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,2},{37,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{37,54}}</string>
                <key>sourceSize</key>
                <string>{45,56}</string>
            </dict>
            <key>game_mjd__03.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,2},{37,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{37,56}}</string>
                <key>sourceSize</key>
                <string>{45,56}</string>
            </dict>
            <key>game_mjd__04.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,2},{37,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{37,54}}</string>
                <key>sourceSize</key>
                <string>{45,56}</string>
            </dict>
            <key>game_mjd__05.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,84},{37,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{37,56}}</string>
                <key>sourceSize</key>
                <string>{45,56}</string>
            </dict>
            <key>game_mjd__06.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,2},{37,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{37,56}}</string>
                <key>sourceSize</key>
                <string>{45,56}</string>
            </dict>
            <key>game_mjd__07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{37,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{37,56}}</string>
                <key>sourceSize</key>
                <string>{45,56}</string>
            </dict>
            <key>game_mjd__08.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,2},{37,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{37,54}}</string>
                <key>sourceSize</key>
                <string>{45,56}</string>
            </dict>
            <key>game_mjd__09.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,2},{37,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{37,54}}</string>
                <key>sourceSize</key>
                <string>{45,56}</string>
            </dict>
            <key>game_mjd__10.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,97},{35,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{35,46}}</string>
                <key>sourceSize</key>
                <string>{45,56}</string>
            </dict>
            <key>game_mjd__11.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,2},{35,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{35,42}}</string>
                <key>sourceSize</key>
                <string>{45,56}</string>
            </dict>
            <key>game_mjd__12.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,93},{37,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{37,38}}</string>
                <key>sourceSize</key>
                <string>{45,56}</string>
            </dict>
            <key>game_mjd__13.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,93},{33,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{33,40}}</string>
                <key>sourceSize</key>
                <string>{45,56}</string>
            </dict>
            <key>game_mjd__14.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,41},{31,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{31,50}}</string>
                <key>sourceSize</key>
                <string>{45,56}</string>
            </dict>
            <key>game_mjd__15.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,84},{39,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{39,42}}</string>
                <key>sourceSize</key>
                <string>{45,56}</string>
            </dict>
            <key>game_mjd__16.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,41},{35,48}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{35,48}}</string>
                <key>sourceSize</key>
                <string>{45,56}</string>
            </dict>
            <key>game_mjd__17.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,56},{35,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{35,54}}</string>
                <key>sourceSize</key>
                <string>{45,56}</string>
            </dict>
            <key>game_mjd__18.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,41},{35,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{35,54}}</string>
                <key>sourceSize</key>
                <string>{45,56}</string>
            </dict>
            <key>game_mjd__19.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,2},{35,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{35,54}}</string>
                <key>sourceSize</key>
                <string>{45,56}</string>
            </dict>
            <key>game_mjd__20.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,2},{41,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{41,52}}</string>
                <key>sourceSize</key>
                <string>{45,56}</string>
            </dict>
            <key>game_mjd__21.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,41},{33,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{33,54}}</string>
                <key>sourceSize</key>
                <string>{45,56}</string>
            </dict>
            <key>game_mjd__22.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,2},{35,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{35,54}}</string>
                <key>sourceSize</key>
                <string>{45,56}</string>
            </dict>
            <key>game_mjd__23.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,2},{39,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{39,54}}</string>
                <key>sourceSize</key>
                <string>{45,56}</string>
            </dict>
            <key>game_mjd__24.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,2},{35,54}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{35,54}}</string>
                <key>sourceSize</key>
                <string>{45,56}</string>
            </dict>
            <key>game_mjd_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,2},{52,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,78}}</string>
                <key>sourceSize</key>
                <string>{52,78}</string>
            </dict>
            <key>game_mjd_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,55},{52,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,78}}</string>
                <key>sourceSize</key>
                <string>{52,78}</string>
            </dict>
            <key>game_mjd_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,55},{52,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,78}}</string>
                <key>sourceSize</key>
                <string>{52,78}</string>
            </dict>
            <key>game_mjd_bg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,80}}</string>
                <key>sourceSize</key>
                <string>{160,80}</string>
            </dict>
            <key>game_mjd_fp.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{51,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,93}}</string>
                <key>sourceSize</key>
                <string>{51,93}</string>
            </dict>
            <key>game_mjx__01.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,89},{21,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{21,26}}</string>
                <key>sourceSize</key>
                <string>{23,32}</string>
            </dict>
            <key>game_mjx__02.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,68},{21,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{21,30}}</string>
                <key>sourceSize</key>
                <string>{23,32}</string>
            </dict>
            <key>game_mjx__03.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,68},{21,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{21,30}}</string>
                <key>sourceSize</key>
                <string>{23,32}</string>
            </dict>
            <key>game_mjx__04.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,68},{21,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{21,30}}</string>
                <key>sourceSize</key>
                <string>{23,32}</string>
            </dict>
            <key>game_mjx__05.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,68},{21,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{21,30}}</string>
                <key>sourceSize</key>
                <string>{23,32}</string>
            </dict>
            <key>game_mjx__06.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,78},{21,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{21,30}}</string>
                <key>sourceSize</key>
                <string>{23,32}</string>
            </dict>
            <key>game_mjx__07.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,78},{21,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{21,30}}</string>
                <key>sourceSize</key>
                <string>{23,32}</string>
            </dict>
            <key>game_mjx__08.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,103},{21,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{21,30}}</string>
                <key>sourceSize</key>
                <string>{23,32}</string>
            </dict>
            <key>game_mjx__09.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,103},{21,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{21,30}}</string>
                <key>sourceSize</key>
                <string>{23,32}</string>
            </dict>
            <key>game_mjx__10.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,112},{19,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{19,24}}</string>
                <key>sourceSize</key>
                <string>{23,32}</string>
            </dict>
            <key>game_mjx__11.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,112},{19,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{19,22}}</string>
                <key>sourceSize</key>
                <string>{23,32}</string>
            </dict>
            <key>game_mjx__12.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,110},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{21,22}}</string>
                <key>sourceSize</key>
                <string>{23,32}</string>
            </dict>
            <key>game_mjx__13.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,68},{19,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{19,22}}</string>
                <key>sourceSize</key>
                <string>{23,32}</string>
            </dict>
            <key>game_mjx__14.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,105},{17,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{17,28}}</string>
                <key>sourceSize</key>
                <string>{23,32}</string>
            </dict>
            <key>game_mjx__15.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,110},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{23,24}}</string>
                <key>sourceSize</key>
                <string>{23,32}</string>
            </dict>
            <key>game_mjx__16.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,89},{19,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{19,26}}</string>
                <key>sourceSize</key>
                <string>{23,32}</string>
            </dict>
            <key>game_mjx__17.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,100},{19,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{19,30}}</string>
                <key>sourceSize</key>
                <string>{23,32}</string>
            </dict>
            <key>game_mjx__18.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,100},{19,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{19,30}}</string>
                <key>sourceSize</key>
                <string>{23,32}</string>
            </dict>
            <key>game_mjx__19.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,100},{19,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{19,30}}</string>
                <key>sourceSize</key>
                <string>{23,32}</string>
            </dict>
            <key>game_mjx__20.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,80},{23,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,30}}</string>
                <key>sourceSize</key>
                <string>{23,32}</string>
            </dict>
            <key>game_mjx__21.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,100},{19,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{19,30}}</string>
                <key>sourceSize</key>
                <string>{23,32}</string>
            </dict>
            <key>game_mjx__22.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,68},{19,30}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{19,30}}</string>
                <key>sourceSize</key>
                <string>{23,32}</string>
            </dict>
            <key>game_mjx__23.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,103},{21,30}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{21,30}}</string>
                <key>sourceSize</key>
                <string>{23,32}</string>
            </dict>
            <key>game_mjx__24.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,78},{19,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{19,30}}</string>
                <key>sourceSize</key>
                <string>{23,32}</string>
            </dict>
            <key>game_mjx_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,76},{27,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,42}}</string>
                <key>sourceSize</key>
                <string>{27,42}</string>
            </dict>
            <key>game_mjx_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,39},{27,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,42}}</string>
                <key>sourceSize</key>
                <string>{27,42}</string>
            </dict>
            <key>game_mjx_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,39},{27,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,42}}</string>
                <key>sourceSize</key>
                <string>{27,42}</string>
            </dict>
            <key>game_mjx_bg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,39},{27,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,42}}</string>
                <key>sourceSize</key>
                <string>{27,42}</string>
            </dict>
            <key>game_mjx_bg_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,39},{27,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,46}}</string>
                <key>sourceSize</key>
                <string>{27,46}</string>
            </dict>
            <key>game_mjz__01.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,56},{23,30}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{23,30}}</string>
                <key>sourceSize</key>
                <string>{29,36}</string>
            </dict>
            <key>game_mjz__02.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,98},{23,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{23,34}}</string>
                <key>sourceSize</key>
                <string>{29,36}</string>
            </dict>
            <key>game_mjz__03.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,99},{23,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{23,34}}</string>
                <key>sourceSize</key>
                <string>{29,36}</string>
            </dict>
            <key>game_mjz__04.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,74},{23,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{23,34}}</string>
                <key>sourceSize</key>
                <string>{29,36}</string>
            </dict>
            <key>game_mjz__05.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,99},{23,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{23,34}}</string>
                <key>sourceSize</key>
                <string>{29,36}</string>
            </dict>
            <key>game_mjz__06.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,99},{23,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{23,34}}</string>
                <key>sourceSize</key>
                <string>{29,36}</string>
            </dict>
            <key>game_mjz__07.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,74},{23,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{23,34}}</string>
                <key>sourceSize</key>
                <string>{29,36}</string>
            </dict>
            <key>game_mjz__08.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,78},{23,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{23,34}}</string>
                <key>sourceSize</key>
                <string>{29,36}</string>
            </dict>
            <key>game_mjz__09.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,105},{23,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{23,34}}</string>
                <key>sourceSize</key>
                <string>{29,36}</string>
            </dict>
            <key>game_mjz__10.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,105},{21,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{21,28}}</string>
                <key>sourceSize</key>
                <string>{29,36}</string>
            </dict>
            <key>game_mjz__11.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,89},{21,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{21,26}}</string>
                <key>sourceSize</key>
                <string>{29,36}</string>
            </dict>
            <key>game_mjz__12.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,78},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{23,24}}</string>
                <key>sourceSize</key>
                <string>{29,36}</string>
            </dict>
            <key>game_mjz__13.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,112},{21,24}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{21,24}}</string>
                <key>sourceSize</key>
                <string>{29,36}</string>
            </dict>
            <key>game_mjz__14.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,77},{19,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{19,32}}</string>
                <key>sourceSize</key>
                <string>{29,36}</string>
            </dict>
            <key>game_mjz__15.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,68},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{25,26}}</string>
                <key>sourceSize</key>
                <string>{29,36}</string>
            </dict>
            <key>game_mjz__16.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,105},{21,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{21,28}}</string>
                <key>sourceSize</key>
                <string>{29,36}</string>
            </dict>
            <key>game_mjz__17.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,99},{21,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{21,34}}</string>
                <key>sourceSize</key>
                <string>{29,36}</string>
            </dict>
            <key>game_mjz__18.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,99},{21,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{21,32}}</string>
                <key>sourceSize</key>
                <string>{29,36}</string>
            </dict>
            <key>game_mjz__19.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,99},{21,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{21,34}}</string>
                <key>sourceSize</key>
                <string>{29,36}</string>
            </dict>
            <key>game_mjz__20.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,39},{25,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{25,32}}</string>
                <key>sourceSize</key>
                <string>{29,36}</string>
            </dict>
            <key>game_mjz__21.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,76},{21,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{21,34}}</string>
                <key>sourceSize</key>
                <string>{29,36}</string>
            </dict>
            <key>game_mjz__22.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,41},{21,34}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{21,34}}</string>
                <key>sourceSize</key>
                <string>{29,36}</string>
            </dict>
            <key>game_mjz__23.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,80},{23,34}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{23,34}}</string>
                <key>sourceSize</key>
                <string>{29,36}</string>
            </dict>
            <key>game_mjz__24.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,66},{21,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{21,32}}</string>
                <key>sourceSize</key>
                <string>{29,36}</string>
            </dict>
            <key>game_mjz_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,45},{31,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,47}}</string>
                <key>sourceSize</key>
                <string>{31,47}</string>
            </dict>
            <key>game_mjz_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,43},{31,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,47}}</string>
                <key>sourceSize</key>
                <string>{31,47}</string>
            </dict>
            <key>game_mjz_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,41},{31,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,47}}</string>
                <key>sourceSize</key>
                <string>{31,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_majiang.png</string>
            <key>size</key>
            <string>{1003,135}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0106cbd331e66441c5b3cb993130a14c:1/1$</string>
            <key>textureFileName</key>
            <string>game_majiang.png</string>
        </dict>
    </dict>
</plist>
