<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qhb_bg_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,395}</string>
                <key>spriteSourceSize</key>
                <string>{288,395}</string>
                <key>textureRect</key>
                <string>{{1,404},{288,395}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qhb_bg_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,401}</string>
                <key>spriteSourceSize</key>
                <string>{290,401}</string>
                <key>textureRect</key>
                <string>{{1,1},{290,401}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qhb_bg_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,208}</string>
                <key>spriteSourceSize</key>
                <string>{1,208}</string>
                <key>textureRect</key>
                <string>{{540,682},{1,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qhb_bt_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,197}</string>
                <key>spriteSourceSize</key>
                <string>{198,197}</string>
                <key>textureRect</key>
                <string>{{293,228},{198,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qhb_bt_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,197}</string>
                <key>spriteSourceSize</key>
                <string>{198,197}</string>
                <key>textureRect</key>
                <string>{{291,682},{198,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qhb_bt_action_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,253}</string>
                <key>spriteSourceSize</key>
                <string>{249,253}</string>
                <key>textureRect</key>
                <string>{{291,427},{249,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qhb_bt_action_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,225}</string>
                <key>spriteSourceSize</key>
                <string>{207,225}</string>
                <key>textureRect</key>
                <string>{{293,1},{207,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qhb_bt_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{162,801},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qhb_get_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,43}</string>
                <key>spriteSourceSize</key>
                <string>{44,43}</string>
                <key>textureRect</key>
                <string>{{491,869},{44,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qhb_get_n_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,57}</string>
                <key>spriteSourceSize</key>
                <string>{164,57}</string>
                <key>textureRect</key>
                <string>{{1,893},{164,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qhb_m_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,16}</string>
                <key>spriteSourceSize</key>
                <string>{33,16}</string>
                <key>textureRect</key>
                <string>{{525,914},{33,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qhb_m_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,17}</string>
                <key>spriteSourceSize</key>
                <string>{86,17}</string>
                <key>textureRect</key>
                <string>{{167,863},{86,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qhb_mz_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,48}</string>
                <key>spriteSourceSize</key>
                <string>{157,48}</string>
                <key>textureRect</key>
                <string>{{493,228},{157,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qhb_mz_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,47}</string>
                <key>spriteSourceSize</key>
                <string>{185,47}</string>
                <key>textureRect</key>
                <string>{{491,682},{185,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qhb_mz_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,39}</string>
                <key>spriteSourceSize</key>
                <string>{152,39}</string>
                <key>textureRect</key>
                <string>{{284,881},{152,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qhb_mz_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,39}</string>
                <key>spriteSourceSize</key>
                <string>{152,39}</string>
                <key>textureRect</key>
                <string>{{284,922},{152,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qhb_mz_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,39}</string>
                <key>spriteSourceSize</key>
                <string>{189,39}</string>
                <key>textureRect</key>
                <string>{{502,1},{189,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qhb_mz_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{479,914},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qhb_out_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,90}</string>
                <key>spriteSourceSize</key>
                <string>{159,90}</string>
                <key>textureRect</key>
                <string>{{1,801},{159,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qhb_t_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,39}</string>
                <key>spriteSourceSize</key>
                <string>{75,39}</string>
                <key>textureRect</key>
                <string>{{438,881},{75,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qhb_wd_n_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,58}</string>
                <key>spriteSourceSize</key>
                <string>{157,58}</string>
                <key>textureRect</key>
                <string>{{224,801},{157,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qhb_wd_n_c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,17}</string>
                <key>spriteSourceSize</key>
                <string>{84,17}</string>
                <key>textureRect</key>
                <string>{{186,863},{84,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>game_qhb.png</string>
            <key>size</key>
            <string>{542,962}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c1a830bc78baacd0a967afc238d2bc6:af54190c9b57b5b7a9bc6ae4fbed9e96:e41c4e98e72372dd59f67af095f54304$</string>
            <key>textureFileName</key>
            <string>game_qhb.png</string>
        </dict>
    </dict>
</plist>
