<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_hu_long_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,356},{298,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,297}}</string>
                <key>sourceSize</key>
                <string>{298,297}</string>
            </dict>
            <key>game_hu_long_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{280,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{280,279}}</string>
                <key>sourceSize</key>
                <string>{280,281}</string>
            </dict>
            <key>game_hu_long_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,540},{234,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,235}}</string>
                <key>sourceSize</key>
                <string>{234,235}</string>
            </dict>
            <key>game_hu_long_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{555,536}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{555,536}}</string>
                <key>sourceSize</key>
                <string>{555,540}</string>
            </dict>
            <key>game_hu_long_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,2},{352,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,328}}</string>
                <key>sourceSize</key>
                <string>{352,328}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_hu.png</string>
            <key>size</key>
            <string>{890,821}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d7c03cd3e824d1d882363addfd69f40:260db6ef9040b28fea80f543266e4266:b0df0e62a86835ac344bfbc5343355b6$</string>
            <key>textureFileName</key>
            <string>game_hu.png</string>
        </dict>
    </dict>
</plist>
