<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_op_chi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,740},{123,116}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,2},{123,116}}</string>
                <key>sourceSize</key>
                <string>{165,124}</string>
            </dict>
            <key>game_op_chi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,495},{114,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,109}}</string>
                <key>sourceSize</key>
                <string>{114,109}</string>
            </dict>
            <key>game_op_chi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,443},{220,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,214}}</string>
                <key>sourceSize</key>
                <string>{220,214}</string>
            </dict>
            <key>game_op_gang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,738},{135,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{135,124}}</string>
                <key>sourceSize</key>
                <string>{165,124}</string>
            </dict>
            <key>game_op_gang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,740},{120,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,115}}</string>
                <key>sourceSize</key>
                <string>{120,115}</string>
            </dict>
            <key>game_op_gang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,230}}</string>
                <key>sourceSize</key>
                <string>{250,230}</string>
            </dict>
            <key>game_op_guo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,86},{69,67}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{69,67}}</string>
                <key>sourceSize</key>
                <string>{101,67}</string>
            </dict>
            <key>game_op_hu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,362},{151,129}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{151,129}}</string>
                <key>sourceSize</key>
                <string>{181,129}</string>
            </dict>
            <key>game_op_hu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,864},{116,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,114}}</string>
                <key>sourceSize</key>
                <string>{116,114}</string>
            </dict>
            <key>game_op_hu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{231,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,219}}</string>
                <key>sourceSize</key>
                <string>{231,219}</string>
            </dict>
            <key>game_op_hu5.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,223},{155,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{155,137}}</string>
                <key>sourceSize</key>
                <string>{185,137}</string>
            </dict>
            <key>game_op_jiabei1.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,223},{175,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{175,141}}</string>
                <key>sourceSize</key>
                <string>{205,141}</string>
            </dict>
            <key>game_op_jiabei11.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,2},{73,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{73,82}}</string>
                <key>sourceSize</key>
                <string>{73,84}</string>
            </dict>
            <key>game_op_jiabei5.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,366},{175,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{175,127}}</string>
                <key>sourceSize</key>
                <string>{205,127}</string>
            </dict>
            <key>game_op_jiabei6.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,443},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>game_op_jiabei8.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,862},{114,112}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{114,112}}</string>
                <key>sourceSize</key>
                <string>{114,120}</string>
            </dict>
            <key>game_op_jiabei9.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,903},{106,120}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{106,120}}</string>
                <key>sourceSize</key>
                <string>{114,120}</string>
            </dict>
            <key>game_op_peng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,864},{127,116}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{127,116}}</string>
                <key>sourceSize</key>
                <string>{165,124}</string>
            </dict>
            <key>game_op_peng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,608},{130,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,108}}</string>
                <key>sourceSize</key>
                <string>{130,108}</string>
            </dict>
            <key>game_op_peng3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{250,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,207}}</string>
                <key>sourceSize</key>
                <string>{250,207}</string>
            </dict>
            <key>game_op_quxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,903},{107,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{107,67}}</string>
                <key>sourceSize</key>
                <string>{137,67}</string>
            </dict>
            <key>game_op_ting1.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,608},{128,139}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{128,139}}</string>
                <key>sourceSize</key>
                <string>{158,139}</string>
            </dict>
            <key>game_op_ting2.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,606},{100,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,129}}</string>
                <key>sourceSize</key>
                <string>{100,129}</string>
            </dict>
            <key>game_op_ting3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,659},{189,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,242}}</string>
                <key>sourceSize</key>
                <string>{189,242}</string>
            </dict>
            <key>game_op_white_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,155},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>game_op_zimo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,495},{183,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,111}}</string>
                <key>sourceSize</key>
                <string>{183,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_op.png</string>
            <key>size</key>
            <string>{588,1012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:889eed36b1c9e00c58d045b1136beebb:1/1$</string>
            <key>textureFileName</key>
            <string>game_op.png</string>
        </dict>
    </dict>
</plist>
