<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CrowFlash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-11}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{780,375},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_enter_reward_bisai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,32}</string>
                <key>spriteSourceSize</key>
                <string>{89,32}</string>
                <key>textureRect</key>
                <string>{{255,491},{89,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_enter_reward_dixz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,26}</string>
                <key>spriteSourceSize</key>
                <string>{138,26}</string>
                <key>textureRect</key>
                <string>{{1,489},{138,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_enter_reward_enter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,27}</string>
                <key>spriteSourceSize</key>
                <string>{98,27}</string>
                <key>textureRect</key>
                <string>{{886,375},{98,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lob_enter_reward_gao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,31}</string>
                <key>spriteSourceSize</key>
                <string>{90,31}</string>
                <key>textureRect</key>
                <string>{{547,492},{90,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_enter_reward_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,22}</string>
                <key>spriteSourceSize</key>
                <string>{109,22}</string>
                <key>textureRect</key>
                <string>{{756,372},{109,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lob_enter_reward_title_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,21}</string>
                <key>spriteSourceSize</key>
                <string>{95,21}</string>
                <key>textureRect</key>
                <string>{{780,481},{95,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_enter_reward_x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,26}</string>
                <key>spriteSourceSize</key>
                <string>{19,26}</string>
                <key>textureRect</key>
                <string>{{746,504},{19,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lob_enter_reward_zhong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,31}</string>
                <key>spriteSourceSize</key>
                <string>{90,31}</string>
                <key>textureRect</key>
                <string>{{915,375},{90,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lob_room_bzw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,266}</string>
                <key>spriteSourceSize</key>
                <string>{218,266}</string>
                <key>textureRect</key>
                <string>{{1,1},{218,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_room_chu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,247}</string>
                <key>spriteSourceSize</key>
                <string>{187,247}</string>
                <key>textureRect</key>
                <string>{{441,1},{187,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_room_create.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,123}</string>
                <key>spriteSourceSize</key>
                <string>{124,123}</string>
                <key>textureRect</key>
                <string>{{443,306},{124,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_room_difen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,18}</string>
                <key>spriteSourceSize</key>
                <string>{37,18}</string>
                <key>textureRect</key>
                <string>{{726,478},{37,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lob_room_gao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{185,247}</string>
                <key>spriteSourceSize</key>
                <string>{185,247}</string>
                <key>textureRect</key>
                <string>{{630,1},{185,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_room_hfs_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,59}</string>
                <key>spriteSourceSize</key>
                <string>{185,59}</string>
                <key>textureRect</key>
                <string>{{669,250},{185,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_room_hfs_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,59}</string>
                <key>spriteSourceSize</key>
                <string>{185,59}</string>
                <key>textureRect</key>
                <string>{{443,431},{185,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_room_join.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,123}</string>
                <key>spriteSourceSize</key>
                <string>{124,123}</string>
                <key>textureRect</key>
                <string>{{856,250},{124,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_room_new_tag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,60}</string>
                <key>spriteSourceSize</key>
                <string>{54,60}</string>
                <key>textureRect</key>
                <string>{{776,311},{54,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lob_room_new_tag_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,54}</string>
                <key>spriteSourceSize</key>
                <string>{40,54}</string>
                <key>textureRect</key>
                <string>{{714,422},{40,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_room_quickStart_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,85}</string>
                <key>spriteSourceSize</key>
                <string>{220,85}</string>
                <key>textureRect</key>
                <string>{{269,269},{220,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lob_room_quickStart_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,85}</string>
                <key>spriteSourceSize</key>
                <string>{220,85}</string>
                <key>textureRect</key>
                <string>{{356,269},{220,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lob_room_quickStart_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,128}</string>
                <key>spriteSourceSize</key>
                <string>{10,128}</string>
                <key>textureRect</key>
                <string>{{982,250},{10,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_room_rm_tag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,60}</string>
                <key>spriteSourceSize</key>
                <string>{54,60}</string>
                <key>textureRect</key>
                <string>{{948,380},{54,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_room_rm_tag_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,54}</string>
                <key>spriteSourceSize</key>
                <string>{40,54}</string>
                <key>textureRect</key>
                <string>{{948,442},{40,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lob_room_tag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{82,58}</string>
                <key>spriteSourceSize</key>
                <string>{82,58}</string>
                <key>textureRect</key>
                <string>{{630,422},{82,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_room_tag_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,54}</string>
                <key>spriteSourceSize</key>
                <string>{224,54}</string>
                <key>textureRect</key>
                <string>{{443,250},{224,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_room_tag_name.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,32}</string>
                <key>spriteSourceSize</key>
                <string>{85,32}</string>
                <key>textureRect</key>
                <string>{{346,491},{85,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_room_tag_name_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,32}</string>
                <key>spriteSourceSize</key>
                <string>{85,32}</string>
                <key>textureRect</key>
                <string>{{639,482},{85,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_room_title_Join.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{122,48}</string>
                <key>spriteSourceSize</key>
                <string>{122,48}</string>
                <key>textureRect</key>
                <string>{{623,372},{122,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_room_title_create.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{122,52}</string>
                <key>spriteSourceSize</key>
                <string>{122,52}</string>
                <key>textureRect</key>
                <string>{{569,306},{122,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lob_room_ttz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,266}</string>
                <key>spriteSourceSize</key>
                <string>{218,266}</string>
                <key>textureRect</key>
                <string>{{221,1},{218,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_room_xlch_name.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,31}</string>
                <key>spriteSourceSize</key>
                <string>{112,31}</string>
                <key>textureRect</key>
                <string>{{141,489},{112,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_room_xrdb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,266}</string>
                <key>spriteSourceSize</key>
                <string>{218,266}</string>
                <key>textureRect</key>
                <string>{{1,269},{218,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lob_room_xzdd_name.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,31}</string>
                <key>spriteSourceSize</key>
                <string>{112,31}</string>
                <key>textureRect</key>
                <string>{{433,492},{112,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_room_zhong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{185,247}</string>
                <key>spriteSourceSize</key>
                <string>{185,247}</string>
                <key>textureRect</key>
                <string>{{817,1},{185,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_sub_quickstartMenu_Bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,59}</string>
                <key>spriteSourceSize</key>
                <string>{151,59}</string>
                <key>textureRect</key>
                <string>{{623,311},{151,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>BGRA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lobby_room.png</string>
            <key>size</key>
            <string>{1003,524}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b53fb5244d331eed0fa151aa23c3c56b:1241228dfd46fcc6cf516f3232b3438e:87c12bdff8cb9ca7e6b91719e8db9efa$</string>
            <key>textureFileName</key>
            <string>lobby_room.png</string>
        </dict>
    </dict>
</plist>
