<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bobby_gx_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{634,311},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bobby_gx_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{406,355},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bobby_gx_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{498,355},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bobby_gx_guang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{223,203},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bobby_gx_num_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{311,830},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_add_GoldMenu_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{39,27}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{305,967},{39,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_add_GoldMenu_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{39,27}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{346,967},{39,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_beauty_girl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,413}</string>
                <key>spriteSourceSize</key>
                <string>{276,413}</string>
                <key>textureRect</key>
                <string>{{24,297},{276,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_bottom_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{794,81}</string>
                <key>spriteSourceSize</key>
                <string>{794,81}</string>
                <key>textureRect</key>
                <string>{{2,2},{794,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_bs_btn_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,14}</string>
                <key>spriteSourceSize</key>
                <string>{15,14}</string>
                <key>textureRect</key>
                <string>{{377,203},{15,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_bt_back_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,62}</string>
                <key>spriteSourceSize</key>
                <string>{64,62}</string>
                <key>textureRect</key>
                <string>{{726,350},{64,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lob_cfb_btn_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,40}</string>
                <key>spriteSourceSize</key>
                <string>{100,40}</string>
                <key>textureRect</key>
                <string>{{634,227},{100,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_cfb_btn_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{62,26}</string>
                <key>spriteSourceSize</key>
                <string>{100,40}</string>
                <key>textureRect</key>
                <string>{{278,996},{62,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_cfb_btn_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{62,26}</string>
                <key>spriteSourceSize</key>
                <string>{100,40}</string>
                <key>textureRect</key>
                <string>{{342,996},{62,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_czb_btn_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,40}</string>
                <key>spriteSourceSize</key>
                <string>{100,40}</string>
                <key>textureRect</key>
                <string>{{634,269},{100,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_czb_btn_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{60,26}</string>
                <key>spriteSourceSize</key>
                <string>{100,40}</string>
                <key>textureRect</key>
                <string>{{120,269},{60,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_czb_btn_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{60,26}</string>
                <key>spriteSourceSize</key>
                <string>{100,40}</string>
                <key>textureRect</key>
                <string>{{736,238},{60,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_db_btn_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,293}</string>
                <key>spriteSourceSize</key>
                <string>{219,293}</string>
                <key>textureRect</key>
                <string>{{798,2},{219,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_dhf_btn_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{38,52}</string>
                <key>spriteSourceSize</key>
                <string>{66,56}</string>
                <key>textureRect</key>
                <string>{{590,355},{38,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_dhf_btn_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{38,52}</string>
                <key>spriteSourceSize</key>
                <string>{66,56}</string>
                <key>textureRect</key>
                <string>{{590,409},{38,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_dhf_btn_hf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,18}</string>
                <key>spriteSourceSize</key>
                <string>{52,18}</string>
                <key>textureRect</key>
                <string>{{197,977},{52,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_dhf_btn_kk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,42}</string>
                <key>spriteSourceSize</key>
                <string>{84,42}</string>
                <key>textureRect</key>
                <string>{{302,362},{84,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lob_dj_btn_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{34,120}</string>
                <key>spriteSourceSize</key>
                <string>{36,166}</string>
                <key>textureRect</key>
                <string>{{197,855},{34,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_dj_btn_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{34,120}</string>
                <key>spriteSourceSize</key>
                <string>{36,166}</string>
                <key>textureRect</key>
                <string>{{233,855},{34,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_dt_tx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,47}</string>
                <key>spriteSourceSize</key>
                <string>{182,47}</string>
                <key>textureRect</key>
                <string>{{120,85},{182,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lob_dt_tx2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,52}</string>
                <key>spriteSourceSize</key>
                <string>{174,52}</string>
                <key>textureRect</key>
                <string>{{169,85},{174,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lob_gg_btn_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{44,64}</string>
                <key>spriteSourceSize</key>
                <string>{70,64}</string>
                <key>textureRect</key>
                <string>{{750,120},{44,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_gg_btn_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{44,64}</string>
                <key>spriteSourceSize</key>
                <string>{70,64}</string>
                <key>textureRect</key>
                <string>{{302,296},{44,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_hot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,68}</string>
                <key>spriteSourceSize</key>
                <string>{80,68}</string>
                <key>textureRect</key>
                <string>{{358,829},{80,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lob_hy_btn_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{40,52}</string>
                <key>spriteSourceSize</key>
                <string>{66,56}</string>
                <key>textureRect</key>
                <string>{{736,266},{40,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lob_hy_btn_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{40,52}</string>
                <key>spriteSourceSize</key>
                <string>{66,56}</string>
                <key>textureRect</key>
                <string>{{736,308},{40,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lob_hy_ltts.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,28}</string>
                <key>spriteSourceSize</key>
                <string>{36,28}</string>
                <key>textureRect</key>
                <string>{{406,993},{36,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_jb_btn_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,14}</string>
                <key>spriteSourceSize</key>
                <string>{15,14}</string>
                <key>textureRect</key>
                <string>{{377,219},{15,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_jl_btn_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{38,52}</string>
                <key>spriteSourceSize</key>
                <string>{66,56}</string>
                <key>textureRect</key>
                <string>{{344,456},{38,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lob_jl_btn_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{38,52}</string>
                <key>spriteSourceSize</key>
                <string>{66,56}</string>
                <key>textureRect</key>
                <string>{{302,670},{38,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lob_jqqd_bq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,50}</string>
                <key>spriteSourceSize</key>
                <string>{49,50}</string>
                <key>textureRect</key>
                <string>{{377,774},{49,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_ksks_btn_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,74}</string>
                <key>spriteSourceSize</key>
                <string>{162,74}</string>
                <key>textureRect</key>
                <string>{{2,859},{158,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lob_ksks_btn_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,74}</string>
                <key>spriteSourceSize</key>
                <string>{162,74}</string>
                <key>textureRect</key>
                <string>{{78,855},{158,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lob_laba_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{560,20}</string>
                <key>spriteSourceSize</key>
                <string>{560,20}</string>
                <key>textureRect</key>
                <string>{{2,297},{560,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lob_mrth_btn_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{48,64}</string>
                <key>spriteSourceSize</key>
                <string>{70,64}</string>
                <key>textureRect</key>
                <string>{{356,642},{48,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_mrth_btn_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{48,64}</string>
                <key>spriteSourceSize</key>
                <string>{70,64}</string>
                <key>textureRect</key>
                <string>{{365,708},{48,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_new.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,68}</string>
                <key>spriteSourceSize</key>
                <string>{80,68}</string>
                <key>textureRect</key>
                <string>{{387,911},{80,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lob_phb_btn_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,57}</string>
                <key>spriteSourceSize</key>
                <string>{195,57}</string>
                <key>textureRect</key>
                <string>{{2,85},{195,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lob_phb_btn_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,57}</string>
                <key>spriteSourceSize</key>
                <string>{195,57}</string>
                <key>textureRect</key>
                <string>{{61,85},{195,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lob_room_1_btn_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,41}</string>
                <key>spriteSourceSize</key>
                <string>{141,41}</string>
                <key>textureRect</key>
                <string>{{24,712},{141,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lob_room_1_btn_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,41}</string>
                <key>spriteSourceSize</key>
                <string>{141,41}</string>
                <key>textureRect</key>
                <string>{{67,712},{141,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lob_room_1_btn_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,41}</string>
                <key>spriteSourceSize</key>
                <string>{141,41}</string>
                <key>textureRect</key>
                <string>{{110,712},{141,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lob_room_1_btn_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{109,41}</string>
                <key>spriteSourceSize</key>
                <string>{141,41}</string>
                <key>textureRect</key>
                <string>{{634,141},{109,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_room_1_btn_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,88}</string>
                <key>spriteSourceSize</key>
                <string>{226,88}</string>
                <key>textureRect</key>
                <string>{{406,85},{226,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_room_1_btn_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,88}</string>
                <key>spriteSourceSize</key>
                <string>{226,88}</string>
                <key>textureRect</key>
                <string>{{406,175},{226,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_room_2_btn_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,41}</string>
                <key>spriteSourceSize</key>
                <string>{141,41}</string>
                <key>textureRect</key>
                <string>{{153,712},{141,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lob_room_2_btn_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,41}</string>
                <key>spriteSourceSize</key>
                <string>{141,41}</string>
                <key>textureRect</key>
                <string>{{154,855},{141,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lob_room_2_btn_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,41}</string>
                <key>spriteSourceSize</key>
                <string>{141,41}</string>
                <key>textureRect</key>
                <string>{{196,712},{141,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lob_room_2_btn_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{109,41}</string>
                <key>spriteSourceSize</key>
                <string>{141,41}</string>
                <key>textureRect</key>
                <string>{{634,184},{109,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_room_2_btn_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,88}</string>
                <key>spriteSourceSize</key>
                <string>{226,88}</string>
                <key>textureRect</key>
                <string>{{406,265},{226,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_room_2_btn_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,88}</string>
                <key>spriteSourceSize</key>
                <string>{226,88}</string>
                <key>textureRect</key>
                <string>{{790,297},{226,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_room_3_btn_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,35}</string>
                <key>spriteSourceSize</key>
                <string>{82,35}</string>
                <key>textureRect</key>
                <string>{{630,403},{82,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_room_3_btn_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,35}</string>
                <key>spriteSourceSize</key>
                <string>{82,35}</string>
                <key>textureRect</key>
                <string>{{406,447},{82,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_room_3_btn_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,35}</string>
                <key>spriteSourceSize</key>
                <string>{82,35}</string>
                <key>textureRect</key>
                <string>{{490,447},{82,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_room_3_btn_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,35}</string>
                <key>spriteSourceSize</key>
                <string>{82,35}</string>
                <key>textureRect</key>
                <string>{{302,502},{82,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lob_room_3_btn_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,87}</string>
                <key>spriteSourceSize</key>
                <string>{116,87}</string>
                <key>textureRect</key>
                <string>{{239,712},{116,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lob_room_3_btn_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,87}</string>
                <key>spriteSourceSize</key>
                <string>{116,87}</string>
                <key>textureRect</key>
                <string>{{269,849},{116,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lob_room_4_btn_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,33}</string>
                <key>spriteSourceSize</key>
                <string>{82,33}</string>
                <key>textureRect</key>
                <string>{{182,261},{82,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_room_4_btn_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,35}</string>
                <key>spriteSourceSize</key>
                <string>{82,35}</string>
                <key>textureRect</key>
                <string>{{302,586},{82,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lob_room_4_btn_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,35}</string>
                <key>spriteSourceSize</key>
                <string>{82,35}</string>
                <key>textureRect</key>
                <string>{{328,710},{82,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lob_room_4_btn_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,33}</string>
                <key>spriteSourceSize</key>
                <string>{82,33}</string>
                <key>textureRect</key>
                <string>{{266,261},{82,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_room_4_btn_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,87}</string>
                <key>spriteSourceSize</key>
                <string>{116,87}</string>
                <key>textureRect</key>
                <string>{{223,85},{116,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lob_room_4_btn_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,87}</string>
                <key>spriteSourceSize</key>
                <string>{116,87}</string>
                <key>textureRect</key>
                <string>{{312,85},{116,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lob_sclb_btn_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{70,64}</string>
                <key>textureRect</key>
                <string>{{339,502},{68,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lob_sclb_btn_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{70,64}</string>
                <key>textureRect</key>
                <string>{{339,572},{68,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lob_shop_btn_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{114,54}</string>
                <key>spriteSourceSize</key>
                <string>{114,56}</string>
                <key>textureRect</key>
                <string>{{634,85},{114,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_shop_btn_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,53}</string>
                <key>spriteSourceSize</key>
                <string>{81,53}</string>
                <key>textureRect</key>
                <string>{{350,261},{81,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lob_shop_btn_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,32}</string>
                <key>spriteSourceSize</key>
                <string>{62,32}</string>
                <key>textureRect</key>
                <string>{{405,484},{62,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lob_sz_btn_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,56}</string>
                <key>spriteSourceSize</key>
                <string>{66,56}</string>
                <key>textureRect</key>
                <string>{{281,203},{46,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_sz_btn_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,56}</string>
                <key>spriteSourceSize</key>
                <string>{66,56}</string>
                <key>textureRect</key>
                <string>{{329,203},{46,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_txt_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,20}</string>
                <key>spriteSourceSize</key>
                <string>{87,20}</string>
                <key>textureRect</key>
                <string>{{189,998},{87,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_txt_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,17}</string>
                <key>spriteSourceSize</key>
                <string>{27,17}</string>
                <key>textureRect</key>
                <string>{{282,830},{27,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_txt_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,17}</string>
                <key>spriteSourceSize</key>
                <string>{52,17}</string>
                <key>textureRect</key>
                <string>{{251,977},{52,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_vip_btn_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{40,52}</string>
                <key>spriteSourceSize</key>
                <string>{66,56}</string>
                <key>textureRect</key>
                <string>{{346,414},{40,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lob_vip_btn_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{40,52}</string>
                <key>spriteSourceSize</key>
                <string>{66,56}</string>
                <key>textureRect</key>
                <string>{{302,448},{40,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_vip_btn_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,22}</string>
                <key>spriteSourceSize</key>
                <string>{33,22}</string>
                <key>textureRect</key>
                <string>{{154,998},{33,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_vip_btn_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,33}</string>
                <key>spriteSourceSize</key>
                <string>{36,33}</string>
                <key>textureRect</key>
                <string>{{348,344},{36,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_vip_btn_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{745,186},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby_hsd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{387,344},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby_rank_num_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{47,33}</string>
                <key>spriteSourceSize</key>
                <string>{51,33}</string>
                <key>textureRect</key>
                <string>{{328,794},{47,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby_rank_num_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{45,33}</string>
                <key>spriteSourceSize</key>
                <string>{51,33}</string>
                <key>textureRect</key>
                <string>{{750,85},{45,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby_rank_num_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,33}</string>
                <key>spriteSourceSize</key>
                <string>{51,33}</string>
                <key>textureRect</key>
                <string>{{358,379},{41,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby_rank_num_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{444,993},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby_rank_num_4_h.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{405,548},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby_rank_num_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,17}</string>
                <key>spriteSourceSize</key>
                <string>{41,17}</string>
                <key>textureRect</key>
                <string>{{239,830},{41,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lobby_new_menu.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4b6095e2433bc5b6d565f10c1ac2992:1c60afd6bd5abba992b42c927a4c97ea:b502e451d552f8d0a466892eb8ffa9ce$</string>
            <key>textureFileName</key>
            <string>lobby_new_menu.png</string>
        </dict>
    </dict>
</plist>
