<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mrdl_dbht.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,29}</string>
                <key>spriteSourceSize</key>
                <string>{288,29}</string>
                <key>textureRect</key>
                <string>{{1,50},{288,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mrdl_dd_bt_1a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,26}</string>
                <key>spriteSourceSize</key>
                <string>{82,26}</string>
                <key>textureRect</key>
                <string>{{167,229},{82,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mrdl_dd_bt_1b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,26}</string>
                <key>spriteSourceSize</key>
                <string>{82,26}</string>
                <key>textureRect</key>
                <string>{{270,97},{82,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mrdl_dd_bt_2a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,49}</string>
                <key>spriteSourceSize</key>
                <string>{164,49}</string>
                <key>textureRect</key>
                <string>{{1,145},{164,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mrdl_dd_bt_2b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,49}</string>
                <key>spriteSourceSize</key>
                <string>{164,49}</string>
                <key>textureRect</key>
                <string>{{1,196},{164,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mrdl_dd_d_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,45}</string>
                <key>spriteSourceSize</key>
                <string>{106,45}</string>
                <key>textureRect</key>
                <string>{{291,50},{106,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mrdl_dd_d_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,45}</string>
                <key>spriteSourceSize</key>
                <string>{106,45}</string>
                <key>textureRect</key>
                <string>{{399,50},{106,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mrdl_dd_hpk_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,23}</string>
                <key>spriteSourceSize</key>
                <string>{69,23}</string>
                <key>textureRect</key>
                <string>{{247,147},{69,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mrdl_dd_hpk_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,23}</string>
                <key>spriteSourceSize</key>
                <string>{69,23}</string>
                <key>textureRect</key>
                <string>{{441,97},{69,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mrdl_dd_jb_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,23}</string>
                <key>spriteSourceSize</key>
                <string>{40,23}</string>
                <key>textureRect</key>
                <string>{{451,195},{40,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mrdl_dd_jb_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,23}</string>
                <key>spriteSourceSize</key>
                <string>{40,23}</string>
                <key>textureRect</key>
                <string>{{526,201},{40,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mrdl_dd_qtk_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,23}</string>
                <key>spriteSourceSize</key>
                <string>{69,23}</string>
                <key>textureRect</key>
                <string>{{272,147},{69,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mrdl_dd_qtk_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,23}</string>
                <key>spriteSourceSize</key>
                <string>{69,23}</string>
                <key>textureRect</key>
                <string>{{297,147},{69,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mrdl_dd_spk_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,23}</string>
                <key>spriteSourceSize</key>
                <string>{69,23}</string>
                <key>textureRect</key>
                <string>{{354,122},{69,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mrdl_dd_spk_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,23}</string>
                <key>spriteSourceSize</key>
                <string>{69,23}</string>
                <key>textureRect</key>
                <string>{{425,122},{69,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mrdl_dd_t_1a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,16}</string>
                <key>spriteSourceSize</key>
                <string>{48,16}</string>
                <key>textureRect</key>
                <string>{{512,57},{48,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mrdl_dd_t_1b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,16}</string>
                <key>spriteSourceSize</key>
                <string>{48,16}</string>
                <key>textureRect</key>
                <string>{{401,195},{48,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mrdl_dd_t_2a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,16}</string>
                <key>spriteSourceSize</key>
                <string>{48,16}</string>
                <key>textureRect</key>
                <string>{{512,75},{48,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mrdl_dd_t_2b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,16}</string>
                <key>spriteSourceSize</key>
                <string>{48,16}</string>
                <key>textureRect</key>
                <string>{{512,93},{48,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mrdl_dd_t_3a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,16}</string>
                <key>spriteSourceSize</key>
                <string>{48,16}</string>
                <key>textureRect</key>
                <string>{{512,111},{48,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mrdl_dd_t_3b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,16}</string>
                <key>spriteSourceSize</key>
                <string>{48,16}</string>
                <key>textureRect</key>
                <string>{{401,213},{48,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mrdl_dd_t_4a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,16}</string>
                <key>spriteSourceSize</key>
                <string>{48,16}</string>
                <key>textureRect</key>
                <string>{{398,231},{48,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mrdl_dd_t_4b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,16}</string>
                <key>spriteSourceSize</key>
                <string>{48,16}</string>
                <key>textureRect</key>
                <string>{{496,129},{48,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mrdl_dd_t_5a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,16}</string>
                <key>spriteSourceSize</key>
                <string>{48,16}</string>
                <key>textureRect</key>
                <string>{{489,147},{48,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mrdl_dd_t_5b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,16}</string>
                <key>spriteSourceSize</key>
                <string>{48,16}</string>
                <key>textureRect</key>
                <string>{{489,165},{48,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mrdl_dd_t_6a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,16}</string>
                <key>spriteSourceSize</key>
                <string>{48,16}</string>
                <key>textureRect</key>
                <string>{{483,183},{48,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mrdl_dd_t_6b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,16}</string>
                <key>spriteSourceSize</key>
                <string>{48,16}</string>
                <key>textureRect</key>
                <string>{{476,201},{48,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mrdl_dd_t_7a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,16}</string>
                <key>spriteSourceSize</key>
                <string>{48,16}</string>
                <key>textureRect</key>
                <string>{{476,219},{48,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mrdl_dd_t_7b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,16}</string>
                <key>spriteSourceSize</key>
                <string>{48,16}</string>
                <key>textureRect</key>
                <string>{{470,237},{48,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mrdl_dd_tsk_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,23}</string>
                <key>spriteSourceSize</key>
                <string>{69,23}</string>
                <key>textureRect</key>
                <string>{{322,147},{69,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mrdl_dd_tsk_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,23}</string>
                <key>spriteSourceSize</key>
                <string>{69,23}</string>
                <key>textureRect</key>
                <string>{{347,147},{69,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mrdl_dd_tsq_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,20}</string>
                <key>spriteSourceSize</key>
                <string>{52,20}</string>
                <key>textureRect</key>
                <string>{{270,125},{52,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mrdl_dd_tsq_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,20}</string>
                <key>spriteSourceSize</key>
                <string>{52,20}</string>
                <key>textureRect</key>
                <string>{{347,195},{52,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mrdl_dd_zdk_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,21}</string>
                <key>spriteSourceSize</key>
                <string>{69,21}</string>
                <key>textureRect</key>
                <string>{{347,172},{69,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mrdl_dd_zdk_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,21}</string>
                <key>spriteSourceSize</key>
                <string>{69,21}</string>
                <key>textureRect</key>
                <string>{{418,147},{69,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mrdl_dh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,20}</string>
                <key>spriteSourceSize</key>
                <string>{25,20}</string>
                <key>textureRect</key>
                <string>{{324,125},{25,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mrdl_gold_wan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{539,147},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mrdl_tt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,62}</string>
                <key>spriteSourceSize</key>
                <string>{198,62}</string>
                <key>textureRect</key>
                <string>{{1,81},{198,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mrdl_ylq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,29}</string>
                <key>spriteSourceSize</key>
                <string>{82,29}</string>
                <key>textureRect</key>
                <string>{{167,145},{82,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sc_yb_ansz3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,54}</string>
                <key>spriteSourceSize</key>
                <string>{50,54}</string>
                <key>textureRect</key>
                <string>{{510,1},{50,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_yb_ansz4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,30}</string>
                <key>spriteSourceSize</key>
                <string>{54,30}</string>
                <key>textureRect</key>
                <string>{{294,218},{54,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_yb_bt_2a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,23}</string>
                <key>spriteSourceSize</key>
                <string>{63,23}</string>
                <key>textureRect</key>
                <string>{{418,170},{63,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_yb_gx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,37}</string>
                <key>spriteSourceSize</key>
                <string>{41,37}</string>
                <key>textureRect</key>
                <string>{{251,218},{41,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_yscz1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{507,47}</string>
                <key>spriteSourceSize</key>
                <string>{507,47}</string>
                <key>textureRect</key>
                <string>{{1,1},{507,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_yscz2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,47}</string>
                <key>spriteSourceSize</key>
                <string>{76,47}</string>
                <key>textureRect</key>
                <string>{{198,147},{76,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sc_yscz3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,22}</string>
                <key>spriteSourceSize</key>
                <string>{46,22}</string>
                <key>textureRect</key>
                <string>{{350,217},{46,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_yscz4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,23}</string>
                <key>spriteSourceSize</key>
                <string>{85,23}</string>
                <key>textureRect</key>
                <string>{{354,97},{85,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_zz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,67}</string>
                <key>textureRect</key>
                <string>{{201,81},{64,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sc_zzjh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,20}</string>
                <key>spriteSourceSize</key>
                <string>{18,20}</string>
                <key>textureRect</key>
                <string>{{448,237},{18,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>login_reward.png</string>
            <key>size</key>
            <string>{561,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0c08b973c1851cee8885d00d75dee96:cbcf85be8c368cbd176eae528f71b681:37a547432c980119c688a3396a40801b$</string>
            <key>textureFileName</key>
            <string>login_reward.png</string>
        </dict>
    </dict>
</plist>
