<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dl_logo2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,320}</string>
                <key>spriteSourceSize</key>
                <string>{372,320}</string>
                <key>textureRect</key>
                <string>{{2,2},{372,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dl_mm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{516,308},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dl_tt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,28}</string>
                <key>spriteSourceSize</key>
                <string>{50,28}</string>
                <key>textureRect</key>
                <string>{{516,256},{50,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dl_zh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{546,256},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qq_login_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,54}</string>
                <key>spriteSourceSize</key>
                <string>{190,54}</string>
                <key>textureRect</key>
                <string>{{2,376},{190,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qq_login_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,54}</string>
                <key>spriteSourceSize</key>
                <string>{190,54}</string>
                <key>textureRect</key>
                <string>{{2,432},{190,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>reward_login.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{386,474},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>safe_login_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,54}</string>
                <key>spriteSourceSize</key>
                <string>{190,54}</string>
                <key>textureRect</key>
                <string>{{194,376},{190,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>safe_login_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,54}</string>
                <key>spriteSourceSize</key>
                <string>{190,54}</string>
                <key>textureRect</key>
                <string>{{194,432},{190,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sdk_safe_login_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,54}</string>
                <key>spriteSourceSize</key>
                <string>{190,54}</string>
                <key>textureRect</key>
                <string>{{324,2},{190,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sdk_safe_login_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,54}</string>
                <key>spriteSourceSize</key>
                <string>{190,54}</string>
                <key>textureRect</key>
                <string>{{324,194},{190,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sdk_traveller_login_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,54}</string>
                <key>spriteSourceSize</key>
                <string>{190,54}</string>
                <key>textureRect</key>
                <string>{{324,250},{190,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sdk_traveller_login_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,54}</string>
                <key>spriteSourceSize</key>
                <string>{190,54}</string>
                <key>textureRect</key>
                <string>{{324,306},{190,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>traveller_login_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,54}</string>
                <key>spriteSourceSize</key>
                <string>{190,54}</string>
                <key>textureRect</key>
                <string>{{386,362},{190,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>traveller_login_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,54}</string>
                <key>spriteSourceSize</key>
                <string>{190,54}</string>
                <key>textureRect</key>
                <string>{{386,418},{190,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tuichu_btn_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,84}</string>
                <key>spriteSourceSize</key>
                <string>{80,84}</string>
                <key>textureRect</key>
                <string>{{492,2},{80,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tuichu_btn_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,84}</string>
                <key>spriteSourceSize</key>
                <string>{80,84}</string>
                <key>textureRect</key>
                <string>{{492,88},{80,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weixin_login_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,54}</string>
                <key>spriteSourceSize</key>
                <string>{190,54}</string>
                <key>textureRect</key>
                <string>{{380,2},{190,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>weixin_login_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,54}</string>
                <key>spriteSourceSize</key>
                <string>{190,54}</string>
                <key>textureRect</key>
                <string>{{436,2},{190,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>weixindenglu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,23}</string>
                <key>spriteSourceSize</key>
                <string>{84,23}</string>
                <key>textureRect</key>
                <string>{{496,474},{84,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>youkedenglu_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{516,174},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>login_new_texture.png</string>
            <key>size</key>
            <string>{598,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1ad9969a195167cac2752122389fe4b:db3c3e475ed670b07970330f12042305:96e19bf6880beb46b3b9c7b8af1a088d$</string>
            <key>textureFileName</key>
            <string>login_new_texture.png</string>
        </dict>
    </dict>
</plist>
