<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>match_bm_flag_gan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,218}</string>
                <key>spriteSourceSize</key>
                <string>{66,218}</string>
                <key>textureRect</key>
                <string>{{2,2},{66,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_cg_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,34}</string>
                <key>spriteSourceSize</key>
                <string>{88,34}</string>
                <key>textureRect</key>
                <string>{{142,2},{88,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_end_l_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,126}</string>
                <key>spriteSourceSize</key>
                <string>{400,126}</string>
                <key>textureRect</key>
                <string>{{2,250},{400,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_end_w_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,33}</string>
                <key>spriteSourceSize</key>
                <string>{142,33}</string>
                <key>textureRect</key>
                <string>{{232,2},{142,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_end_w_cs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,80}</string>
                <key>spriteSourceSize</key>
                <string>{70,80}</string>
                <key>textureRect</key>
                <string>{{70,2},{70,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_gy_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,26}</string>
                <key>spriteSourceSize</key>
                <string>{305,26}</string>
                <key>textureRect</key>
                <string>{{2,222},{305,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_pz_hy_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,126}</string>
                <key>spriteSourceSize</key>
                <string>{400,126}</string>
                <key>textureRect</key>
                <string>{{2,378},{400,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>match_com.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41d5f6b141da1054473ed6ad611a3e04:bee661bc8286128368fdf8db3d481131:dcd41799e7ff890103af53deabcf136a$</string>
            <key>textureFileName</key>
            <string>match_com.png</string>
        </dict>
    </dict>
</plist>
