<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>match_cg_1a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,139}</string>
                <key>spriteSourceSize</key>
                <string>{415,139}</string>
                <key>textureRect</key>
                <string>{{2,314},{415,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_cg_1b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{413,133}</string>
                <key>spriteSourceSize</key>
                <string>{415,139}</string>
                <key>textureRect</key>
                <string>{{268,8},{413,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_cg_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,181}</string>
                <key>spriteSourceSize</key>
                <string>{181,181}</string>
                <key>textureRect</key>
                <string>{{808,364},{181,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_cg_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{865,2},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_cg_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,24}</string>
                <key>spriteSourceSize</key>
                <string>{66,24}</string>
                <key>textureRect</key>
                <string>{{971,2},{66,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_end_l_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,238}</string>
                <key>spriteSourceSize</key>
                <string>{176,238}</string>
                <key>textureRect</key>
                <string>{{808,124},{176,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_end_l_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,272}</string>
                <key>spriteSourceSize</key>
                <string>{264,272}</string>
                <key>textureRect</key>
                <string>{{268,194},{264,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_end_l_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,7}</string>
                <key>spriteSize</key>
                <string>{190,254}</string>
                <key>spriteSourceSize</key>
                <string>{218,286}</string>
                <key>textureRect</key>
                <string>{{539,468},{190,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_end_l_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,1}</string>
                <key>spriteSourceSize</key>
                <string>{800,1}</string>
                <key>textureRect</key>
                <string>{{2,2},{800,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_end_l_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,180}</string>
                <key>spriteSourceSize</key>
                <string>{114,180}</string>
                <key>textureRect</key>
                <string>{{683,8},{114,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_end_l_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,36}</string>
                <key>spriteSourceSize</key>
                <string>{35,36}</string>
                <key>textureRect</key>
                <string>{{143,677},{35,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_end_l_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,41}</string>
                <key>spriteSourceSize</key>
                <string>{282,41}</string>
                <key>textureRect</key>
                <string>{{186,630},{282,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_end_l_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,20}</string>
                <key>spriteSourceSize</key>
                <string>{64,20}</string>
                <key>textureRect</key>
                <string>{{470,630},{64,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_end_l_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,80}</string>
                <key>spriteSourceSize</key>
                <string>{219,80}</string>
                <key>textureRect</key>
                <string>{{795,547},{219,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_end_l_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,80}</string>
                <key>spriteSourceSize</key>
                <string>{241,80}</string>
                <key>textureRect</key>
                <string>{{186,314},{241,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_end_sign_jia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,26}</string>
                <key>spriteSourceSize</key>
                <string>{24,26}</string>
                <key>textureRect</key>
                <string>{{851,711},{24,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_end_sign_jian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,10}</string>
                <key>spriteSourceSize</key>
                <string>{24,10}</string>
                <key>textureRect</key>
                <string>{{795,468},{24,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_end_w_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,269}</string>
                <key>spriteSourceSize</key>
                <string>{168,269}</string>
                <key>textureRect</key>
                <string>{{268,460},{168,269}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_end_w_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,272}</string>
                <key>spriteSourceSize</key>
                <string>{264,272}</string>
                <key>textureRect</key>
                <string>{{542,194},{264,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_end_w_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,304}</string>
                <key>spriteSourceSize</key>
                <string>{264,304}</string>
                <key>textureRect</key>
                <string>{{2,8},{264,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_end_w_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,1}</string>
                <key>spriteSourceSize</key>
                <string>{800,1}</string>
                <key>textureRect</key>
                <string>{{2,5},{800,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_end_w_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{496,49}</string>
                <key>spriteSourceSize</key>
                <string>{496,49}</string>
                <key>textureRect</key>
                <string>{{268,143},{496,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_end_w_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,41}</string>
                <key>spriteSourceSize</key>
                <string>{361,41}</string>
                <key>textureRect</key>
                <string>{{143,314},{361,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_end_w_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,20}</string>
                <key>spriteSourceSize</key>
                <string>{64,20}</string>
                <key>textureRect</key>
                <string>{{785,711},{64,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_end_w_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,19}</string>
                <key>spriteSourceSize</key>
                <string>{15,19}</string>
                <key>textureRect</key>
                <string>{{785,733},{15,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_end_w_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{186,557},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_end_w_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,19}</string>
                <key>spriteSourceSize</key>
                <string>{15,19}</string>
                <key>textureRect</key>
                <string>{{806,733},{15,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_end_w_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,19}</string>
                <key>spriteSourceSize</key>
                <string>{16,19}</string>
                <key>textureRect</key>
                <string>{{2,731},{16,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_end_w_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,80}</string>
                <key>spriteSourceSize</key>
                <string>{219,80}</string>
                <key>textureRect</key>
                <string>{{795,629},{219,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_end_w_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,80}</string>
                <key>spriteSourceSize</key>
                <string>{219,80}</string>
                <key>textureRect</key>
                <string>{{470,660},{219,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_js_10a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,36}</string>
                <key>spriteSourceSize</key>
                <string>{35,36}</string>
                <key>textureRect</key>
                <string>{{971,70},{35,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_js_hd3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,85}</string>
                <key>spriteSourceSize</key>
                <string>{92,85}</string>
                <key>textureRect</key>
                <string>{{691,660},{92,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_js_hd5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,15}</string>
                <key>spriteSourceSize</key>
                <string>{61,15}</string>
                <key>textureRect</key>
                <string>{{683,124},{61,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>match_end.png</string>
            <key>size</key>
            <string>{1016,750}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf0cff0bdf9b94dbf0b37915381d6493:cd0ff76521028b3b0a47790e038b5eab:6e9fe9bb5a4c53f7670c91fc0984f318$</string>
            <key>textureFileName</key>
            <string>match_end.png</string>
        </dict>
    </dict>
</plist>
