<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>match_js_fx_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{226,88}</string>
                <key>spriteSourceSize</key>
                <string>{226,90}</string>
                <key>textureRect</key>
                <string>{{300,2},{226,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_js_fx_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,1}</string>
                <key>spriteSize</key>
                <string>{212,88}</string>
                <key>spriteSourceSize</key>
                <string>{226,90}</string>
                <key>textureRect</key>
                <string>{{804,162},{212,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_js_fx_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{226,70}</string>
                <key>spriteSourceSize</key>
                <string>{226,90}</string>
                <key>textureRect</key>
                <string>{{481,230},{226,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_js_fx_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{218,78}</string>
                <key>spriteSourceSize</key>
                <string>{226,90}</string>
                <key>textureRect</key>
                <string>{{568,542},{218,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_js_fx_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{226,86}</string>
                <key>spriteSourceSize</key>
                <string>{226,90}</string>
                <key>textureRect</key>
                <string>{{244,542},{226,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_js_fx_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{226,86}</string>
                <key>spriteSourceSize</key>
                <string>{226,90}</string>
                <key>textureRect</key>
                <string>{{313,230},{226,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_js_fx_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,4}</string>
                <key>spriteSize</key>
                <string>{220,78}</string>
                <key>spriteSourceSize</key>
                <string>{226,90}</string>
                <key>textureRect</key>
                <string>{{408,542},{220,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_js_fx_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,4}</string>
                <key>spriteSize</key>
                <string>{210,80}</string>
                <key>spriteSourceSize</key>
                <string>{226,90}</string>
                <key>textureRect</key>
                <string>{{804,340},{210,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_js_fx_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,2}</string>
                <key>spriteSize</key>
                <string>{212,86}</string>
                <key>spriteSourceSize</key>
                <string>{226,90}</string>
                <key>textureRect</key>
                <string>{{680,762},{212,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_js_fx_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,4}</string>
                <key>spriteSize</key>
                <string>{220,78}</string>
                <key>spriteSourceSize</key>
                <string>{226,90}</string>
                <key>textureRect</key>
                <string>{{488,542},{220,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_js_fx_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{218,74}</string>
                <key>spriteSourceSize</key>
                <string>{226,90}</string>
                <key>textureRect</key>
                <string>{{648,542},{218,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_js_fx_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,82}</string>
                <key>spriteSourceSize</key>
                <string>{272,82}</string>
                <key>textureRect</key>
                <string>{{84,574},{272,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_js_fx_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{252,82}</string>
                <key>spriteSourceSize</key>
                <string>{272,82}</string>
                <key>textureRect</key>
                <string>{{229,288},{252,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_js_fx_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{268,80}</string>
                <key>spriteSourceSize</key>
                <string>{272,82}</string>
                <key>textureRect</key>
                <string>{{2,578},{268,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_js_fx_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{210,72}</string>
                <key>spriteSourceSize</key>
                <string>{226,90}</string>
                <key>textureRect</key>
                <string>{{804,422},{210,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_js_fx_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{212,76}</string>
                <key>spriteSourceSize</key>
                <string>{226,90}</string>
                <key>textureRect</key>
                <string>{{725,2},{212,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_js_fx_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{212,76}</string>
                <key>spriteSourceSize</key>
                <string>{226,90}</string>
                <key>textureRect</key>
                <string>{{725,216},{212,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_js_fx_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-1}</string>
                <key>spriteSize</key>
                <string>{208,80}</string>
                <key>spriteSourceSize</key>
                <string>{226,90}</string>
                <key>textureRect</key>
                <string>{{804,496},{208,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_js_fx_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,2}</string>
                <key>spriteSize</key>
                <string>{212,86}</string>
                <key>spriteSourceSize</key>
                <string>{226,90}</string>
                <key>textureRect</key>
                <string>{{804,252},{212,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_js_fx_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,1}</string>
                <key>spriteSize</key>
                <string>{198,88}</string>
                <key>spriteSourceSize</key>
                <string>{226,90}</string>
                <key>textureRect</key>
                <string>{{553,252},{198,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_js_fx_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{284,75}</string>
                <key>spriteSourceSize</key>
                <string>{290,77}</string>
                <key>textureRect</key>
                <string>{{2,292},{284,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_js_fx_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-1}</string>
                <key>spriteSize</key>
                <string>{208,80}</string>
                <key>spriteSourceSize</key>
                <string>{226,90}</string>
                <key>textureRect</key>
                <string>{{804,578},{208,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_js_fx_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{214,78}</string>
                <key>spriteSourceSize</key>
                <string>{226,90}</string>
                <key>textureRect</key>
                <string>{{804,2},{214,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_js_fx_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,1}</string>
                <key>spriteSize</key>
                <string>{208,80}</string>
                <key>spriteSourceSize</key>
                <string>{226,90}</string>
                <key>textureRect</key>
                <string>{{804,660},{208,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_js_fx_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{212,80}</string>
                <key>spriteSourceSize</key>
                <string>{226,90}</string>
                <key>textureRect</key>
                <string>{{638,2},{212,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_js_fx_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{284,73}</string>
                <key>spriteSourceSize</key>
                <string>{290,77}</string>
                <key>textureRect</key>
                <string>{{75,2},{284,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_js_fx_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{284,73}</string>
                <key>spriteSourceSize</key>
                <string>{290,77}</string>
                <key>textureRect</key>
                <string>{{79,288},{284,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_js_fx_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,78}</string>
                <key>spriteSourceSize</key>
                <string>{226,90}</string>
                <key>textureRect</key>
                <string>{{244,770},{226,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_js_fx_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{284,73}</string>
                <key>spriteSourceSize</key>
                <string>{290,77}</string>
                <key>textureRect</key>
                <string>{{150,2},{284,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_js_fx_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,4}</string>
                <key>spriteSize</key>
                <string>{206,82}</string>
                <key>spriteSourceSize</key>
                <string>{226,90}</string>
                <key>textureRect</key>
                <string>{{541,458},{206,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_js_fx_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,78}</string>
                <key>spriteSourceSize</key>
                <string>{226,90}</string>
                <key>textureRect</key>
                <string>{{401,230},{226,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_js_fx_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,3}</string>
                <key>spriteSize</key>
                <string>{206,84}</string>
                <key>spriteSourceSize</key>
                <string>{226,90}</string>
                <key>textureRect</key>
                <string>{{472,764},{206,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_js_fx_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{284,73}</string>
                <key>spriteSourceSize</key>
                <string>{290,77}</string>
                <key>textureRect</key>
                <string>{{154,288},{284,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_js_fx_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{284,73}</string>
                <key>spriteSourceSize</key>
                <string>{290,77}</string>
                <key>textureRect</key>
                <string>{{225,2},{284,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_js_fx_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{226,82}</string>
                <key>spriteSourceSize</key>
                <string>{226,90}</string>
                <key>textureRect</key>
                <string>{{313,458},{226,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_js_fx_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{226,80}</string>
                <key>spriteSourceSize</key>
                <string>{226,90}</string>
                <key>textureRect</key>
                <string>{{390,2},{226,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_js_fx_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{222,88}</string>
                <key>spriteSourceSize</key>
                <string>{226,90}</string>
                <key>textureRect</key>
                <string>{{548,2},{222,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_js_fx_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{216,78}</string>
                <key>spriteSourceSize</key>
                <string>{226,90}</string>
                <key>textureRect</key>
                <string>{{724,542},{216,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_js_fx_53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{288,71}</string>
                <key>spriteSourceSize</key>
                <string>{290,77}</string>
                <key>textureRect</key>
                <string>{{2,2},{288,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_js_fx_54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{214,78}</string>
                <key>spriteSourceSize</key>
                <string>{226,90}</string>
                <key>textureRect</key>
                <string>{{804,82},{214,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_js_fx_55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{222,74}</string>
                <key>spriteSourceSize</key>
                <string>{226,90}</string>
                <key>textureRect</key>
                <string>{{332,542},{222,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_js_fx_56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{266,74}</string>
                <key>spriteSourceSize</key>
                <string>{272,82}</string>
                <key>textureRect</key>
                <string>{{168,574},{266,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_js_fx_57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,4}</string>
                <key>spriteSize</key>
                <string>{198,80}</string>
                <key>spriteSourceSize</key>
                <string>{226,90}</string>
                <key>textureRect</key>
                <string>{{643,252},{198,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_js_fx_58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{226,74}</string>
                <key>spriteSourceSize</key>
                <string>{226,90}</string>
                <key>textureRect</key>
                <string>{{472,2},{226,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>match_end_fx.png</string>
            <key>size</key>
            <string>{1024,850}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a659aa6c327932f8d65441e54cd38707:b8a6083a8733741caacf2b6e60b69c1d:3eac3e2e334cb81506a04f2b260d7e14$</string>
            <key>textureFileName</key>
            <string>match_end_fx.png</string>
        </dict>
    </dict>
</plist>
