<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>match_end_w_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,131}</string>
                <key>spriteSourceSize</key>
                <string>{400,131}</string>
                <key>textureRect</key>
                <string>{{187,370},{400,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_js_hd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,366}</string>
                <key>spriteSourceSize</key>
                <string>{322,366}</string>
                <key>textureRect</key>
                <string>{{2,2},{322,366}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_js_hd67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,183}</string>
                <key>spriteSourceSize</key>
                <string>{161,183}</string>
                <key>textureRect</key>
                <string>{{2,326},{161,183}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_js_shd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,366}</string>
                <key>spriteSourceSize</key>
                <string>{322,366}</string>
                <key>textureRect</key>
                <string>{{370,2},{322,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>match_end_2.png</string>
            <key>size</key>
            <string>{694,503}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4bc9c9d547e945c53d4b14a57e2cf6f2:2fc4b93c97a19cfb08f3118846541fdb:d1496565442656dfff76ba41a7c50407$</string>
            <key>textureFileName</key>
            <string>match_end_2.png</string>
        </dict>
    </dict>
</plist>
