<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>match_pz_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,93}</string>
                <key>spriteSourceSize</key>
                <string>{93,93}</string>
                <key>textureRect</key>
                <string>{{399,314},{93,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_pz_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,93}</string>
                <key>spriteSourceSize</key>
                <string>{93,93}</string>
                <key>textureRect</key>
                <string>{{399,409},{93,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_pz_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,4}</string>
                <key>spriteSize</key>
                <string>{235,221}</string>
                <key>spriteSourceSize</key>
                <string>{241,243}</string>
                <key>textureRect</key>
                <string>{{2,314},{235,221}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_pz_huoxing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,63}</string>
                <key>spriteSourceSize</key>
                <string>{47,63}</string>
                <key>textureRect</key>
                <string>{{2,551},{47,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_pz_hy_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,143}</string>
                <key>spriteSourceSize</key>
                <string>{59,143}</string>
                <key>textureRect</key>
                <string>{{225,304},{59,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_pz_hy_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,134}</string>
                <key>spriteSourceSize</key>
                <string>{111,134}</string>
                <key>textureRect</key>
                <string>{{286,313},{111,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_pz_hy_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,186}</string>
                <key>spriteSourceSize</key>
                <string>{140,186}</string>
                <key>textureRect</key>
                <string>{{304,2},{140,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_pz_hy_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,140}</string>
                <key>spriteSourceSize</key>
                <string>{157,140}</string>
                <key>textureRect</key>
                <string>{{296,171},{157,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_pz_ppz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,19}</string>
                <key>spriteSourceSize</key>
                <string>{131,19}</string>
                <key>textureRect</key>
                <string>{{67,551},{131,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_pz_qz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,74}</string>
                <key>spriteSourceSize</key>
                <string>{300,74}</string>
                <key>textureRect</key>
                <string>{{2,2},{300,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_pz_szjl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,25}</string>
                <key>spriteSourceSize</key>
                <string>{177,25}</string>
                <key>textureRect</key>
                <string>{{302,144},{177,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_pz_szjl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,25}</string>
                <key>spriteSourceSize</key>
                <string>{90,25}</string>
                <key>textureRect</key>
                <string>{{455,222},{90,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_pz_szjl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,49}</string>
                <key>spriteSourceSize</key>
                <string>{26,49}</string>
                <key>textureRect</key>
                <string>{{455,171},{26,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_pz_vs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,142}</string>
                <key>spriteSourceSize</key>
                <string>{156,142}</string>
                <key>textureRect</key>
                <string>{{225,449},{156,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_pz_vsg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,224}</string>
                <key>spriteSourceSize</key>
                <string>{292,224}</string>
                <key>textureRect</key>
                <string>{{2,78},{292,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_pz_zg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,4}</string>
                <key>spriteSourceSize</key>
                <string>{73,4}</string>
                <key>textureRect</key>
                <string>{{296,78},{73,4}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>match_pz.png</string>
            <key>size</key>
            <string>{494,600}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fdfeafc3f10b887b7e1fe24a3f9daec7:5eda8e8fdbfe0a8a333c0109cd9ab9ed:9c3f537d1c784d2284c0f889e3d8f336$</string>
            <key>textureFileName</key>
            <string>match_pz.png</string>
        </dict>
    </dict>
</plist>
