<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>match_bm_bg1a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,120}</string>
                <key>spriteSourceSize</key>
                <string>{122,120}</string>
                <key>textureRect</key>
                <string>{{296,223},{122,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_bm_bg1b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,88}</string>
                <key>spriteSourceSize</key>
                <string>{117,88}</string>
                <key>textureRect</key>
                <string>{{420,223},{117,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_bm_bg1c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{270,117}</string>
                <key>spriteSourceSize</key>
                <string>{272,117}</string>
                <key>textureRect</key>
                <string>{{2,392},{270,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_bm_bg1d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,53}</string>
                <key>spriteSourceSize</key>
                <string>{126,53}</string>
                <key>textureRect</key>
                <string>{{460,2},{126,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_bm_bt_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,80}</string>
                <key>spriteSourceSize</key>
                <string>{219,80}</string>
                <key>textureRect</key>
                <string>{{296,2},{219,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_bm_bt_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,80}</string>
                <key>spriteSourceSize</key>
                <string>{219,80}</string>
                <key>textureRect</key>
                <string>{{378,2},{219,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_bm_lightning_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{276,117}</string>
                <key>spriteSourceSize</key>
                <string>{300,117}</string>
                <key>textureRect</key>
                <string>{{2,273},{276,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_bm_lightning_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,269}</string>
                <key>spriteSourceSize</key>
                <string>{292,269}</string>
                <key>textureRect</key>
                <string>{{2,2},{292,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_bm_lightning_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{351,431},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_bm_mj1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,69}</string>
                <key>spriteSourceSize</key>
                <string>{73,69}</string>
                <key>textureRect</key>
                <string>{{370,345},{73,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_bm_mj2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{441,342},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_bm_mj3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,79}</string>
                <key>spriteSourceSize</key>
                <string>{75,79}</string>
                <key>textureRect</key>
                <string>{{274,431},{75,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_bm_mj4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,88}</string>
                <key>spriteSourceSize</key>
                <string>{84,88}</string>
                <key>textureRect</key>
                <string>{{280,345},{84,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_bm_txt_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,20}</string>
                <key>spriteSourceSize</key>
                <string>{44,20}</string>
                <key>textureRect</key>
                <string>{{477,130},{44,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_bm_txt_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,15}</string>
                <key>spriteSourceSize</key>
                <string>{63,15}</string>
                <key>textureRect</key>
                <string>{{460,130},{63,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>match_bm.png</string>
            <key>size</key>
            <string>{515,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a5ad6ec229a36cb7098e7998dbfe5ff:0db5fb8790b568bc02ac8a5f53d32f98:814c9b1d430ef74e1a5cabba6aa926c5$</string>
            <key>textureFileName</key>
            <string>match_bm.png</string>
        </dict>
    </dict>
</plist>
