<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dqsy-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{82,18}</string>
                <key>spriteSourceSize</key>
                <string>{86,20}</string>
                <key>textureRect</key>
                <string>{{299,99},{82,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dqsy-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{82,18}</string>
                <key>spriteSourceSize</key>
                <string>{86,20}</string>
                <key>textureRect</key>
                <string>{{383,99},{82,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,30}</string>
                <key>spriteSourceSize</key>
                <string>{94,30}</string>
                <key>textureRect</key>
                <string>{{203,87},{94,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fjh-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{52,18}</string>
                <key>spriteSourceSize</key>
                <string>{54,20}</string>
                <key>textureRect</key>
                <string>{{309,43},{52,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jsfj-bj-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,38}</string>
                <key>spriteSourceSize</key>
                <string>{78,42}</string>
                <key>textureRect</key>
                <string>{{163,41},{78,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jsfj-btn-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{329,45},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jsfj-btn-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{383,45},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jsfj-btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,65}</string>
                <key>spriteSourceSize</key>
                <string>{160,65}</string>
                <key>textureRect</key>
                <string>{{1,41},{160,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tuoguan-btn-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,42}</string>
                <key>spriteSourceSize</key>
                <string>{104,42}</string>
                <key>textureRect</key>
                <string>{{350,1},{104,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tuoguan-btn-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,42}</string>
                <key>spriteSourceSize</key>
                <string>{104,42}</string>
                <key>textureRect</key>
                <string>{{203,43},{104,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tuoguan-btn-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,40}</string>
                <key>spriteSourceSize</key>
                <string>{137,40}</string>
                <key>textureRect</key>
                <string>{{211,1},{137,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tuoguan-btn-04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{208,38}</string>
                <key>spriteSourceSize</key>
                <string>{210,40}</string>
                <key>textureRect</key>
                <string>{{1,1},{208,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>privateRoom.png</string>
            <key>size</key>
            <string>{466,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81445c2f7f2ed93b815862cd1666ca2f:db37cb54f736cc65f7c285bfb40a4d11:de80d00fa4a36fc5b1efc4bd4f284abc$</string>
            <key>textureFileName</key>
            <string>privateRoom.png</string>
        </dict>
    </dict>
</plist>
