<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tc_cs_tb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,94}</string>
                <key>spriteSourceSize</key>
                <string>{85,94}</string>
                <key>textureRect</key>
                <string>{{1,1},{85,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tc_cs_tt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,39}</string>
                <key>spriteSourceSize</key>
                <string>{87,39}</string>
                <key>textureRect</key>
                <string>{{1,88},{87,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tc_dis_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,20}</string>
                <key>spriteSourceSize</key>
                <string>{21,20}</string>
                <key>textureRect</key>
                <string>{{179,97},{21,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tc_tyd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,32}</string>
                <key>spriteSourceSize</key>
                <string>{94,32}</string>
                <key>textureRect</key>
                <string>{{193,1},{94,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tc_yq_tb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,94}</string>
                <key>spriteSourceSize</key>
                <string>{85,94}</string>
                <key>textureRect</key>
                <string>{{97,1},{85,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tc_yq_tt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,39}</string>
                <key>spriteSourceSize</key>
                <string>{87,39}</string>
                <key>textureRect</key>
                <string>{{90,88},{87,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>quit_new_res.png</string>
            <key>size</key>
            <string>{226,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17bf553ac22fcbc345bb7d8637a2ced9:5c2cc07a7be755b57604d79ddff7a3a7:ce10d7934fd955a5d3e2bcbb63cad0fb$</string>
            <key>textureFileName</key>
            <string>quit_new_res.png</string>
        </dict>
    </dict>
</plist>
