<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hy_tjls_bt_1a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,30}</string>
                <key>spriteSourceSize</key>
                <string>{80,30}</string>
                <key>textureRect</key>
                <string>{{369,318},{80,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hy_tjls_bt_1d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,30}</string>
                <key>spriteSourceSize</key>
                <string>{80,30}</string>
                <key>textureRect</key>
                <string>{{270,346},{80,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfjb_act_default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,314}</string>
                <key>spriteSourceSize</key>
                <string>{279,314}</string>
                <key>textureRect</key>
                <string>{{2,2},{279,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfjb_n_bx_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,77}</string>
                <key>spriteSourceSize</key>
                <string>{88,77}</string>
                <key>textureRect</key>
                <string>{{369,2},{88,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfjb_n_bx_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,77}</string>
                <key>spriteSourceSize</key>
                <string>{88,77}</string>
                <key>textureRect</key>
                <string>{{369,81},{88,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfjb_n_bx_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,77}</string>
                <key>spriteSourceSize</key>
                <string>{88,77}</string>
                <key>textureRect</key>
                <string>{{369,160},{88,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfjb_n_bx_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,77}</string>
                <key>spriteSourceSize</key>
                <string>{88,77}</string>
                <key>textureRect</key>
                <string>{{369,239},{88,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfjb_n_jd_1a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,26}</string>
                <key>spriteSourceSize</key>
                <string>{136,26}</string>
                <key>textureRect</key>
                <string>{{120,436},{136,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfjb_n_jd_1b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,12}</string>
                <key>spriteSourceSize</key>
                <string>{95,12}</string>
                <key>textureRect</key>
                <string>{{256,318},{95,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mfjb_n_jt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,5}</string>
                <key>spriteSourceSize</key>
                <string>{8,5}</string>
                <key>textureRect</key>
                <string>{{270,318},{8,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfjb_n_k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,116}</string>
                <key>spriteSourceSize</key>
                <string>{134,116}</string>
                <key>textureRect</key>
                <string>{{2,318},{134,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfjb_s_bt_10a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,30}</string>
                <key>spriteSourceSize</key>
                <string>{80,30}</string>
                <key>textureRect</key>
                <string>{{270,378},{80,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfjb_s_bt_10b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,30}</string>
                <key>spriteSourceSize</key>
                <string>{80,30}</string>
                <key>textureRect</key>
                <string>{{352,350},{80,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfjb_s_bt_10c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,30}</string>
                <key>spriteSourceSize</key>
                <string>{83,30}</string>
                <key>textureRect</key>
                <string>{{88,522},{83,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfjb_s_bt_10d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,30}</string>
                <key>spriteSourceSize</key>
                <string>{83,30}</string>
                <key>textureRect</key>
                <string>{{224,318},{83,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mfjb_s_bt_11a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,30}</string>
                <key>spriteSourceSize</key>
                <string>{80,30}</string>
                <key>textureRect</key>
                <string>{{352,382},{80,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfjb_s_bt_11b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,30}</string>
                <key>spriteSourceSize</key>
                <string>{80,30}</string>
                <key>textureRect</key>
                <string>{{270,410},{80,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfjb_s_bt_12a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,30}</string>
                <key>spriteSourceSize</key>
                <string>{82,30}</string>
                <key>textureRect</key>
                <string>{{138,404},{82,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfjb_s_bt_12b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,30}</string>
                <key>spriteSourceSize</key>
                <string>{82,30}</string>
                <key>textureRect</key>
                <string>{{120,488},{82,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfjb_s_bt_13b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,22}</string>
                <key>spriteSourceSize</key>
                <string>{140,22}</string>
                <key>textureRect</key>
                <string>{{120,464},{140,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfjb_s_bt_4a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,30}</string>
                <key>spriteSourceSize</key>
                <string>{80,30}</string>
                <key>textureRect</key>
                <string>{{352,414},{80,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfjb_s_bt_4b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,30}</string>
                <key>spriteSourceSize</key>
                <string>{80,30}</string>
                <key>textureRect</key>
                <string>{{204,488},{80,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfjb_s_bt_5a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,38}</string>
                <key>spriteSourceSize</key>
                <string>{72,38}</string>
                <key>textureRect</key>
                <string>{{262,442},{72,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfjb_s_bt_6a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,38}</string>
                <key>spriteSourceSize</key>
                <string>{72,38}</string>
                <key>textureRect</key>
                <string>{{418,446},{72,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mfjb_s_bt_7a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,30}</string>
                <key>spriteSourceSize</key>
                <string>{84,30}</string>
                <key>textureRect</key>
                <string>{{2,522},{84,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfjb_s_bt_7b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,30}</string>
                <key>spriteSourceSize</key>
                <string>{84,30}</string>
                <key>textureRect</key>
                <string>{{88,436},{84,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mfjb_s_bt_8a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,30}</string>
                <key>spriteSourceSize</key>
                <string>{80,30}</string>
                <key>textureRect</key>
                <string>{{173,520},{80,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfjb_s_bt_8b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,30}</string>
                <key>spriteSourceSize</key>
                <string>{80,30}</string>
                <key>textureRect</key>
                <string>{{336,446},{80,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfjb_s_bt_9a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,30}</string>
                <key>spriteSourceSize</key>
                <string>{80,30}</string>
                <key>textureRect</key>
                <string>{{336,478},{80,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfjb_s_bt_9b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,30}</string>
                <key>spriteSourceSize</key>
                <string>{80,30}</string>
                <key>textureRect</key>
                <string>{{255,520},{80,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfjb_tb_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{283,2},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfjb_tb_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{283,88},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfjb_tb_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{283,174},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfjb_tb_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{283,260},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfjb_tb_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{2,436},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfjb_tb_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{138,318},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ylq_s_bt_12b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,30}</string>
                <key>spriteSourceSize</key>
                <string>{80,30}</string>
                <key>textureRect</key>
                <string>{{337,520},{80,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>reward_new_texture.png</string>
            <key>size</key>
            <string>{459,554}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:304e246a853657646527c8d56119f9de:0bb229f1437754636e31c1f946649302:49fe1831ad2120f233e16e30e9c4100f$</string>
            <key>textureFileName</key>
            <string>reward_new_texture.png</string>
        </dict>
    </dict>
</plist>
