<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_zhuxiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{100,332},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dl_qrxmm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,21}</string>
                <key>spriteSourceSize</key>
                <string>{109,21}</string>
                <key>textureRect</key>
                <string>{{202,124},{109,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dl_szxmm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,21}</string>
                <key>spriteSourceSize</key>
                <string>{109,21}</string>
                <key>textureRect</key>
                <string>{{223,124},{109,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sz_bt_3a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,42}</string>
                <key>spriteSourceSize</key>
                <string>{100,42}</string>
                <key>textureRect</key>
                <string>{{0,332},{100,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sz_bt_3b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,42}</string>
                <key>spriteSourceSize</key>
                <string>{100,42}</string>
                <key>textureRect</key>
                <string>{{0,374},{100,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sz_bt_chf-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,142}</string>
                <key>spriteSourceSize</key>
                <string>{200,142}</string>
                <key>textureRect</key>
                <string>{{0,0},{200,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sz_bt_chf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,142}</string>
                <key>spriteSourceSize</key>
                <string>{200,142}</string>
                <key>textureRect</key>
                <string>{{0,142},{200,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sz_db_hd_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,124}</string>
                <key>spriteSourceSize</key>
                <string>{46,124}</string>
                <key>textureRect</key>
                <string>{{202,0},{46,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sz_fgx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,218}</string>
                <key>spriteSourceSize</key>
                <string>{2,218}</string>
                <key>textureRect</key>
                <string>{{200,0},{2,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sz_jd_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,24}</string>
                <key>spriteSourceSize</key>
                <string>{54,24}</string>
                <key>textureRect</key>
                <string>{{100,392},{54,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sz_jd_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,24}</string>
                <key>spriteSourceSize</key>
                <string>{54,24}</string>
                <key>textureRect</key>
                <string>{{142,308},{54,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sz_jd_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,24}</string>
                <key>spriteSourceSize</key>
                <string>{54,24}</string>
                <key>textureRect</key>
                <string>{{114,458},{54,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sz_jd_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,24}</string>
                <key>spriteSourceSize</key>
                <string>{114,24}</string>
                <key>textureRect</key>
                <string>{{0,416},{114,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sz_jd_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,24}</string>
                <key>spriteSourceSize</key>
                <string>{114,24}</string>
                <key>textureRect</key>
                <string>{{0,440},{114,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sz_jd_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,24}</string>
                <key>spriteSourceSize</key>
                <string>{54,24}</string>
                <key>textureRect</key>
                <string>{{160,332},{54,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sz_jd_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,24}</string>
                <key>spriteSourceSize</key>
                <string>{54,24}</string>
                <key>textureRect</key>
                <string>{{184,332},{54,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sz_jd_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,24}</string>
                <key>spriteSourceSize</key>
                <string>{54,24}</string>
                <key>textureRect</key>
                <string>{{160,386},{54,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sz_jd_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,24}</string>
                <key>spriteSourceSize</key>
                <string>{54,24}</string>
                <key>textureRect</key>
                <string>{{156,410},{54,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sz_jd_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,24}</string>
                <key>spriteSourceSize</key>
                <string>{54,24}</string>
                <key>textureRect</key>
                <string>{{156,434},{54,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sz_jd_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,24}</string>
                <key>spriteSourceSize</key>
                <string>{54,24}</string>
                <key>textureRect</key>
                <string>{{168,458},{54,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sz_jd_8-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,24}</string>
                <key>spriteSourceSize</key>
                <string>{54,24}</string>
                <key>textureRect</key>
                <string>{{190,284},{54,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sz_jd_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,24}</string>
                <key>spriteSourceSize</key>
                <string>{54,24}</string>
                <key>textureRect</key>
                <string>{{208,308},{54,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sz_jd_9-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,24}</string>
                <key>spriteSourceSize</key>
                <string>{54,24}</string>
                <key>textureRect</key>
                <string>{{214,362},{54,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sz_jd_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,24}</string>
                <key>spriteSourceSize</key>
                <string>{54,24}</string>
                <key>textureRect</key>
                <string>{{222,416},{54,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sz_wz_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,24}</string>
                <key>spriteSourceSize</key>
                <string>{142,24}</string>
                <key>textureRect</key>
                <string>{{0,308},{142,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sz_wz_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,24}</string>
                <key>spriteSourceSize</key>
                <string>{190,24}</string>
                <key>textureRect</key>
                <string>{{0,284},{190,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sz_xy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{200,233},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sz_xy_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{114,416},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>setting_new_texture.png</string>
            <key>size</key>
            <string>{248,482}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53adbb9418ea56dbbcf34ab4112700de:7daf96b422f7ddd00bed98e7c7d0fee8:aeb5faef104f95f9ddd54b40f6323770$</string>
            <key>textureFileName</key>
            <string>setting_new_texture.png</string>
        </dict>
    </dict>
</plist>
