<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_talk_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{428,1},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ttz_ej_bt_1a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,48}</string>
                <key>spriteSourceSize</key>
                <string>{122,48}</string>
                <key>textureRect</key>
                <string>{{1,171},{122,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ttz_ej_bt_1b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,48}</string>
                <key>spriteSourceSize</key>
                <string>{122,48}</string>
                <key>textureRect</key>
                <string>{{180,142},{122,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ttz_ej_bt_2a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,48}</string>
                <key>spriteSourceSize</key>
                <string>{122,48}</string>
                <key>textureRect</key>
                <string>{{304,142},{122,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ttz_ej_bt_2b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,48}</string>
                <key>spriteSourceSize</key>
                <string>{122,48}</string>
                <key>textureRect</key>
                <string>{{133,192},{122,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ttz_ej_bt_3a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,48}</string>
                <key>spriteSourceSize</key>
                <string>{122,48}</string>
                <key>textureRect</key>
                <string>{{257,192},{122,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ttz_ej_bt_3b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,48}</string>
                <key>spriteSourceSize</key>
                <string>{122,48}</string>
                <key>textureRect</key>
                <string>{{480,102},{122,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ttz_ej_lz_dm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,21}</string>
                <key>spriteSourceSize</key>
                <string>{39,21}</string>
                <key>textureRect</key>
                <string>{{426,102},{39,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ttz_ej_lz_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{438,2}</string>
                <key>spriteSourceSize</key>
                <string>{438,2}</string>
                <key>textureRect</key>
                <string>{{1,132},{438,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ttz_ej_lz_sb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{381,192},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ttz_ej_lz_sl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{428,139},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ttz_ej_lz_sm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,21}</string>
                <key>spriteSourceSize</key>
                <string>{39,21}</string>
                <key>textureRect</key>
                <string>{{433,191},{39,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ttz_ej_lz_tm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,21}</string>
                <key>spriteSourceSize</key>
                <string>{39,21}</string>
                <key>textureRect</key>
                <string>{{433,214},{39,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ttz_ej_sz_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,56}</string>
                <key>spriteSourceSize</key>
                <string>{423,56}</string>
                <key>textureRect</key>
                <string>{{1,74},{423,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ttz_ej_sz_jb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,21}</string>
                <key>spriteSourceSize</key>
                <string>{42,21}</string>
                <key>textureRect</key>
                <string>{{1,221},{42,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ttz_ej_sz_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{417,1}</string>
                <key>spriteSourceSize</key>
                <string>{417,1}</string>
                <key>textureRect</key>
                <string>{{1,139},{417,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ttz_ej_sz_pd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,21}</string>
                <key>spriteSourceSize</key>
                <string>{42,21}</string>
                <key>textureRect</key>
                <string>{{45,221},{42,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ttz_ej_sz_sqsz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,27}</string>
                <key>spriteSourceSize</key>
                <string>{177,27}</string>
                <key>textureRect</key>
                <string>{{1,142},{177,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ttz_ej_sz_sztj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,17}</string>
                <key>spriteSourceSize</key>
                <string>{85,17}</string>
                <key>textureRect</key>
                <string>{{426,83},{85,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ttz_ej_sz_wj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,21}</string>
                <key>spriteSourceSize</key>
                <string>{42,21}</string>
                <key>textureRect</key>
                <string>{{89,221},{42,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ttz_help_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{425,71}</string>
                <key>spriteSourceSize</key>
                <string>{425,71}</string>
                <key>textureRect</key>
                <string>{{1,1},{425,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ttz_help_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,1}</string>
                <key>spriteSourceSize</key>
                <string>{444,1}</string>
                <key>textureRect</key>
                <string>{{1,136},{444,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ttz_help_txt_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,15}</string>
                <key>spriteSourceSize</key>
                <string>{15,15}</string>
                <key>textureRect</key>
                <string>{{510,1},{15,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>ttz_game_sub.png</string>
            <key>size</key>
            <string>{529,243}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7300dd2d4883e0336e44bb9bcb0d4e0c:384a0a74c58470d6bf092ec38a995637:8e62b4e5d75b5128933d60915bf99a3c$</string>
            <key>textureFileName</key>
            <string>ttz_game_sub.png</string>
        </dict>
    </dict>
</plist>
