<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wx_pay_pg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,223}</string>
                <key>spriteSourceSize</key>
                <string>{150,223}</string>
                <key>textureRect</key>
                <string>{{1,81},{150,223}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wx_pay_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,29}</string>
                <key>spriteSourceSize</key>
                <string>{155,29}</string>
                <key>textureRect</key>
                <string>{{1,1},{155,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wx_pay_tj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,81}</string>
                <key>spriteSourceSize</key>
                <string>{78,81}</string>
                <key>textureRect</key>
                <string>{{158,1},{78,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wx_pay_wx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,223}</string>
                <key>spriteSourceSize</key>
                <string>{150,223}</string>
                <key>textureRect</key>
                <string>{{1,233},{150,223}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wx_pay_zfb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,223}</string>
                <key>spriteSourceSize</key>
                <string>{150,223}</string>
                <key>textureRect</key>
                <string>{{1,385},{150,223}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>weixin.png</string>
            <key>size</key>
            <string>{240,536}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dde2d2f95196f4b20f5979110dee6462:65ff473e18bac4cc83c6ca561f76cc8e:cea6a2bc2a7e0200d06c416046d0a9e0$</string>
            <key>textureFileName</key>
            <string>weixin.png</string>
        </dict>
    </dict>
</plist>
