<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xlch_dialog_text_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,396},{110,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,116}}</string>
                <key>sourceSize</key>
                <string>{110,116}</string>
            </dict>
            <key>xlch_end_lhf_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,283},{152,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,51}}</string>
                <key>sourceSize</key>
                <string>{152,51}</string>
            </dict>
            <key>xlch_game_add_gold_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,105},{228,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{228,66}}</string>
                <key>sourceSize</key>
                <string>{228,68}</string>
            </dict>
            <key>xlch_game_bankrupt_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,472},{70,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,50}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>xlch_game_color_effect_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,260},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>xlch_game_color_effect_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,467},{102,102}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{102,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xlch_game_color_effect_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,363},{102,102}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{102,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xlch_game_color_effect_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,121},{97,97}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>xlch_game_color_tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,396},{117,115}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{117,115}}</string>
                <key>sourceSize</key>
                <string>{127,121}</string>
            </dict>
            <key>xlch_game_color_tong.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,397},{117,115}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{117,115}}</string>
                <key>sourceSize</key>
                <string>{127,121}</string>
            </dict>
            <key>xlch_game_color_wan.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,397},{117,115}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{117,115}}</string>
                <key>sourceSize</key>
                <string>{127,121}</string>
            </dict>
            <key>xlch_game_com_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,173},{169,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,52}}</string>
                <key>sourceSize</key>
                <string>{169,52}</string>
            </dict>
            <key>xlch_game_com_di_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,550},{64,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,29}}</string>
                <key>sourceSize</key>
                <string>{64,29}</string>
            </dict>
            <key>xlch_game_cz_time_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,1},{54,40}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,21},{54,40}}</string>
                <key>sourceSize</key>
                <string>{118,92}</string>
            </dict>
            <key>xlch_game_difen_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,501},{47,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,18}}</string>
                <key>sourceSize</key>
                <string>{47,18}</string>
            </dict>
            <key>xlch_game_direction_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,508},{118,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{118,90}}</string>
                <key>sourceSize</key>
                <string>{118,92}</string>
            </dict>
            <key>xlch_game_direction_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,220},{108,36}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,55},{108,36}}</string>
                <key>sourceSize</key>
                <string>{118,92}</string>
            </dict>
            <key>xlch_game_direction_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,384},{42,76}}</string>
                <key>offset</key>
                <string>{38,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,8},{42,76}}</string>
                <key>sourceSize</key>
                <string>{118,92}</string>
            </dict>
            <key>xlch_game_direction_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,334},{106,28}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{106,28}}</string>
                <key>sourceSize</key>
                <string>{118,92}</string>
            </dict>
            <key>xlch_game_direction_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,340},{42,76}}</string>
                <key>offset</key>
                <string>{-38,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{42,76}}</string>
                <key>sourceSize</key>
                <string>{118,92}</string>
            </dict>
            <key>xlch_game_direction_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,513},{118,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{118,90}}</string>
                <key>sourceSize</key>
                <string>{118,92}</string>
            </dict>
            <key>xlch_game_direction_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,363},{108,36}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,55},{108,36}}</string>
                <key>sourceSize</key>
                <string>{118,92}</string>
            </dict>
            <key>xlch_game_direction_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,296},{42,76}}</string>
                <key>offset</key>
                <string>{38,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,8},{42,76}}</string>
                <key>sourceSize</key>
                <string>{118,92}</string>
            </dict>
            <key>xlch_game_direction_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,334},{106,28}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{106,28}}</string>
                <key>sourceSize</key>
                <string>{118,92}</string>
            </dict>
            <key>xlch_game_direction_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,252},{42,76}}</string>
                <key>offset</key>
                <string>{-38,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{42,76}}</string>
                <key>sourceSize</key>
                <string>{118,92}</string>
            </dict>
            <key>xlch_game_direction_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,514},{118,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{118,90}}</string>
                <key>sourceSize</key>
                <string>{118,92}</string>
            </dict>
            <key>xlch_game_direction_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,121},{108,36}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,55},{108,36}}</string>
                <key>sourceSize</key>
                <string>{118,92}</string>
            </dict>
            <key>xlch_game_direction_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,472},{42,76}}</string>
                <key>offset</key>
                <string>{38,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,8},{42,76}}</string>
                <key>sourceSize</key>
                <string>{118,92}</string>
            </dict>
            <key>xlch_game_direction_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,258},{106,28}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{106,28}}</string>
                <key>sourceSize</key>
                <string>{118,92}</string>
            </dict>
            <key>xlch_game_direction_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,472},{42,76}}</string>
                <key>offset</key>
                <string>{-38,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{42,76}}</string>
                <key>sourceSize</key>
                <string>{118,92}</string>
            </dict>
            <key>xlch_game_direction_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,514},{118,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{118,90}}</string>
                <key>sourceSize</key>
                <string>{118,92}</string>
            </dict>
            <key>xlch_game_direction_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,571},{108,36}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,55},{108,36}}</string>
                <key>sourceSize</key>
                <string>{118,92}</string>
            </dict>
            <key>xlch_game_direction_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,428},{42,76}}</string>
                <key>offset</key>
                <string>{38,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,8},{42,76}}</string>
                <key>sourceSize</key>
                <string>{118,92}</string>
            </dict>
            <key>xlch_game_direction_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,609},{106,28}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{106,28}}</string>
                <key>sourceSize</key>
                <string>{118,92}</string>
            </dict>
            <key>xlch_game_direction_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,174},{42,76}}</string>
                <key>offset</key>
                <string>{-38,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{42,76}}</string>
                <key>sourceSize</key>
                <string>{118,92}</string>
            </dict>
            <key>xlch_game_direction_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,260},{141,106}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{141,106}}</string>
                <key>sourceSize</key>
                <string>{141,108}</string>
            </dict>
            <key>xlch_game_direction_zz.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,514},{123,94}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{123,94}}</string>
                <key>sourceSize</key>
                <string>{141,108}</string>
            </dict>
            <key>xlch_game_direction_zz_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,571},{108,36}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,55},{108,36}}</string>
                <key>sourceSize</key>
                <string>{118,92}</string>
            </dict>
            <key>xlch_game_direction_zz_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,96},{42,76}}</string>
                <key>offset</key>
                <string>{38,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,8},{42,76}}</string>
                <key>sourceSize</key>
                <string>{118,92}</string>
            </dict>
            <key>xlch_game_direction_zz_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,609},{106,28}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{106,28}}</string>
                <key>sourceSize</key>
                <string>{118,92}</string>
            </dict>
            <key>xlch_game_direction_zz_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,566},{42,76}}</string>
                <key>offset</key>
                <string>{-38,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{42,76}}</string>
                <key>sourceSize</key>
                <string>{118,92}</string>
            </dict>
            <key>xlch_game_dis_status_czz.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,283},{78,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,39}}</string>
                <key>sourceSize</key>
                <string>{78,39}</string>
            </dict>
            <key>xlch_game_dis_status_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,260},{14,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,17}}</string>
                <key>sourceSize</key>
                <string>{14,17}</string>
            </dict>
            <key>xlch_game_dis_status_dqz.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,473},{95,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,44}}</string>
                <key>sourceSize</key>
                <string>{95,44}</string>
            </dict>
            <key>xlch_game_dis_status_xpz.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,288},{94,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,44}}</string>
                <key>sourceSize</key>
                <string>{94,44}</string>
            </dict>
            <key>xlch_game_dis_status_zbz.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,121},{96,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,45}}</string>
                <key>sourceSize</key>
                <string>{96,45}</string>
            </dict>
            <key>xlch_game_dis_text_cancal_tuoguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,334},{99,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,27}}</string>
                <key>sourceSize</key>
                <string>{99,27}</string>
            </dict>
            <key>xlch_game_dis_text_cancal_tuoguan_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,634},{2,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,130}}</string>
                <key>sourceSize</key>
                <string>{2,130}</string>
            </dict>
            <key>xlch_game_dis_text_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,442},{50,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,28}}</string>
                <key>sourceSize</key>
                <string>{50,28}</string>
            </dict>
            <key>xlch_game_dj_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,552},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>xlch_game_end_my_fail_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,116},{564,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{564,113}}</string>
                <key>sourceSize</key>
                <string>{564,113}</string>
            </dict>
            <key>xlch_game_end_my_win_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{564,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{564,113}}</string>
                <key>sourceSize</key>
                <string>{564,113}</string>
            </dict>
            <key>xlch_game_end_next_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,428},{74,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,27}}</string>
                <key>sourceSize</key>
                <string>{74,27}</string>
            </dict>
            <key>xlch_game_end_other_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,1},{260,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,102}}</string>
                <key>sourceSize</key>
                <string>{260,102}</string>
            </dict>
            <key>xlch_game_end_win_hf_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,210},{74,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,29}}</string>
                <key>sourceSize</key>
                <string>{74,29}</string>
            </dict>
            <key>xlch_game_end_win_hf_text_e.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,363},{74,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,29}}</string>
                <key>sourceSize</key>
                <string>{74,29}</string>
            </dict>
            <key>xlch_game_flow_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,609},{107,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,28}}</string>
                <key>sourceSize</key>
                <string>{107,28}</string>
            </dict>
            <key>xlch_game_flow_text_list_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,457},{60,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,41}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>xlch_game_flow_tis_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,617},{159,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,20}}</string>
                <key>sourceSize</key>
                <string>{159,20}</string>
            </dict>
            <key>xlch_game_gold_action.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,415},{149,83}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{149,83}}</string>
                <key>sourceSize</key>
                <string>{149,87}</string>
            </dict>
            <key>xlch_game_gold_his.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,269},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>xlch_game_gold_his_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,501},{49,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,16}}</string>
                <key>sourceSize</key>
                <string>{49,16}</string>
            </dict>
            <key>xlch_game_hu_card_di_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,500},{51,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,45}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>xlch_game_hu_card_di_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,457},{42,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,24}}</string>
                <key>sourceSize</key>
                <string>{42,24}</string>
            </dict>
            <key>xlch_game_hu_card_di_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,57},{35,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,31}}</string>
                <key>sourceSize</key>
                <string>{35,31}</string>
            </dict>
            <key>xlch_game_hu_card_di_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,173},{57,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,35}}</string>
                <key>sourceSize</key>
                <string>{57,35}</string>
            </dict>
            <key>xlch_game_mach_loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,581},{28,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{28,26}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>xlch_game_msg_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,547},{33,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,30}}</string>
                <key>sourceSize</key>
                <string>{33,30}</string>
            </dict>
            <key>xlch_game_op_anim_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,259},{136,128}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{136,128}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>xlch_game_paying_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,378},{42,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,12}}</string>
                <key>sourceSize</key>
                <string>{42,12}</string>
            </dict>
            <key>xlch_game_room_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,96},{128,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,23}}</string>
                <key>sourceSize</key>
                <string>{128,23}</string>
            </dict>
            <key>xlch_game_sel_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,318},{23,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,31}}</string>
                <key>sourceSize</key>
                <string>{23,31}</string>
            </dict>
            <key>xlch_game_sel_jiantou_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,363},{74,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,63}}</string>
                <key>sourceSize</key>
                <string>{74,63}</string>
            </dict>
            <key>xlch_game_start_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,415},{200,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,71}}</string>
                <key>sourceSize</key>
                <string>{200,71}</string>
            </dict>
            <key>xlch_game_swap_card_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,581},{69,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,26}}</string>
                <key>sourceSize</key>
                <string>{69,26}</string>
            </dict>
            <key>xlch_game_swap_type_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,255},{158,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,26}}</string>
                <key>sourceSize</key>
                <string>{158,26}</string>
            </dict>
            <key>xlch_game_swap_type_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,227},{158,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,26}}</string>
                <key>sourceSize</key>
                <string>{158,26}</string>
            </dict>
            <key>xlch_game_swap_type_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,368},{136,26}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{136,26}}</string>
                <key>sourceSize</key>
                <string>{158,26}</string>
            </dict>
            <key>xlch_game_ting_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,220},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>xlch_game_tis_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,336},{146,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,25}}</string>
                <key>sourceSize</key>
                <string>{146,25}</string>
            </dict>
            <key>xlch_game_tis_text_ths.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,231},{280,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,27}}</string>
                <key>sourceSize</key>
                <string>{280,27}</string>
            </dict>
            <key>xlch_game_user_tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,601},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>xlch_game_user_tong.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,601},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>xlch_game_user_wan.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,422},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>xlch_gameinfo_card_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,550},{79,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,19}}</string>
                <key>sourceSize</key>
                <string>{79,19}</string>
            </dict>
            <key>xlch_op_effect_mf.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,259},{154,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,154}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>xlch_progress_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,288},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>xlch_throw_card_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,343},{24,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,33}}</string>
                <key>sourceSize</key>
                <string>{24,33}</string>
            </dict>
            <key>xlch_ting_sel_card_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,1},{152,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,93}}</string>
                <key>sourceSize</key>
                <string>{152,93}</string>
            </dict>
            <key>xlch_wait_desk_free_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,231},{289,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,26}}</string>
                <key>sourceSize</key>
                <string>{289,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xlch_game.png</string>
            <key>size</key>
            <string>{1024,638}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51db85583ed3f7773fe10d7734137805:1/1$</string>
            <key>textureFileName</key>
            <string>xlch_game.png</string>
        </dict>
    </dict>
</plist>
