<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xlch_start_dragon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,221}</string>
                <key>spriteSourceSize</key>
                <string>{224,221}</string>
                <key>textureRect</key>
                <string>{{1609,380},{224,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xlch_start_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,287}</string>
                <key>spriteSourceSize</key>
                <string>{357,287}</string>
                <key>textureRect</key>
                <string>{{1609,21},{357,287}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xlch_start_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,216}</string>
                <key>spriteSourceSize</key>
                <string>{216,216}</string>
                <key>textureRect</key>
                <string>{{1207,439},{216,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xlch_start_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1027,17}</string>
                <key>spriteSourceSize</key>
                <string>{1027,17}</string>
                <key>textureRect</key>
                <string>{{804,2},{1027,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xlch_start_name_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,34}</string>
                <key>spriteSourceSize</key>
                <string>{120,34}</string>
                <key>textureRect</key>
                <string>{{2,607},{120,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xlch_start_player_bg_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,295}</string>
                <key>spriteSourceSize</key>
                <string>{800,295}</string>
                <key>textureRect</key>
                <string>{{2,310},{800,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xlch_start_player_bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,417}</string>
                <key>spriteSourceSize</key>
                <string>{401,417}</string>
                <key>textureRect</key>
                <string>{{804,21},{401,417}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xlch_start_player_bg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,306}</string>
                <key>spriteSourceSize</key>
                <string>{800,306}</string>
                <key>textureRect</key>
                <string>{{2,2},{800,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xlch_start_player_bg_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,416}</string>
                <key>spriteSourceSize</key>
                <string>{400,416}</string>
                <key>textureRect</key>
                <string>{{1207,21},{400,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xlch_start_txt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,104}</string>
                <key>spriteSourceSize</key>
                <string>{170,104}</string>
                <key>textureRect</key>
                <string>{{804,440},{170,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xlch_start_txt_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{168,102}</string>
                <key>spriteSourceSize</key>
                <string>{170,104}</string>
                <key>textureRect</key>
                <string>{{1425,439},{168,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>xlch_start.png</string>
            <key>size</key>
            <string>{1898,657}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c052517d088843d9a43cd6e5c81a671f:338435e1b1017b3c8e6f336b519e42b2:f8e1bdb396e35ef4ea1839cc69ed0c26$</string>
            <key>textureFileName</key>
            <string>xlch_start.png</string>
        </dict>
    </dict>
</plist>
