<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xlch_gold_enough_bc_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,258},{251,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,138}}</string>
                <key>sourceSize</key>
                <string>{251,138}</string>
            </dict>
            <key>xlch_gold_enough_hu_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,258},{252,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,157}}</string>
                <key>sourceSize</key>
                <string>{252,157}</string>
            </dict>
            <key>xlch_gold_enough_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,398},{63,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,71}}</string>
                <key>sourceSize</key>
                <string>{63,71}</string>
            </dict>
            <key>xlch_gold_enough_img_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{463,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{463,255}}</string>
                <key>sourceSize</key>
                <string>{463,255}</string>
            </dict>
            <key>xlch_gold_enough_ting.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,74},{71,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,21}}</string>
                <key>sourceSize</key>
                <string>{71,21}</string>
            </dict>
            <key>xlch_gold_enough_ting_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,1},{71,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,21}}</string>
                <key>sourceSize</key>
                <string>{71,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xlch_gold_enough.png</string>
            <key>size</key>
            <string>{507,462}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3f4c2a48317d052d6db700b9f391854:1/1$</string>
            <key>textureFileName</key>
            <string>xlch_gold_enough.png</string>
        </dict>
    </dict>
</plist>
