<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xlch_game_dis_text_cdj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,102},{306,103}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,103}}</string>
                <key>sourceSize</key>
                <string>{312,103}</string>
            </dict>
            <key>xlch_game_dis_text_cdj_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,547},{91,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,59}}</string>
                <key>sourceSize</key>
                <string>{91,59}</string>
            </dict>
            <key>xlch_game_dis_text_chz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,207},{306,101}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,101}}</string>
                <key>sourceSize</key>
                <string>{312,103}</string>
            </dict>
            <key>xlch_game_dis_text_chz_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,570},{91,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,59}}</string>
                <key>sourceSize</key>
                <string>{91,59}</string>
            </dict>
            <key>xlch_game_dis_text_djjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{382,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,99}}</string>
                <key>sourceSize</key>
                <string>{382,99}</string>
            </dict>
            <key>xlch_game_dis_text_djjs_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,102},{250,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{250,84}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>xlch_game_dis_text_giveup.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,354},{90,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,40}}</string>
                <key>sourceSize</key>
                <string>{90,40}</string>
            </dict>
            <key>xlch_game_dis_text_gskh.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,1},{265,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,84}}</string>
                <key>sourceSize</key>
                <string>{265,84}</string>
            </dict>
            <key>xlch_game_dis_text_gskh_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,1},{250,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{250,74}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>xlch_game_dis_text_gsp.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,400},{202,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,72}}</string>
                <key>sourceSize</key>
                <string>{202,72}</string>
            </dict>
            <key>xlch_game_dis_text_gsp_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,483},{198,62}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,17},{198,62}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>xlch_game_dis_text_hjzy.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,1},{258,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,82}}</string>
                <key>sourceSize</key>
                <string>{258,82}</string>
            </dict>
            <key>xlch_game_dis_text_hjzy_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,87},{250,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{250,74}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>xlch_game_dis_text_hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,570},{70,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,40}}</string>
                <key>sourceSize</key>
                <string>{70,40}</string>
            </dict>
            <key>xlch_game_dis_text_qgh.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,400},{208,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,77}}</string>
                <key>sourceSize</key>
                <string>{208,77}</string>
            </dict>
            <key>xlch_game_dis_text_qgh_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,415},{200,66}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,16},{200,66}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>xlch_game_dis_text_ypdx.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,310},{260,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,88}}</string>
                <key>sourceSize</key>
                <string>{260,88}</string>
            </dict>
            <key>xlch_game_dis_text_ypdx_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,85},{250,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{250,80}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>xlch_game_guangquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,358},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>xlch_game_guangquan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,411},{84,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,83}}</string>
                <key>sourceSize</key>
                <string>{84,83}</string>
            </dict>
            <key>xlch_game_text_tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,547},{82,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{82,84}}</string>
                <key>sourceSize</key>
                <string>{82,88}</string>
            </dict>
            <key>xlch_game_text_tong.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,468},{60,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{60,88}}</string>
                <key>sourceSize</key>
                <string>{82,88}</string>
            </dict>
            <key>xlch_game_text_wan.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,339},{74,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{74,74}}</string>
                <key>sourceSize</key>
                <string>{82,88}</string>
            </dict>
            <key>xlch_op_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,332},{77,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{77,81}}</string>
                <key>sourceSize</key>
                <string>{91,95}</string>
            </dict>
            <key>xlch_op_gang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,496},{91,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,95}}</string>
                <key>sourceSize</key>
                <string>{91,95}</string>
            </dict>
            <key>xlch_op_gang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,486},{121,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,109}}</string>
                <key>sourceSize</key>
                <string>{121,109}</string>
            </dict>
            <key>xlch_op_gang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,87},{180,164}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{180,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>xlch_op_guo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,253},{77,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{77,81}}</string>
                <key>sourceSize</key>
                <string>{91,95}</string>
            </dict>
            <key>xlch_op_hu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,534},{91,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,95}}</string>
                <key>sourceSize</key>
                <string>{91,95}</string>
            </dict>
            <key>xlch_op_hu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,415},{117,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,113}}</string>
                <key>sourceSize</key>
                <string>{117,113}</string>
            </dict>
            <key>xlch_op_hu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,400},{180,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{180,168}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>xlch_op_peng_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,534},{91,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,95}}</string>
                <key>sourceSize</key>
                <string>{91,95}</string>
            </dict>
            <key>xlch_op_peng_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,358},{130,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,108}}</string>
                <key>sourceSize</key>
                <string>{130,108}</string>
            </dict>
            <key>xlch_op_peng_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,85},{180,160}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{180,160}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>xlch_op_zimo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,247},{174,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,109}}</string>
                <key>sourceSize</key>
                <string>{174,109}</string>
            </dict>
            <key>xlch_op_zimo_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,253},{180,160}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{180,160}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xlch_hu_type_text.png</string>
            <key>size</key>
            <string>{999,630}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c894381b3ad12cbb95b356851d10bd66:1/1$</string>
            <key>textureFileName</key>
            <string>xlch_hu_type_text.png</string>
        </dict>
    </dict>
</plist>
