<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xlch_game_dj_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,185},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>xlch_game_dj_eyes.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,131},{89,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,52}}</string>
                <key>sourceSize</key>
                <string>{89,52}</string>
            </dict>
            <key>xlch_game_dj_eyes_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,1},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xlch_game_dj_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{517,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{517,200}}</string>
                <key>sourceSize</key>
                <string>{517,200}</string>
            </dict>
            <key>xlch_game_dj_num_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,185},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>xlch_game_dj_sub.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,197},{4,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,2}}</string>
                <key>sourceSize</key>
                <string>{4,2}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xlch_game_dj.png</string>
            <key>size</key>
            <string>{649,202}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:afb7bf3519d614738171320a0c03f90e:1/1$</string>
            <key>textureFileName</key>
            <string>xlch_game_dj.png</string>
        </dict>
    </dict>
</plist>
