<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xzdd_big_card_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{619,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{619,37}}</string>
                <key>sourceSize</key>
                <string>{619,37}</string>
            </dict>
            <key>xzdd_big_card_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,559},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>xzdd_big_card_star_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1565,541},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>xzdd_big_card_text_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1825,2},{164,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,105}}</string>
                <key>sourceSize</key>
                <string>{164,105}</string>
            </dict>
            <key>xzdd_big_card_text_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,41},{254,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,114}}</string>
                <key>sourceSize</key>
                <string>{254,114}</string>
            </dict>
            <key>xzdd_big_card_text_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,2},{331,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,113}}</string>
                <key>sourceSize</key>
                <string>{331,113}</string>
            </dict>
            <key>xzdd_big_card_text_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,2},{335,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,110}}</string>
                <key>sourceSize</key>
                <string>{335,110}</string>
            </dict>
            <key>xzdd_big_card_text_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{334,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,114}}</string>
                <key>sourceSize</key>
                <string>{334,114}</string>
            </dict>
            <key>xzdd_big_card_text_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1653,117},{249,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,100}}</string>
                <key>sourceSize</key>
                <string>{249,100}</string>
            </dict>
            <key>xzdd_big_card_text_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,117},{245,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,109}}</string>
                <key>sourceSize</key>
                <string>{245,109}</string>
            </dict>
            <key>xzdd_big_card_text_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1407,228},{252,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,113}}</string>
                <key>sourceSize</key>
                <string>{252,113}</string>
            </dict>
            <key>xzdd_big_card_text_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,301},{175,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,100}}</string>
                <key>sourceSize</key>
                <string>{175,100}</string>
            </dict>
            <key>xzdd_big_card_text_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,230},{257,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,102}}</string>
                <key>sourceSize</key>
                <string>{257,102}</string>
            </dict>
            <key>xzdd_big_card_text_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,297},{178,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,114}}</string>
                <key>sourceSize</key>
                <string>{178,114}</string>
            </dict>
            <key>xzdd_big_card_text_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1041,41},{258,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,105}}</string>
                <key>sourceSize</key>
                <string>{258,105}</string>
            </dict>
            <key>xzdd_big_card_text_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,114},{256,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,114}}</string>
                <key>sourceSize</key>
                <string>{256,114}</string>
            </dict>
            <key>xzdd_big_card_text_tw_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,541},{154,94}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,2},{154,94}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>xzdd_big_card_text_tw_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1661,321},{238,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{238,100}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>xzdd_big_card_text_tw_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,343},{246,94}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{246,94}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>xzdd_big_card_text_tw_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,334},{250,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,98}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>xzdd_big_card_text_tw_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1904,109},{238,88}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{238,88}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>xzdd_big_card_text_tw_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,517},{234,98}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{234,98}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>xzdd_big_card_text_tw_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,439},{242,100}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{242,100}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>xzdd_big_card_text_tw_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1141,528},{164,88}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,5},{164,88}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>xzdd_big_card_text_tw_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,434},{244,92}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{244,92}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>xzdd_big_card_text_tw_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,440},{162,98}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,0},{162,98}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>xzdd_big_card_text_tw_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,423},{242,92}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{242,92}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>xzdd_big_card_text_tw_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1661,219},{240,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{240,100}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>xzdd_gskh_flower_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1868,550},{99,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,95}}</string>
                <key>sourceSize</key>
                <string>{99,95}</string>
            </dict>
            <key>xzdd_gskh_flower_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,440},{31,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,34}}</string>
                <key>sourceSize</key>
                <string>{31,34}</string>
            </dict>
            <key>xzdd_gskh_flower_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,440},{64,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,49}}</string>
                <key>sourceSize</key>
                <string>{64,49}</string>
            </dict>
            <key>xzdd_gskh_flower_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1901,349},{95,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,88}}</string>
                <key>sourceSize</key>
                <string>{95,90}</string>
            </dict>
            <key>xzdd_gskh_flower_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,477},{120,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,111}}</string>
                <key>sourceSize</key>
                <string>{120,111}</string>
            </dict>
            <key>xzdd_gskh_flower_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,604},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>xzdd_gskh_flower_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,478},{131,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,79}}</string>
                <key>sourceSize</key>
                <string>{131,79}</string>
            </dict>
            <key>xzdd_gskh_flower_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,440},{51,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,80}}</string>
                <key>sourceSize</key>
                <string>{51,80}</string>
            </dict>
            <key>xzdd_gskh_leaves_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,41},{389,252}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,31},{389,252}}</string>
                <key>sourceSize</key>
                <string>{445,310}</string>
            </dict>
            <key>xzdd_gskh_leaves_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,440},{47,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{47,43}}</string>
                <key>sourceSize</key>
                <string>{51,43}</string>
            </dict>
            <key>xzdd_gskh_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1463,541},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>xzdd_gskh_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,499},{422,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,147}}</string>
                <key>sourceSize</key>
                <string>{422,147}</string>
            </dict>
            <key>xzdd_hu_effect_light_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{358,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,512}}</string>
                <key>sourceSize</key>
                <string>{358,512}</string>
            </dict>
            <key>xzdd_hu_effect_light_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{170,495}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,47},{170,495}}</string>
                <key>sourceSize</key>
                <string>{200,593}</string>
            </dict>
            <key>xzdd_hu_effect_light_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,295},{143,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,388}}</string>
                <key>sourceSize</key>
                <string>{143,388}</string>
            </dict>
            <key>xzdd_hu_effect_light_speed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{8,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,128}}</string>
                <key>sourceSize</key>
                <string>{8,128}</string>
            </dict>
            <key>xzdd_hu_effect_light_zz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1886,446},{102,102}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{102,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xzdd_anim.png</string>
            <key>size</key>
            <string>{1994,648}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b838af12f5e94aca2a511a89a11a08bb:1/1$</string>
            <key>textureFileName</key>
            <string>xzdd_anim.png</string>
        </dict>
    </dict>
</plist>
