<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yb_bj_hg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,2}</string>
                <key>spriteSourceSize</key>
                <string>{159,2}</string>
                <key>textureRect</key>
                <string>{{1,488},{159,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yb_bj_xt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,25}</string>
                <key>spriteSourceSize</key>
                <string>{24,25}</string>
                <key>textureRect</key>
                <string>{{825,459},{24,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yb_bj_zs_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,26}</string>
                <key>spriteSourceSize</key>
                <string>{24,26}</string>
                <key>textureRect</key>
                <string>{{549,225},{24,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yb_bj_zs_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,26}</string>
                <key>spriteSourceSize</key>
                <string>{24,26}</string>
                <key>textureRect</key>
                <string>{{210,460},{24,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yb_bj_zs_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,26}</string>
                <key>spriteSourceSize</key>
                <string>{24,26}</string>
                <key>textureRect</key>
                <string>{{825,431},{24,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yb_bt_gd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,24}</string>
                <key>spriteSourceSize</key>
                <string>{52,24}</string>
                <key>textureRect</key>
                <string>{{549,171},{52,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yb_bz_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,123}</string>
                <key>spriteSourceSize</key>
                <string>{174,123}</string>
                <key>textureRect</key>
                <string>{{575,143},{174,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yb_bz_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,123}</string>
                <key>spriteSourceSize</key>
                <string>{174,123}</string>
                <key>textureRect</key>
                <string>{{348,171},{174,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yb_bz_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,123}</string>
                <key>spriteSourceSize</key>
                <string>{174,123}</string>
                <key>textureRect</key>
                <string>{{345,296},{174,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yb_d_sm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,84}</string>
                <key>spriteSourceSize</key>
                <string>{271,84}</string>
                <key>textureRect</key>
                <string>{{259,188},{271,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yb_gx_hd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,105}</string>
                <key>spriteSourceSize</key>
                <string>{143,105}</string>
                <key>textureRect</key>
                <string>{{751,143},{143,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yb_gx_yg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{345,185}</string>
                <key>spriteSourceSize</key>
                <string>{345,185}</string>
                <key>textureRect</key>
                <string>{{1,1},{345,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yb_gx_yg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,188},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yb_gx_yzsg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,76}</string>
                <key>spriteSourceSize</key>
                <string>{78,76}</string>
                <key>textureRect</key>
                <string>{{597,421},{78,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yb_gx_yzsg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,76}</string>
                <key>spriteSourceSize</key>
                <string>{78,76}</string>
                <key>textureRect</key>
                <string>{{675,418},{78,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yb_nz_dk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,33}</string>
                <key>spriteSourceSize</key>
                <string>{100,33}</string>
                <key>textureRect</key>
                <string>{{810,1},{100,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yb_nz_qdd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,23}</string>
                <key>spriteSourceSize</key>
                <string>{61,23}</string>
                <key>textureRect</key>
                <string>{{524,171},{61,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yb_nz_qxz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,23}</string>
                <key>spriteSourceSize</key>
                <string>{61,23}</string>
                <key>textureRect</key>
                <string>{{825,368},{61,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yb_sm_baozi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,17}</string>
                <key>spriteSourceSize</key>
                <string>{50,17}</string>
                <key>textureRect</key>
                <string>{{729,351},{50,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yb_sm_dianshu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,17}</string>
                <key>spriteSourceSize</key>
                <string>{50,17}</string>
                <key>textureRect</key>
                <string>{{524,234},{50,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yb_sz_j1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,82}</string>
                <key>spriteSourceSize</key>
                <string>{78,82}</string>
                <key>textureRect</key>
                <string>{{345,421},{78,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yb_sz_j2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,82}</string>
                <key>spriteSourceSize</key>
                <string>{78,82}</string>
                <key>textureRect</key>
                <string>{{429,421},{78,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yb_sz_j3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,82}</string>
                <key>spriteSourceSize</key>
                <string>{78,82}</string>
                <key>textureRect</key>
                <string>{{513,421},{78,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yb_sz_j4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,81}</string>
                <key>spriteSourceSize</key>
                <string>{78,81}</string>
                <key>textureRect</key>
                <string>{{591,268},{78,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yb_sz_j5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,81}</string>
                <key>spriteSourceSize</key>
                <string>{78,81}</string>
                <key>textureRect</key>
                <string>{{671,268},{78,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yb_sz_j6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,81}</string>
                <key>spriteSourceSize</key>
                <string>{78,81}</string>
                <key>textureRect</key>
                <string>{{751,288},{78,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yb_sz_ls_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,17}</string>
                <key>spriteSourceSize</key>
                <string>{17,17}</string>
                <key>textureRect</key>
                <string>{{834,288},{17,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yb_sz_ls_lv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,58}</string>
                <key>spriteSourceSize</key>
                <string>{70,58}</string>
                <key>textureRect</key>
                <string>{{753,368},{70,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yb_sz_ls_lv2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,40}</string>
                <key>spriteSourceSize</key>
                <string>{207,40}</string>
                <key>textureRect</key>
                <string>{{1,446},{207,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yb_tx_lpt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,58}</string>
                <key>spriteSourceSize</key>
                <string>{70,58}</string>
                <key>textureRect</key>
                <string>{{753,428},{70,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yb_wz_bz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,68}</string>
                <key>spriteSourceSize</key>
                <string>{123,68}</string>
                <key>textureRect</key>
                <string>{{521,296},{123,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yb_wz_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{810,103},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yb_wz_dd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,69}</string>
                <key>spriteSourceSize</key>
                <string>{65,69}</string>
                <key>textureRect</key>
                <string>{{658,351},{65,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yb_wz_x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,68}</string>
                <key>spriteSourceSize</key>
                <string>{65,68}</string>
                <key>textureRect</key>
                <string>{{591,351},{65,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yb_z_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,140}</string>
                <key>spriteSourceSize</key>
                <string>{233,140}</string>
                <key>textureRect</key>
                <string>{{575,1},{233,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yb_z_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,225}</string>
                <key>spriteSourceSize</key>
                <string>{168,225}</string>
                <key>textureRect</key>
                <string>{{348,1},{168,225}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yb_z_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,12}</string>
                <key>spriteSourceSize</key>
                <string>{42,12}</string>
                <key>textureRect</key>
                <string>{{210,446},{42,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ybao.png</string>
            <key>size</key>
            <string>{857,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3dab420a16fecea8dc649cf51386ba3:19da4b3ba4572d4d5f29cb8c018100b7:2d8df55d2e321fb55e79b3a0366a34b1$</string>
            <key>textureFileName</key>
            <string>ybao.png</string>
        </dict>
    </dict>
</plist>
