<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chess0_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,269},{87,87}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{87,87}}</string>
                <key>sourceSize</key>
                <string>{93,95}</string>
            </dict>
            <key>chess0_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,180},{87,87}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{87,87}}</string>
                <key>sourceSize</key>
                <string>{93,95}</string>
            </dict>
            <key>chess0_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,91},{87,87}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{87,87}}</string>
                <key>sourceSize</key>
                <string>{93,95}</string>
            </dict>
            <key>chess0_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{87,87}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{87,87}}</string>
                <key>sourceSize</key>
                <string>{93,95}</string>
            </dict>
            <key>chess0_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,294},{87,87}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{87,87}}</string>
                <key>sourceSize</key>
                <string>{93,95}</string>
            </dict>
            <key>chess0_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,294},{87,87}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{87,87}}</string>
                <key>sourceSize</key>
                <string>{93,95}</string>
            </dict>
            <key>chess0_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,294},{87,87}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{87,87}}</string>
                <key>sourceSize</key>
                <string>{93,95}</string>
            </dict>
            <key>chess0_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,294},{87,87}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{87,87}}</string>
                <key>sourceSize</key>
                <string>{93,95}</string>
            </dict>
            <key>chess0_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,294},{87,87}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{87,87}}</string>
                <key>sourceSize</key>
                <string>{93,95}</string>
            </dict>
            <key>chess0_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,294},{87,87}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{87,87}}</string>
                <key>sourceSize</key>
                <string>{93,95}</string>
            </dict>
            <key>chess0_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,294},{87,87}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{87,87}}</string>
                <key>sourceSize</key>
                <string>{93,95}</string>
            </dict>
            <key>chess0_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,294},{87,87}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{87,87}}</string>
                <key>sourceSize</key>
                <string>{93,95}</string>
            </dict>
            <key>chess0_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,294},{87,87}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{87,87}}</string>
                <key>sourceSize</key>
                <string>{93,95}</string>
            </dict>
            <key>chess0_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{87,87}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{87,87}}</string>
                <key>sourceSize</key>
                <string>{93,95}</string>
            </dict>
            <key>chessSel0_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,148},{120,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,144}}</string>
                <key>sourceSize</key>
                <string>{120,144}</string>
            </dict>
            <key>chessSel0_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,2},{120,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,144}}</string>
                <key>sourceSize</key>
                <string>{120,144}</string>
            </dict>
            <key>chessSel0_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,148},{120,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,144}}</string>
                <key>sourceSize</key>
                <string>{120,144}</string>
            </dict>
            <key>chessSel0_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{120,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,144}}</string>
                <key>sourceSize</key>
                <string>{120,144}</string>
            </dict>
            <key>chessSel0_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,148},{120,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,144}}</string>
                <key>sourceSize</key>
                <string>{120,144}</string>
            </dict>
            <key>chessSel0_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{120,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,144}}</string>
                <key>sourceSize</key>
                <string>{120,144}</string>
            </dict>
            <key>chessSel0_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,148},{120,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,144}}</string>
                <key>sourceSize</key>
                <string>{120,144}</string>
            </dict>
            <key>chessSel0_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{120,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,144}}</string>
                <key>sourceSize</key>
                <string>{120,144}</string>
            </dict>
            <key>chessSel0_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,148},{120,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,144}}</string>
                <key>sourceSize</key>
                <string>{120,144}</string>
            </dict>
            <key>chessSel0_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{120,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,144}}</string>
                <key>sourceSize</key>
                <string>{120,144}</string>
            </dict>
            <key>chessSel0_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,148},{120,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,144}}</string>
                <key>sourceSize</key>
                <string>{120,144}</string>
            </dict>
            <key>chessSel0_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{120,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,144}}</string>
                <key>sourceSize</key>
                <string>{120,144}</string>
            </dict>
            <key>chessSel0_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{120,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,144}}</string>
                <key>sourceSize</key>
                <string>{120,144}</string>
            </dict>
            <key>chessSel0_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,144}}</string>
                <key>sourceSize</key>
                <string>{120,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chess0.png</string>
            <key>size</key>
            <string>{981,383}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50eacd2b00cb4dfd14fa6d31ff1faf25$</string>
            <key>textureFileName</key>
            <string>chess0.png</string>
        </dict>
    </dict>
</plist>
