<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOSdemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EA49F2E81BCFFAA500F3C5A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA49F3041BCFFAA600F3C5A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA49F30F1BCFFAA600F3C5A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
