<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CheckLists.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EA8399161BDBE2E400EE4AE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA83992F1BDBE2E400EE4AE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA83993A1BDBE2E400EE4AE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
