<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>cardBg1_hand.png</key>
		<dict>
			<key>frame</key>
			<string>{{113,177},{109,173}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,173}}</string>
			<key>sourceSize</key>
			<string>{109,173}</string>
		</dict>
		<key>cardBg1_handHide.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{109,174}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,174}}</string>
			<key>sourceSize</key>
			<string>{109,176}</string>
		</dict>
		<key>cardBg1_hide.png</key>
		<dict>
			<key>frame</key>
			<string>{{113,2},{109,173}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,173}}</string>
			<key>sourceSize</key>
			<string>{109,173}</string>
		</dict>
		<key>cardBg1_leftHand.png</key>
		<dict>
			<key>frame</key>
			<string>{{724,226},{48,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,109}}</string>
			<key>sourceSize</key>
			<string>{48,109}</string>
		</dict>
		<key>cardBg1_leftHide.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,128},{121,124}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,124}}</string>
			<key>sourceSize</key>
			<string>{121,126}</string>
		</dict>
		<key>cardBg1_leftOpen.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,2},{121,124}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,124}}</string>
			<key>sourceSize</key>
			<string>{121,126}</string>
		</dict>
		<key>cardBg1_open.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,178},{109,173}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,173}}</string>
			<key>sourceSize</key>
			<string>{109,173}</string>
		</dict>
		<key>flag_laizi.png</key>
		<dict>
			<key>frame</key>
			<string>{{947,134},{60,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>icon_gang.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,353},{60,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>icon_hun.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,353},{60,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>me_21.png</key>
		<dict>
			<key>frame</key>
			<string>{{347,2},{91,117}}</string>
			<key>offset</key>
			<string>{-1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,5},{91,117}}</string>
			<key>sourceSize</key>
			<string>{101,123}</string>
		</dict>
		<key>me_22.png</key>
		<dict>
			<key>frame</key>
			<string>{{659,115},{23,111}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,7},{23,111}}</string>
			<key>sourceSize</key>
			<string>{101,123}</string>
		</dict>
		<key>me_23.png</key>
		<dict>
			<key>frame</key>
			<string>{{590,343},{69,111}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,7},{69,111}}</string>
			<key>sourceSize</key>
			<string>{101,123}</string>
		</dict>
		<key>me_24.png</key>
		<dict>
			<key>frame</key>
			<string>{{651,2},{69,111}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,7},{69,111}}</string>
			<key>sourceSize</key>
			<string>{101,123}</string>
		</dict>
		<key>me_25.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,115},{69,111}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,7},{69,111}}</string>
			<key>sourceSize</key>
			<string>{101,123}</string>
		</dict>
		<key>me_26.png</key>
		<dict>
			<key>frame</key>
			<string>{{584,230},{69,111}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,7},{69,111}}</string>
			<key>sourceSize</key>
			<string>{101,123}</string>
		</dict>
		<key>me_27.png</key>
		<dict>
			<key>frame</key>
			<string>{{703,341},{65,109}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{19,9},{65,109}}</string>
			<key>sourceSize</key>
			<string>{101,123}</string>
		</dict>
		<key>me_28.png</key>
		<dict>
			<key>frame</key>
			<string>{{513,230},{69,111}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,7},{69,111}}</string>
			<key>sourceSize</key>
			<string>{101,123}</string>
		</dict>
		<key>me_29.png</key>
		<dict>
			<key>frame</key>
			<string>{{722,2},{65,109}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,9},{65,109}}</string>
			<key>sourceSize</key>
			<string>{101,123}</string>
		</dict>
		<key>me_41.png</key>
		<dict>
			<key>frame</key>
			<string>{{905,326},{89,91}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,17},{89,91}}</string>
			<key>sourceSize</key>
			<string>{101,123}</string>
		</dict>
		<key>me_42.png</key>
		<dict>
			<key>frame</key>
			<string>{{905,85},{47,105}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{27,10},{47,105}}</string>
			<key>sourceSize</key>
			<string>{101,123}</string>
		</dict>
		<key>me_43.png</key>
		<dict>
			<key>frame</key>
			<string>{{905,2},{81,105}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,9},{81,105}}</string>
			<key>sourceSize</key>
			<string>{101,123}</string>
		</dict>
		<key>me_44.png</key>
		<dict>
			<key>frame</key>
			<string>{{774,222},{81,105}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,9},{81,105}}</string>
			<key>sourceSize</key>
			<string>{101,123}</string>
		</dict>
		<key>me_45.png</key>
		<dict>
			<key>frame</key>
			<string>{{789,2},{81,105}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,9},{81,105}}</string>
			<key>sourceSize</key>
			<string>{101,123}</string>
		</dict>
		<key>me_46.png</key>
		<dict>
			<key>frame</key>
			<string>{{126,352},{65,115}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17,4},{65,115}}</string>
			<key>sourceSize</key>
			<string>{101,123}</string>
		</dict>
		<key>me_47.png</key>
		<dict>
			<key>frame</key>
			<string>{{347,121},{89,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,4},{89,115}}</string>
			<key>sourceSize</key>
			<string>{101,123}</string>
		</dict>
		<key>me_48.png</key>
		<dict>
			<key>frame</key>
			<string>{{243,351},{65,113}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17,5},{65,113}}</string>
			<key>sourceSize</key>
			<string>{101,123}</string>
		</dict>
		<key>me_49.png</key>
		<dict>
			<key>frame</key>
			<string>{{317,254},{93,109}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,8},{93,109}}</string>
			<key>sourceSize</key>
			<string>{101,123}</string>
		</dict>
		<key>me_61.png</key>
		<dict>
			<key>frame</key>
			<string>{{857,221},{65,103}}</string>
			<key>offset</key>
			<string>{-1,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,16},{65,103}}</string>
			<key>sourceSize</key>
			<string>{101,123}</string>
		</dict>
		<key>me_62.png</key>
		<dict>
			<key>frame</key>
			<string>{{655,228},{67,111}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,8},{67,111}}</string>
			<key>sourceSize</key>
			<string>{101,123}</string>
		</dict>
		<key>me_63.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,121},{73,115}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,4},{73,115}}</string>
			<key>sourceSize</key>
			<string>{101,123}</string>
		</dict>
		<key>me_64.png</key>
		<dict>
			<key>frame</key>
			<string>{{684,115},{69,109}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,10},{69,109}}</string>
			<key>sourceSize</key>
			<string>{101,123}</string>
		</dict>
		<key>me_65.png</key>
		<dict>
			<key>frame</key>
			<string>{{513,117},{73,111}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,8},{73,111}}</string>
			<key>sourceSize</key>
			<string>{101,123}</string>
		</dict>
		<key>me_66.png</key>
		<dict>
			<key>frame</key>
			<string>{{440,2},{69,115}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,4},{69,115}}</string>
			<key>sourceSize</key>
			<string>{101,123}</string>
		</dict>
		<key>me_67.png</key>
		<dict>
			<key>frame</key>
			<string>{{358,349},{67,115}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,4},{67,115}}</string>
			<key>sourceSize</key>
			<string>{101,123}</string>
		</dict>
		<key>me_68.png</key>
		<dict>
			<key>frame</key>
			<string>{{580,2},{69,111}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,8},{69,111}}</string>
			<key>sourceSize</key>
			<string>{101,123}</string>
		</dict>
		<key>me_69.png</key>
		<dict>
			<key>frame</key>
			<string>{{511,2},{67,113}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,6},{67,113}}</string>
			<key>sourceSize</key>
			<string>{101,123}</string>
		</dict>
		<key>me_81.png</key>
		<dict>
			<key>frame</key>
			<string>{{755,113},{91,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,8},{91,107}}</string>
			<key>sourceSize</key>
			<string>{101,123}</string>
		</dict>
		<key>me_82.png</key>
		<dict>
			<key>frame</key>
			<string>{{924,221},{81,97}}</string>
			<key>offset</key>
			<string>{1,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,10},{81,97}}</string>
			<key>sourceSize</key>
			<string>{101,123}</string>
		</dict>
		<key>me_83.png</key>
		<dict>
			<key>frame</key>
			<string>{{814,329},{87,89}}</string>
			<key>offset</key>
			<string>{2,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,15},{87,89}}</string>
			<key>sourceSize</key>
			<string>{101,123}</string>
		</dict>
		<key>me_84.png</key>
		<dict>
			<key>frame</key>
			<string>{{848,134},{85,97}}</string>
			<key>offset</key>
			<string>{-1,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,10},{85,97}}</string>
			<key>sourceSize</key>
			<string>{101,123}</string>
		</dict>
		<key>me_85.png</key>
		<dict>
			<key>frame</key>
			<string>{{475,349},{67,113}}</string>
			<key>offset</key>
			<string>{5,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{22,5},{67,113}}</string>
			<key>sourceSize</key>
			<string>{101,123}</string>
		</dict>
		<key>me_86.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,254},{91,95}}</string>
			<key>offset</key>
			<string>{4,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,16},{91,95}}</string>
			<key>sourceSize</key>
			<string>{101,123}</string>
		</dict>
		<key>me_87.png</key>
		<dict>
			<key>frame</key>
			<string>{{428,238},{83,109}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,8},{83,109}}</string>
			<key>sourceSize</key>
			<string>{101,123}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>cymjCards.png</string>
		<key>size</key>
		<string>{1013,419}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:897b1aa83753f72e5dabd4d1ae3e49b4:1/1$</string>
		<key>textureFileName</key>
		<string>cymjCards.png</string>
	</dict>
</dict>
</plist>
