<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dbjd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1662,910},{164,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,225}}</string>
                <key>sourceSize</key>
                <string>{164,225}</string>
            </dict>
            <key>dbjd_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,683},{164,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,225}}</string>
                <key>sourceSize</key>
                <string>{164,225}</string>
            </dict>
            <key>dbjd_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1662,683},{164,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,225}}</string>
                <key>sourceSize</key>
                <string>{164,225}</string>
            </dict>
            <key>dbjd_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,456},{164,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,225}}</string>
                <key>sourceSize</key>
                <string>{164,225}</string>
            </dict>
            <key>dbjd_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1662,456},{164,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,225}}</string>
                <key>sourceSize</key>
                <string>{164,225}</string>
            </dict>
            <key>dbjd_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,910},{164,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,225}}</string>
                <key>sourceSize</key>
                <string>{164,225}</string>
            </dict>
            <key>dbjd_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,683},{164,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,225}}</string>
                <key>sourceSize</key>
                <string>{164,225}</string>
            </dict>
            <key>dbjd_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,229},{164,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,225}}</string>
                <key>sourceSize</key>
                <string>{164,225}</string>
            </dict>
            <key>dbjd_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1662,229},{164,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,225}}</string>
                <key>sourceSize</key>
                <string>{164,225}</string>
            </dict>
            <key>dbjd_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,456},{164,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,225}}</string>
                <key>sourceSize</key>
                <string>{164,225}</string>
            </dict>
            <key>dbjd_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,910},{164,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,225}}</string>
                <key>sourceSize</key>
                <string>{164,225}</string>
            </dict>
            <key>dbjd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,683},{164,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,225}}</string>
                <key>sourceSize</key>
                <string>{164,225}</string>
            </dict>
            <key>dbjd_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,2},{164,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,225}}</string>
                <key>sourceSize</key>
                <string>{164,225}</string>
            </dict>
            <key>dbjd_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1662,2},{164,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,225}}</string>
                <key>sourceSize</key>
                <string>{164,225}</string>
            </dict>
            <key>dbjd_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,229},{164,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,225}}</string>
                <key>sourceSize</key>
                <string>{164,225}</string>
            </dict>
            <key>dbjd_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,456},{164,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,225}}</string>
                <key>sourceSize</key>
                <string>{164,225}</string>
            </dict>
            <key>dbjd_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,910},{164,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,225}}</string>
                <key>sourceSize</key>
                <string>{164,225}</string>
            </dict>
            <key>dbjd_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,683},{164,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,225}}</string>
                <key>sourceSize</key>
                <string>{164,225}</string>
            </dict>
            <key>dbjd_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,2},{164,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,225}}</string>
                <key>sourceSize</key>
                <string>{164,225}</string>
            </dict>
            <key>dbjd_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,229},{164,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,225}}</string>
                <key>sourceSize</key>
                <string>{164,225}</string>
            </dict>
            <key>dbjd_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,456},{164,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,225}}</string>
                <key>sourceSize</key>
                <string>{164,225}</string>
            </dict>
            <key>dbjd_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,910},{164,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,225}}</string>
                <key>sourceSize</key>
                <string>{164,225}</string>
            </dict>
            <key>dbjd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,683},{164,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,225}}</string>
                <key>sourceSize</key>
                <string>{164,225}</string>
            </dict>
            <key>dbjd_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,2},{164,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,225}}</string>
                <key>sourceSize</key>
                <string>{164,225}</string>
            </dict>
            <key>dbjd_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,229},{164,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,225}}</string>
                <key>sourceSize</key>
                <string>{164,225}</string>
            </dict>
            <key>dbjd_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,456},{164,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,225}}</string>
                <key>sourceSize</key>
                <string>{164,225}</string>
            </dict>
            <key>dbjd_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,910},{164,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,225}}</string>
                <key>sourceSize</key>
                <string>{164,225}</string>
            </dict>
            <key>dbjd_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,683},{164,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,225}}</string>
                <key>sourceSize</key>
                <string>{164,225}</string>
            </dict>
            <key>dbjd_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,2},{164,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,225}}</string>
                <key>sourceSize</key>
                <string>{164,225}</string>
            </dict>
            <key>dbjd_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,229},{164,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,225}}</string>
                <key>sourceSize</key>
                <string>{164,225}</string>
            </dict>
            <key>dbjd_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,456},{164,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,225}}</string>
                <key>sourceSize</key>
                <string>{164,225}</string>
            </dict>
            <key>dbjd_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,910},{164,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,225}}</string>
                <key>sourceSize</key>
                <string>{164,225}</string>
            </dict>
            <key>dbjd_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,683},{164,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,225}}</string>
                <key>sourceSize</key>
                <string>{164,225}</string>
            </dict>
            <key>dbjd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,2},{164,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,225}}</string>
                <key>sourceSize</key>
                <string>{164,225}</string>
            </dict>
            <key>dbjd_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,229},{164,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,225}}</string>
                <key>sourceSize</key>
                <string>{164,225}</string>
            </dict>
            <key>dbjd_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,456},{164,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,225}}</string>
                <key>sourceSize</key>
                <string>{164,225}</string>
            </dict>
            <key>dbjd_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,910},{164,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,225}}</string>
                <key>sourceSize</key>
                <string>{164,225}</string>
            </dict>
            <key>dbjd_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,683},{164,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,225}}</string>
                <key>sourceSize</key>
                <string>{164,225}</string>
            </dict>
            <key>dbjd_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,2},{164,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,225}}</string>
                <key>sourceSize</key>
                <string>{164,225}</string>
            </dict>
            <key>dbjd_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,229},{164,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,225}}</string>
                <key>sourceSize</key>
                <string>{164,225}</string>
            </dict>
            <key>dbjd_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,456},{164,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,225}}</string>
                <key>sourceSize</key>
                <string>{164,225}</string>
            </dict>
            <key>dbjd_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,910},{164,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,225}}</string>
                <key>sourceSize</key>
                <string>{164,225}</string>
            </dict>
            <key>dbjd_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,683},{164,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,225}}</string>
                <key>sourceSize</key>
                <string>{164,225}</string>
            </dict>
            <key>dbjd_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,2},{164,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,225}}</string>
                <key>sourceSize</key>
                <string>{164,225}</string>
            </dict>
            <key>dbjd_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,229},{164,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,225}}</string>
                <key>sourceSize</key>
                <string>{164,225}</string>
            </dict>
            <key>dbjd_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,456},{164,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,225}}</string>
                <key>sourceSize</key>
                <string>{164,225}</string>
            </dict>
            <key>dbjd_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,910},{164,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,225}}</string>
                <key>sourceSize</key>
                <string>{164,225}</string>
            </dict>
            <key>dbjd_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,683},{164,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,225}}</string>
                <key>sourceSize</key>
                <string>{164,225}</string>
            </dict>
            <key>dbjd_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{164,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,225}}</string>
                <key>sourceSize</key>
                <string>{164,225}</string>
            </dict>
            <key>dbjd_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,229},{164,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,225}}</string>
                <key>sourceSize</key>
                <string>{164,225}</string>
            </dict>
            <key>dbjd_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,456},{164,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,225}}</string>
                <key>sourceSize</key>
                <string>{164,225}</string>
            </dict>
            <key>dbjd_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,910},{164,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,225}}</string>
                <key>sourceSize</key>
                <string>{164,225}</string>
            </dict>
            <key>dbjd_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,683},{164,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,225}}</string>
                <key>sourceSize</key>
                <string>{164,225}</string>
            </dict>
            <key>dbjd_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{164,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,225}}</string>
                <key>sourceSize</key>
                <string>{164,225}</string>
            </dict>
            <key>dbjd_bg0.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,229},{164,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,225}}</string>
                <key>sourceSize</key>
                <string>{164,225}</string>
            </dict>
            <key>dbjd_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{164,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,225}}</string>
                <key>sourceSize</key>
                <string>{164,225}</string>
            </dict>
            <key>dbjd_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{164,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,225}}</string>
                <key>sourceSize</key>
                <string>{164,225}</string>
            </dict>
            <key>dbjd_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{164,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,225}}</string>
                <key>sourceSize</key>
                <string>{164,225}</string>
            </dict>
            <key>dbjd_bg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,225}}</string>
                <key>sourceSize</key>
                <string>{164,225}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dbjdCards.png</string>
            <key>size</key>
            <string>{1994,1137}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1ee5893a4dab11f21dd894870b41f1a:1/1$</string>
            <key>textureFileName</key>
            <string>dbjdCards.png</string>
        </dict>
    </dict>
</plist>
