<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ddz_result_dizhunan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,395},{172,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,6},{172,338}}</string>
                <key>sourceSize</key>
                <string>{272,350}</string>
            </dict>
            <key>ddz_result_dizhupo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{174,342}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,5},{174,342}}</string>
                <key>sourceSize</key>
                <string>{272,350}</string>
            </dict>
            <key>ddz_result_dizhusheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,160},{233,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{233,81}}</string>
                <key>sourceSize</key>
                <string>{241,85}</string>
            </dict>
            <key>ddz_result_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{350,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,276}}</string>
                <key>sourceSize</key>
                <string>{350,276}</string>
            </dict>
            <key>ddz_result_jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{156,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,156}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>ddz_result_nongminnan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{266,344}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{266,344}}</string>
                <key>sourceSize</key>
                <string>{272,350}</string>
            </dict>
            <key>ddz_result_nongminnv_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{200,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,4},{200,342}}</string>
                <key>sourceSize</key>
                <string>{272,350}</string>
            </dict>
            <key>ddz_result_nongminsheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,160},{233,81}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{233,81}}</string>
                <key>sourceSize</key>
                <string>{241,85}</string>
            </dict>
            <key>ddz_result_xingxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,735},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ddz_result11.png</string>
            <key>size</key>
            <string>{522,926}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee65a8424213cdc96ffff88d43bebd4f:1/1$</string>
            <key>textureFileName</key>
            <string>ddz_result11.png</string>
        </dict>
    </dict>
</plist>
