<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pop_chat_paopo_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{267,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,116}}</string>
                <key>sourceSize</key>
                <string>{267,116}</string>
            </dict>
            <key>pop_chat_paopo_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{267,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,116}}</string>
                <key>sourceSize</key>
                <string>{267,116}</string>
            </dict>
            <key>pop_tuoguan_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,2},{280,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,109}}</string>
                <key>sourceSize</key>
                <string>{280,109}</string>
            </dict>
            <key>pop_tuoguan_cancel_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{280,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,109}}</string>
                <key>sourceSize</key>
                <string>{280,109}</string>
            </dict>
            <key>pop_tuoguan_cancel_sel_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,349},{200,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,27},{200,55}}</string>
                <key>sourceSize</key>
                <string>{280,109}</string>
            </dict>
            <key>pop_tuoguan_chat_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{303,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,77}}</string>
                <key>sourceSize</key>
                <string>{303,77}</string>
            </dict>
            <key>pop_tuoguan_chat_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,284},{238,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,63}}</string>
                <key>sourceSize</key>
                <string>{238,63}</string>
            </dict>
            <key>pop_user_score_plus_num_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,459},{22,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,30}}</string>
                <key>sourceSize</key>
                <string>{22,30}</string>
            </dict>
            <key>pop_user_score_plus_num_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,458},{17,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,30}}</string>
                <key>sourceSize</key>
                <string>{19,30}</string>
            </dict>
            <key>pop_user_score_plus_num_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,453},{25,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,30}}</string>
                <key>sourceSize</key>
                <string>{25,30}</string>
            </dict>
            <key>pop_user_score_plus_num_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,459},{24,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,30}}</string>
                <key>sourceSize</key>
                <string>{24,30}</string>
            </dict>
            <key>pop_user_score_plus_num_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,438},{23,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,30}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>pop_user_score_plus_num_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,487},{23,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,30}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>pop_user_score_plus_num_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,426},{24,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,30}}</string>
                <key>sourceSize</key>
                <string>{24,30}</string>
            </dict>
            <key>pop_user_score_plus_num_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,419},{23,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,30}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>pop_user_score_plus_num_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,387},{23,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,30}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>pop_user_score_plus_num_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,406},{23,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,30}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>pop_user_xinxi_.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,406},{42,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{42,18}}</string>
                <key>sourceSize</key>
                <string>{50,22}</string>
            </dict>
            <key>pop_user_xinxi_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{276,178}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{276,178}}</string>
                <key>sourceSize</key>
                <string>{278,182}</string>
            </dict>
            <key>pop_user_xinxi_back_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,497},{260,3}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{260,3}}</string>
                <key>sourceSize</key>
                <string>{278,3}</string>
            </dict>
            <key>pop_user_xinxi_chengwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,429},{57,22}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{57,22}}</string>
                <key>sourceSize</key>
                <string>{63,22}</string>
            </dict>
            <key>pop_user_xinxi_chengwei_dianshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,349},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>pop_user_xinxi_chengwei_doushu.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,429},{34,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{34,28}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>pop_user_xinxi_chengwei_matchscore.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,453},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{30,32}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>pop_user_xinxi_wincontinue.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,406},{87,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{87,21}}</string>
                <key>sourceSize</key>
                <string>{91,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PopLayerImg.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e053b6808c2520b4c01bfa811c480e1e$</string>
            <key>textureFileName</key>
            <string>PopLayerImg.png</string>
        </dict>
    </dict>
</plist>
