<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>result_box_dahu_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1801},{35,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{35,33}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>resultbox_btn_huanzhuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,861},{280,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,109}}</string>
                <key>sourceSize</key>
                <string>{280,109}</string>
            </dict>
            <key>resultbox_btn_huanzhuo_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{280,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,109}}</string>
                <key>sourceSize</key>
                <string>{280,109}</string>
            </dict>
            <key>resultbox_btn_jixu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,972},{278,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,109}}</string>
                <key>sourceSize</key>
                <string>{278,109}</string>
            </dict>
            <key>resultbox_btn_jixu_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,937},{278,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,109}}</string>
                <key>sourceSize</key>
                <string>{278,109}</string>
            </dict>
            <key>resultbox_btn_likai.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,386},{103,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,62}}</string>
                <key>sourceSize</key>
                <string>{103,62}</string>
            </dict>
            <key>resultbox_btn_likai_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,386},{103,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,62}}</string>
                <key>sourceSize</key>
                <string>{103,62}</string>
            </dict>
            <key>resultbox_btn_xuanyao.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,655},{280,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,109}}</string>
                <key>sourceSize</key>
                <string>{280,109}</string>
            </dict>
            <key>resultbox_btn_xuanyao_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,639},{280,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,109}}</string>
                <key>sourceSize</key>
                <string>{280,109}</string>
            </dict>
            <key>resultbox_dahu_word_shine_slider.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1215},{184,251}}</string>
                <key>offset</key>
                <string>{10,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,38},{184,251}}</string>
                <key>sourceSize</key>
                <string>{354,343}</string>
            </dict>
            <key>resultbox_fan_center_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,398}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,398}}</string>
                <key>sourceSize</key>
                <string>{1,398}</string>
            </dict>
            <key>resultbox_lscore_add1.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1943},{35,29}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{35,29}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>resultbox_lscore_add2.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1865},{75,35}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{75,35}}</string>
                <key>sourceSize</key>
                <string>{77,39}</string>
            </dict>
            <key>resultbox_score_dou.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1661},{40,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{40,34}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>resultbox_score_godenbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,1753},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>resultbox_score_minus.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1083},{29,14}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,19},{29,14}}</string>
                <key>sourceSize</key>
                <string>{39,50}</string>
            </dict>
            <key>resultbox_score_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1827},{37,36}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{37,36}}</string>
                <key>sourceSize</key>
                <string>{39,50}</string>
            </dict>
            <key>resultbox_score_plus_num_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1749},{39,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,50}}</string>
                <key>sourceSize</key>
                <string>{39,50}</string>
            </dict>
            <key>resultbox_score_plus_num_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1891},{29,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,50}}</string>
                <key>sourceSize</key>
                <string>{31,50}</string>
            </dict>
            <key>resultbox_score_plus_num_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1753},{42,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,50}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>resultbox_score_plus_num_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1697},{39,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,50}}</string>
                <key>sourceSize</key>
                <string>{39,50}</string>
            </dict>
            <key>resultbox_score_plus_num_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1505},{39,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,50}}</string>
                <key>sourceSize</key>
                <string>{39,50}</string>
            </dict>
            <key>resultbox_score_plus_num_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1453},{39,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,50}}</string>
                <key>sourceSize</key>
                <string>{39,50}</string>
            </dict>
            <key>resultbox_score_plus_num_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1401},{39,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,50}}</string>
                <key>sourceSize</key>
                <string>{39,50}</string>
            </dict>
            <key>resultbox_score_plus_num_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,1797},{37,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,50}}</string>
                <key>sourceSize</key>
                <string>{37,50}</string>
            </dict>
            <key>resultbox_score_plus_num_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,1609},{40,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>resultbox_score_plus_num_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,1557},{40,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>resultbox_score_title_num_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1900},{70,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{70,97}}</string>
                <key>sourceSize</key>
                <string>{70,99}</string>
            </dict>
            <key>resultbox_score_title_num_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1801},{53,97}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{53,97}}</string>
                <key>sourceSize</key>
                <string>{57,99}</string>
            </dict>
            <key>resultbox_score_title_num_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,5},{77,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{77,97}}</string>
                <key>sourceSize</key>
                <string>{77,99}</string>
            </dict>
            <key>resultbox_score_title_num_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,160},{74,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{74,97}}</string>
                <key>sourceSize</key>
                <string>{74,99}</string>
            </dict>
            <key>resultbox_score_title_num_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,84},{74,97}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,97}}</string>
                <key>sourceSize</key>
                <string>{74,99}</string>
            </dict>
            <key>resultbox_score_title_num_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,450},{73,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{73,97}}</string>
                <key>sourceSize</key>
                <string>{73,99}</string>
            </dict>
            <key>resultbox_score_title_num_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,311},{73,97}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,97}}</string>
                <key>sourceSize</key>
                <string>{73,99}</string>
            </dict>
            <key>resultbox_score_title_num_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,1900},{71,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{71,97}}</string>
                <key>sourceSize</key>
                <string>{71,99}</string>
            </dict>
            <key>resultbox_score_title_num_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,236},{73,97}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,97}}</string>
                <key>sourceSize</key>
                <string>{73,99}</string>
            </dict>
            <key>resultbox_score_title_num_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1753},{72,97}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,97}}</string>
                <key>sourceSize</key>
                <string>{72,99}</string>
            </dict>
            <key>resultbox_title_de.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,1827},{71,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,65}}</string>
                <key>sourceSize</key>
                <string>{71,65}</string>
            </dict>
            <key>resultbox_title_de_fail.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,1908},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{71,65}</string>
            </dict>
            <key>resultbox_title_fan.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1837},{70,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,69}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
            <key>resultbox_title_fan_bi.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1837},{52,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,68}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>resultbox_title_fan_dou.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,1942},{61,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,60}}</string>
                <key>sourceSize</key>
                <string>{61,60}</string>
            </dict>
            <key>resultbox_title_huangpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1401},{210,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,70}}</string>
                <key>sourceSize</key>
                <string>{210,70}</string>
            </dict>
            <key>resultbox_title_liule.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,1217},{447,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{447,152}}</string>
                <key>sourceSize</key>
                <string>{447,152}</string>
            </dict>
            <key>resultbox_title_lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,313},{299,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{299,164}}</string>
                <key>sourceSize</key>
                <string>{305,168}</string>
            </dict>
            <key>resultbox_title_lose_pao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{304,146}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{304,146}}</string>
                <key>sourceSize</key>
                <string>{310,164}</string>
            </dict>
            <key>resultbox_title_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,5},{306,158}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{306,158}}</string>
                <key>sourceSize</key>
                <string>{310,164}</string>
            </dict>
            <key>resultbox_title_win_con1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1083},{252,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,130}}</string>
                <key>sourceSize</key>
                <string>{252,130}</string>
            </dict>
            <key>resultbox_title_win_con2.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1666},{169,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,136}}</string>
                <key>sourceSize</key>
                <string>{169,136}</string>
            </dict>
            <key>resultbox_title_win_zimo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,479},{288,158}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{288,158}}</string>
                <key>sourceSize</key>
                <string>{310,164}</string>
            </dict>
            <key>resultbox_whowin_benjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1543},{209,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,68}}</string>
                <key>sourceSize</key>
                <string>{209,68}</string>
            </dict>
            <key>resultbox_whowin_duijia.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1473},{210,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,68}}</string>
                <key>sourceSize</key>
                <string>{210,68}</string>
            </dict>
            <key>resultbox_whowin_shangjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1683},{208,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,68}}</string>
                <key>sourceSize</key>
                <string>{210,68}</string>
            </dict>
            <key>resultbox_whowin_xiajia.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1613},{208,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,68}}</string>
                <key>sourceSize</key>
                <string>{210,68}</string>
            </dict>
            <key>resultbox_zhuang_Hu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,590},{112,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,63}}</string>
                <key>sourceSize</key>
                <string>{112,63}</string>
            </dict>
            <key>resultbox_zhuang_beizimo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1837},{156,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,74}}</string>
                <key>sourceSize</key>
                <string>{156,74}</string>
            </dict>
            <key>resultbox_zhuang_dian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,525},{112,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,63}}</string>
                <key>sourceSize</key>
                <string>{112,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>resultBoxImage.png</string>
            <key>size</key>
            <string>{409,2004}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:727a1b8af213037ec1ccffd6b397c3c4:1/1$</string>
            <key>textureFileName</key>
            <string>resultBoxImage.png</string>
        </dict>
    </dict>
</plist>
