<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>complain_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{167,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,209}}</string>
                <key>sourceSize</key>
                <string>{167,209}</string>
            </dict>
            <key>complain_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,185},{160,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,106}}</string>
                <key>sourceSize</key>
                <string>{160,106}</string>
            </dict>
            <key>exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,772},{88,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,38}}</string>
                <key>sourceSize</key>
                <string>{88,38}</string>
            </dict>
            <key>head_dizhu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{115,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,120}}</string>
                <key>sourceSize</key>
                <string>{115,120}</string>
            </dict>
            <key>head_dizhu1_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,862},{113,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{113,120}}</string>
                <key>sourceSize</key>
                <string>{115,120}</string>
            </dict>
            <key>head_dizhu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,689},{128,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{128,122}}</string>
                <key>sourceSize</key>
                <string>{140,122}</string>
            </dict>
            <key>head_dizhu2_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{126,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{126,122}}</string>
                <key>sourceSize</key>
                <string>{140,122}</string>
            </dict>
            <key>head_nongmin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,910},{111,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,104}}</string>
                <key>sourceSize</key>
                <string>{111,104}</string>
            </dict>
            <key>head_nongmin1_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,814},{109,94}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{109,94}}</string>
                <key>sourceSize</key>
                <string>{111,104}</string>
            </dict>
            <key>head_nongmin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,804},{111,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,109}}</string>
                <key>sourceSize</key>
                <string>{111,109}</string>
            </dict>
            <key>head_nongmin2_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,915},{103,105}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{103,105}}</string>
                <key>sourceSize</key>
                <string>{111,109}</string>
            </dict>
            <key>icon_silver.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,710},{60,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{60,64}}</string>
                <key>sourceSize</key>
                <string>{66,70}</string>
            </dict>
            <key>icon_silver_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,988},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{400,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,130}}</string>
                <key>sourceSize</key>
                <string>{400,130}</string>
            </dict>
            <key>lose_img01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,435},{136,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,205}}</string>
                <key>sourceSize</key>
                <string>{136,205}</string>
            </dict>
            <key>lose_img02.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{160,181}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{160,181}}</string>
                <key>sourceSize</key>
                <string>{162,191}</string>
            </dict>
            <key>lose_img03.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,266},{188,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,196}}</string>
                <key>sourceSize</key>
                <string>{188,196}</string>
            </dict>
            <key>lose_img04.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,464},{140,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{140,181}}</string>
                <key>sourceSize</key>
                <string>{162,191}</string>
            </dict>
            <key>result_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,814},{86,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{90,88}</string>
            </dict>
            <key>smoke.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,951},{35,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,92}}</string>
                <key>sourceSize</key>
                <string>{35,92}</string>
            </dict>
            <key>table_bei.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,772},{34,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,32}}</string>
                <key>sourceSize</key>
                <string>{34,32}</string>
            </dict>
            <key>win.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{400,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,130}}</string>
                <key>sourceSize</key>
                <string>{400,130}</string>
            </dict>
            <key>win_gold_tag.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,915},{91,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,96}}</string>
                <key>sourceSize</key>
                <string>{91,96}</string>
            </dict>
            <key>win_img01.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,491},{167,196}}</string>
                <key>offset</key>
                <string>{23,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,133},{167,196}}</string>
                <key>sourceSize</key>
                <string>{237,330}</string>
            </dict>
            <key>win_img02.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,293},{149,196}}</string>
                <key>offset</key>
                <string>{44,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,133},{149,196}}</string>
                <key>sourceSize</key>
                <string>{237,330}</string>
            </dict>
            <key>win_img03.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,606},{177,196}}</string>
                <key>offset</key>
                <string>{15,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,133},{177,196}}</string>
                <key>sourceSize</key>
                <string>{237,330}</string>
            </dict>
            <key>win_img04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,573},{135,202}}</string>
                <key>offset</key>
                <string>{36,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,127},{135,202}}</string>
                <key>sourceSize</key>
                <string>{237,330}</string>
            </dict>
            <key>zongbeishu.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,689},{123,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,38}}</string>
                <key>sourceSize</key>
                <string>{123,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tableresult.png</string>
            <key>size</key>
            <string>{566,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2714fc5c9984a3d8b41b500f8990b8b:1/1$</string>
            <key>textureFileName</key>
            <string>tableresult.png</string>
        </dict>
    </dict>
</plist>
