<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>toolbar_btn_hide_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,147},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>toolbar_btn_hide_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,147},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>toolbar_btn_likai.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,147},{72,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,70}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>toolbar_btn_likai_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,147},{72,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,70}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>toolbar_btn_matchfen_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,2},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>toolbar_btn_matchfen_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,2},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>toolbar_btn_show_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,147},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>toolbar_btn_show_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,147},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>toolbar_icon_chat_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{49,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{49,51}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>toolbar_icon_chat_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,37},{49,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{49,51}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>toolbar_icon_fanxing_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,90},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{53,53}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>toolbar_icon_fanxing_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,90},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{53,53}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>toolbar_icon_huanzhuo_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,90},{47,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{47,55}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>toolbar_icon_huanzhuo_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,90},{47,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{47,55}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>toolbar_icon_huanzhuo_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,90},{47,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{47,55}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>toolbar_icon_setting_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,90},{51,51}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{51,51}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>toolbar_icon_setting_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,90},{51,51}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{51,51}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>toolbar_icon_tips_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{53,53}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{53,53}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>toolbar_icon_tips_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,90},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{53,53}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>toolbar_icon_tuoguan_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,37},{49,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{49,51}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>toolbar_icon_tuoguan_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,37},{49,51}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{49,51}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>toolbar_icon_tuoguan_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,37},{49,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{49,51}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>toolbar_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{15,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,18}}</string>
                <key>sourceSize</key>
                <string>{15,18}</string>
            </dict>
            <key>toolbar_txt_chat_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,2},{78,29}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{78,29}}</string>
                <key>sourceSize</key>
                <string>{82,35}</string>
            </dict>
            <key>toolbar_txt_fanxing_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,2},{70,33}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{70,33}}</string>
                <key>sourceSize</key>
                <string>{82,35}</string>
            </dict>
            <key>toolbar_txt_huanzhuo_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,37},{74,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{74,33}}</string>
                <key>sourceSize</key>
                <string>{82,35}</string>
            </dict>
            <key>toolbar_txt_huanzhuo_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,2},{74,33}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{74,33}}</string>
                <key>sourceSize</key>
                <string>{82,35}</string>
            </dict>
            <key>toolbar_txt_setting_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,2},{72,31}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{72,31}}</string>
                <key>sourceSize</key>
                <string>{82,35}</string>
            </dict>
            <key>toolbar_txt_tips_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,2},{72,31}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{72,31}}</string>
                <key>sourceSize</key>
                <string>{82,35}</string>
            </dict>
            <key>toolbar_txt_tuoguan_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,37},{74,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{74,33}}</string>
                <key>sourceSize</key>
                <string>{82,35}</string>
            </dict>
            <key>toolbar_txt_tuoguan_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,37},{74,33}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{74,33}}</string>
                <key>sourceSize</key>
                <string>{82,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>toolbar_res.png</string>
            <key>size</key>
            <string>{471,219}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5e858ebc995f17498901b13f7f760c3:1/1$</string>
            <key>textureFileName</key>
            <string>toolbar_res.png</string>
        </dict>
    </dict>
</plist>
