<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Resources/img_dengdai.png</key>
			<dict>
				<key>width</key>
				<integer>532</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>532</integer>
				<key>originalHeight</key>
				<integer>86</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Resources/auto/bg_di.png</key>
			<dict>
				<key>width</key>
				<integer>436</integer>
				<key>height</key>
				<integer>190</integer>
				<key>originalWidth</key>
				<integer>436</integer>
				<key>originalHeight</key>
				<integer>190</integer>
				<key>x</key>
				<integer>534</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Resources/auto/btn_qiang_zhuang.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>97</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>192</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Resources/auto/btn_bu_qiang.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>97</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>99</integer>
				<key>y</key>
				<integer>192</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Resources/auto/btn_x5.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>198</integer>
				<key>y</key>
				<integer>192</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Resources/auto/btn_x7.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>280</integer>
				<key>y</key>
				<integer>192</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Resources/auto/btn_x10.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>362</integer>
				<key>y</key>
				<integer>192</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Resources/auto/btn_x15.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>444</integer>
				<key>y</key>
				<integer>192</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Resources/auto/btn_x20.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>526</integer>
				<key>y</key>
				<integer>192</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Resources/auto/btn_yi_niu.png</key>
			<dict>
				<key>width</key>
				<integer>78</integer>
				<key>height</key>
				<integer>136</integer>
				<key>originalWidth</key>
				<integer>78</integer>
				<key>originalHeight</key>
				<integer>136</integer>
				<key>x</key>
				<integer>608</integer>
				<key>y</key>
				<integer>192</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Resources/auto/ddd.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>20</integer>
				<key>originalHeight</key>
				<integer>20</integer>
				<key>x</key>
				<integer>688</integer>
				<key>y</key>
				<integer>192</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Resources/img_geren_dikuang.png</key>
			<dict>
				<key>width</key>
				<integer>504</integer>
				<key>height</key>
				<integer>340</integer>
				<key>originalWidth</key>
				<integer>504</integer>
				<key>originalHeight</key>
				<integer>340</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>330</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Resources/img_nv.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>44</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>506</integer>
				<key>y</key>
				<integer>330</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Resources/gift0.png</key>
			<dict>
				<key>width</key>
				<integer>84</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>84</integer>
				<key>originalHeight</key>
				<integer>84</integer>
				<key>x</key>
				<integer>552</integer>
				<key>y</key>
				<integer>330</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Resources/gift1.png</key>
			<dict>
				<key>width</key>
				<integer>84</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>84</integer>
				<key>originalHeight</key>
				<integer>84</integer>
				<key>x</key>
				<integer>638</integer>
				<key>y</key>
				<integer>330</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Resources/gift2.png</key>
			<dict>
				<key>width</key>
				<integer>84</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>84</integer>
				<key>originalHeight</key>
				<integer>84</integer>
				<key>x</key>
				<integer>724</integer>
				<key>y</key>
				<integer>330</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Resources/gift3.png</key>
			<dict>
				<key>width</key>
				<integer>84</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>84</integer>
				<key>originalHeight</key>
				<integer>84</integer>
				<key>x</key>
				<integer>810</integer>
				<key>y</key>
				<integer>330</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Resources/gift4.png</key>
			<dict>
				<key>width</key>
				<integer>84</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>84</integer>
				<key>originalHeight</key>
				<integer>84</integer>
				<key>x</key>
				<integer>896</integer>
				<key>y</key>
				<integer>330</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Resources/jiemian/btn_bangzhu.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>102</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>672</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Resources/jiemian/btn_start1_liaotian.png</key>
			<dict>
				<key>width</key>
				<integer>106</integer>
				<key>height</key>
				<integer>45</integer>
				<key>originalWidth</key>
				<integer>106</integer>
				<key>originalHeight</key>
				<integer>45</integer>
				<key>x</key>
				<integer>104</integer>
				<key>y</key>
				<integer>672</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Resources/jiemian/btn_start2_liaotian.png</key>
			<dict>
				<key>width</key>
				<integer>106</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>106</integer>
				<key>originalHeight</key>
				<integer>46</integer>
				<key>x</key>
				<integer>212</integer>
				<key>y</key>
				<integer>672</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Resources/jiemian/btn_start1_biaoqing.png</key>
			<dict>
				<key>width</key>
				<integer>106</integer>
				<key>height</key>
				<integer>45</integer>
				<key>originalWidth</key>
				<integer>106</integer>
				<key>originalHeight</key>
				<integer>45</integer>
				<key>x</key>
				<integer>320</integer>
				<key>y</key>
				<integer>672</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Resources/jiemian/btn_start2_biaoqing.png</key>
			<dict>
				<key>width</key>
				<integer>106</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>106</integer>
				<key>originalHeight</key>
				<integer>46</integer>
				<key>x</key>
				<integer>428</integer>
				<key>y</key>
				<integer>672</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Resources/jiemian/btn_start1_changyongyu.png</key>
			<dict>
				<key>width</key>
				<integer>106</integer>
				<key>height</key>
				<integer>45</integer>
				<key>originalWidth</key>
				<integer>106</integer>
				<key>originalHeight</key>
				<integer>45</integer>
				<key>x</key>
				<integer>536</integer>
				<key>y</key>
				<integer>672</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Resources/jiemian/btn_start2_changyongyu.png</key>
			<dict>
				<key>width</key>
				<integer>106</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>106</integer>
				<key>originalHeight</key>
				<integer>46</integer>
				<key>x</key>
				<integer>644</integer>
				<key>y</key>
				<integer>672</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Resources/jiemian/bg_liaotian_di2.png</key>
			<dict>
				<key>width</key>
				<integer>382</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>382</integer>
				<key>originalHeight</key>
				<integer>94</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>720</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Resources/jiemian/bg_liaotian_di3.png</key>
			<dict>
				<key>width</key>
				<integer>258</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>258</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>384</integer>
				<key>y</key>
				<integer>720</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Resources/jiemian/btn_fasong.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>102</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>644</integer>
				<key>y</key>
				<integer>720</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>UINiuNiu1.png</string>
			<key>realTextureFileName</key>
			<string>UINiuNiu1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>