<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Head_Common_Female.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,268},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Head_Common_Male.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Head_back_online_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{224,76}}</string>
                <key>sourceSize</key>
                <string>{226,78}</string>
            </dict>
            <key>Head_back_up_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{186,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{186,76}}</string>
                <key>sourceSize</key>
                <string>{190,78}</string>
            </dict>
            <key>Head_beans_wan.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{24,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>Head_beans_yi.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,268},{32,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,28}}</string>
                <key>sourceSize</key>
                <string>{32,28}</string>
            </dict>
            <key>Head_head_default.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{66,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{66,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Head_icon_bean.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,28},{24,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{24,20}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>Head_icon_scorebean.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,50},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>Head_icon_scorebean_default.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,75},{20,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,6}}</string>
                <key>sourceSize</key>
                <string>{20,6}</string>
            </dict>
            <key>Head_item_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,158},{30,34}}</string>
                <key>offset</key>
                <string>{15,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,32},{30,34}}</string>
                <key>sourceSize</key>
                <string>{100,78}</string>
            </dict>
            <key>Head_item_buy_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,28},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{100,78}</string>
            </dict>
            <key>Head_state_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,259},{73,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,44}}</string>
                <key>sourceSize</key>
                <string>{73,44}</string>
            </dict>
            <key>Head_word_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,259},{83,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{83,37}}</string>
                <key>sourceSize</key>
                <string>{85,37}</string>
            </dict>
            <key>Head_word_me.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,80},{81,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{81,35}}</string>
                <key>sourceSize</key>
                <string>{85,37}</string>
            </dict>
            <key>Head_word_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,229},{83,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{83,37}}</string>
                <key>sourceSize</key>
                <string>{85,37}</string>
            </dict>
            <key>Head_word_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,190},{85,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,37}}</string>
                <key>sourceSize</key>
                <string>{85,37}</string>
            </dict>
            <key>head_back_left_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{99,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,150}}</string>
                <key>sourceSize</key>
                <string>{99,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>userHead.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ba38b875ad57a32ea437f6d9a493880$</string>
            <key>textureFileName</key>
            <string>userHead.png</string>
        </dict>
    </dict>
</plist>
