<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>result_box_dahu_star.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {35, 33}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{35, 33}</string>
			<key>spriteSourceSize</key>
			<string>{37, 37}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{672, 359}, {33, 35}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>resultbox_dahu_word_shine_slider.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 38}, {184, 251}}</string>
			<key>spriteOffset</key>
			<string>{10, 8}</string>
			<key>spriteSize</key>
			<string>{184, 251}</string>
			<key>spriteSourceSize</key>
			<string>{354, 343}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{659, 0}, {184, 251}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>xlch_account_num_00.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {43, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{43, 60}</string>
			<key>spriteSourceSize</key>
			<string>{47, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{672, 253}, {43, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>xlch_account_num_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 1}, {33, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{33, 58}</string>
			<key>spriteSourceSize</key>
			<string>{47, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{716, 358}, {58, 33}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>xlch_account_num_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {45, 60}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{45, 60}</string>
			<key>spriteSourceSize</key>
			<string>{47, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{189, 182}, {60, 45}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>xlch_account_num_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {47, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{47, 60}</string>
			<key>spriteSourceSize</key>
			<string>{47, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{470, 176}, {60, 47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>xlch_account_num_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {47, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{47, 58}</string>
			<key>spriteSourceSize</key>
			<string>{47, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{532, 176}, {58, 47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>xlch_account_num_05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {43, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{43, 60}</string>
			<key>spriteSourceSize</key>
			<string>{47, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{313, 182}, {60, 43}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>xlch_account_num_06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {41, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{41, 60}</string>
			<key>spriteSourceSize</key>
			<string>{47, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{716, 315}, {60, 41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>xlch_account_num_07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {45, 60}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{45, 60}</string>
			<key>spriteSourceSize</key>
			<string>{47, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{251, 182}, {60, 45}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>xlch_account_num_08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {43, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{43, 60}</string>
			<key>spriteSourceSize</key>
			<string>{47, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{592, 176}, {43, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>xlch_account_num_09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {41, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{41, 60}</string>
			<key>spriteSourceSize</key>
			<string>{47, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{717, 253}, {60, 41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>xlch_finalresult_ci.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {51, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{51, 47}</string>
			<key>spriteSourceSize</key>
			<string>{51, 49}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{136, 182}, {51, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>xlch_finalresult_hu.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {51, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{51, 49}</string>
			<key>spriteSourceSize</key>
			<string>{51, 49}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{417, 176}, {51, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>xzdd_animation_liuju.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {236, 125}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{236, 125}</string>
			<key>spriteSourceSize</key>
			<string>{236, 125}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{417, 49}, {236, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>xzdd_finalresult_center_bk.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {23, 439}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{23, 439}</string>
			<key>spriteSourceSize</key>
			<string>{23, 443}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{845, 0}, {23, 439}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>xzdd_finalresult_champion_stamp.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {42, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{42, 42}</string>
			<key>spriteSourceSize</key>
			<string>{42, 42}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{672, 315}, {42, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>xzdd_finalresult_happybean.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {39, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{39, 35}</string>
			<key>spriteSourceSize</key>
			<string>{39, 35}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{375, 182}, {35, 39}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>xzdd_finalresult_happybean_add.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {23, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{23, 26}</string>
			<key>spriteSourceSize</key>
			<string>{25, 30}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{470, 225}, {26, 23}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>xzdd_finalresult_happybean_sub.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{25, 8}</string>
			<key>spriteSourceSize</key>
			<string>{25, 8}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{498, 225}, {25, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>xzdd_finalresult_liushui_item_bg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {657, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{657, 47}</string>
			<key>spriteSourceSize</key>
			<string>{661, 47}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {657, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>xzdd_finalresult_liushui_tab_normal.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {127, 219}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{127, 219}</string>
			<key>spriteSourceSize</key>
			<string>{127, 219}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{870, 0}, {127, 219}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>xzdd_finalresult_liushui_tab_selected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {134, 439}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{134, 439}</string>
			<key>spriteSourceSize</key>
			<string>{134, 439}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{136, 441}, {439, 134}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>xzdd_finalresult_summary_champion_item_bg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {279, 131}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{279, 131}</string>
			<key>spriteSourceSize</key>
			<string>{279, 131}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{136, 49}, {279, 131}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>xzdd_finalresult_summary_loser_item_bg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {279, 131}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{279, 131}</string>
			<key>spriteSourceSize</key>
			<string>{279, 131}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 491}, {131, 279}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>xzdd_finalresult_summary_tab_normal.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {127, 218}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{127, 218}</string>
			<key>spriteSourceSize</key>
			<string>{127, 218}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{870, 221}, {127, 218}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>xzdd_finalresult_summary_tab_selected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {134, 440}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{134, 440}</string>
			<key>spriteSourceSize</key>
			<string>{134, 440}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 49}, {134, 440}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>xzdd_finalresult_title_bg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 6}, {387, 111}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{387, 111}</string>
			<key>spriteSourceSize</key>
			<string>{401, 123}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{133, 694}, {387, 111}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>xzdd_finalresult_title_huazhu.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 1}, {233, 124}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{233, 124}</string>
			<key>spriteSourceSize</key>
			<string>{239, 126}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{778, 826}, {233, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>xzdd_finalresult_title_hupai.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {231, 120}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{231, 120}</string>
			<key>spriteSourceSize</key>
			<string>{233, 126}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 772}, {120, 231}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>xzdd_finalresult_title_paijujiesu.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 4}, {383, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{383, 118}</string>
			<key>spriteSourceSize</key>
			<string>{385, 126}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{778, 441}, {118, 383}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>xzdd_finalresult_title_shule.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {221, 122}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{221, 122}</string>
			<key>spriteSourceSize</key>
			<string>{225, 126}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{898, 441}, {122, 221}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>xzdd_finalresult_title_xiaoyingyiba.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 11}, {401, 104}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{401, 104}</string>
			<key>spriteSourceSize</key>
			<string>{403, 126}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{672, 441}, {104, 401}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>xzdd_finalresult_title_zimo.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 6}, {214, 116}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{214, 116}</string>
			<key>spriteSourceSize</key>
			<string>{218, 126}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{522, 694}, {116, 214}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>xzdd_pad_finalresult_liushui_tab_normal.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {89, 218}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{89, 218}</string>
			<key>spriteSourceSize</key>
			<string>{89, 218}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{356, 348}, {218, 89}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>xzdd_pad_finalresult_liushui_tab_selected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {93, 439}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{93, 439}</string>
			<key>spriteSourceSize</key>
			<string>{93, 439}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{577, 253}, {93, 439}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>xzdd_pad_finalresult_summary_tab_normal.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {89, 218}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{89, 218}</string>
			<key>spriteSourceSize</key>
			<string>{89, 218}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{136, 348}, {218, 89}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>xzdd_pad_finalresult_summary_tab_selected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {93, 439}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{93, 439}</string>
			<key>spriteSourceSize</key>
			<string>{93, 439}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{136, 253}, {439, 93}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5 GM</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>